{% extends "base.html" -%}
{% block content %}
<div id="onecol">
<section>
<article class="copyright">
<h1>SuttaCentral Copyright</h1>

<p>Material on SuttaCentral falls in three distinct categories in relation to copyright, which are detailed below. If you wish to assert copyright over any material on SuttaCentral, or wish to discuss copyright on SuttaCentral, please do not hesitate to contact us.</p>

<h2>1. Original material created by SuttaCentral</h2>

<p>All original material created by SuttaCentral is dedicated to the Public Domain as per <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative Commons Zero (CC0 1.0 Universal)</a>.</p>

<p>This includes all text, design, software, and images created by SuttaCentral or persons working for SuttaCentral, on the domain legacy.suttacentral.net, or any domains or subdomains owned or managed by SuttaCentral, unless otherwise specified.</p>

<p>You are invited to copy, alter, redistribute, present, perform, convey or make use of any or all of this material in any way you wish. We would appreciate a notice of attribution, but this is not necessary. Please let us know if you would like any assistance in making use of our materials.</p>

<h2>2. Material created by others and made available for SuttaCentral</h2>

<p>For certain of the material on SuttaCentral the copyright has been asserted by third parties. This includes most of the translated texts. In such cases the terms of the copyright are specified by the copyright asserter, who is usually the translator or original publisher. Such material is used in accord with the licence, or by permission. The relevant copyright notices as specified by the asserter of copyright are included with the material.</p>

<h2>3. Public domain material</h2>

<p>The original texts of Buddhism in Pali, Chinese, Sanskrit, Tibetan, and other languages are in the <a href="http://creativecommons.org/publicdomain/mark/1.0/" target="_blank">public domain</a>. Copyright assertions regarding such material have no legal basis.</p>

<p>In addition, the reference data, including information on parallels, is not an “original creation” and as such does not fall within the scope of copyright.</p>
</article>
</section>
</div>
{%- endblock %}
