__pycache__
.python-version
*.pyc
local.conf
daemonize
newrelic.ini
data
*.log
*.log.*
*~
text_images
static/js/sc_uid_expansion_data.js
utility/out/
utility/suttacen/
utility/tables/
utility/vinaya
utility/*/*/

