# Install these requirements with pip install -r requirements.txt
CherryPy>=3.2.4
mysql-connector-python>=1.0.9
Jinja2>=2.7
regex
plumbum>=1.2.0
colorama>=0.2.5
lxml
cssselect
httplib2
selenium>=2.33.0
webassets==dev
jsmin
cssutils
newrelic>=2.0.0.1
