// Styles for the color sample page

@mixin color-page-block($name) {
    $val: $#{$name};
    .b-#{$name} {
        min-height: 3em;
        border: 1px solid black;
        padding: 0.5em;
        @include monospace;
        font-size: 0.8em;
        line-height: 1.3em;
        text-align: center;
        background-color: $val;
        @if lightness($val) > 60% {
            color: black;
        } @else {
            color: white;
        }
    }
}

#colors-page {

    & > .container {
        @include grid-container;
        & > .unit {
            @include grid-unit(25%, 0.5em, 0.25em);
        }
    }

    h2 {
        margin-top: 1em;
    }

    $types: "pastel-" "saturated-";
    $styles: "" "dirty-" "dark-" "bright-" "light-";
    $colors: "yellow" "green" "red" "purple";

    @each $type in $types {
        @each $style in $styles {
            @each $color in $colors {
                @include color-page-block(#{$style}#{$type}#{$color});
            }
        }
    }

    $others: "cool-blue", "bright-cool-blue",
             "light-off-white", "off-white",
             "light-light-gray", "light-gray",
             "light-gray", "light-medium-gray",
             "medium-gray", "dark-medium-gray", "dark-gray";

    @each $name in $others {
        @include color-page-block($name);
    }
}
