.define {
    padding-top: 2em;

    h1, h2 {
        width: 70%;
        float: right;
    }

    .source {
        float: right;
        margin-right: 1em;
        padding: 0.2em 0 0 0;
        color: misc-color(medium-gray);
    }

    .this {
        font-weight: bold;

        &:before {
            content: "▸ "
        }

        em {
            font-weight: normal;
        }
    }

    .grammar, .grammar + dd {
        display: inline-block;
        font-size: 0.85em;
        color: misc-color(medium-gray);
    }
    
    dfn {
        font-style: normal;
        font-weight: bold;
        text-transform:lowercase;
    }
    
    dd {
        margin: 0 0 0.75em;
    }

    dd .term {
        font-weight: normal;
    }

    .book_entry + .book_entry {
        border-top: 1px solid #ccc;
    }

    .eti {
        color: misc-color(medium-gray);
        font-size: 0.85em;
    }


    .related_terms {
        width: 20%;
        float: left;
        margin: 0 1em;
    }
    
    .near_terms ul,.fuzzy_terms ul {
        margin-left:0;
    }
    
    .related_terms h3{
        margin:1em 0;
    }
    
    dd.info{
        display:none;
    }

    ul {
        list-style: none;
        margin: 0;
    }
    
    .ref {
        @include sans-serif;
        color:#565656;
        font-size:0.8em;
        background:misc-color(light-light-gray);
        padding: .2em .3em 0.1em .3em;
        border-radius: 3px;
        border: 1px solid misc-color(light-gray);
        margin:0 0.1em;
    }

    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        width: 50%;
        height: 50%;
        margin-left: 1em;
        margin-bottom: 1em;
        float:right;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

}

.advanced-search-link + p,
#main_search_results label,
#main_search_results select,
#main_search_results button {
    @include sans-serif;
}
