label.frequency {
    background: $pastel-purple;
    width: 5em;
    height: 1em;
    padding: 0.5em;
    border-radius: 4px;
}

label.frequency.checked {
    background: $light-pastel-purple;
}


#stripe-form {
    margin: 1em auto 2em;
    text-align: center;
}

.currency-input  {
    padding:  3px 6px;
    font-size:  120%;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    border-radius: 3px;
    box-shadow:  0px 0px 3px black inset;
    background: #fff;
    margin: 0.5em 1em 0 0;
}

.currency-input > input  {
    margin-left:  0.25em;
    border:  none;
    outline:  none;
    width:  5em;
}


.donate-button {
    font-size:  120%;
    display: inline-block;
    background: $dark-saturated-green;
    font-family: 'hetu_schetu_sc', 'Source Sans Pro', sans-serif;
    text-transform: lowercase;
    vertical-align: middle;
    border-radius: 50%;
    color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border: 1px solid $dark-pastel-red;
    width: 4em;
    height: 4em;
    line-height: 1;
}

.donate-button: hover {
    background: $saturated-green;
    box-shadow: 1px 1px 5px rgba(200,200,200,1);
}
.donate-button: active {
    background: $bright-saturated-green;
    box-shadow: 1px 1px 5px rgba(200,200,200,1);
}
.home-announcement {
    max-width: 40em;
    margin: 5em auto;
    text-align: center;
    border-radius: 3px;
    background: $pastel-red;
    padding: 1em;
    border: 1px solid $dark-pastel-red;
}

.footer-donate {
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
}

.footer-donate-button {
    background: $dark-saturated-green;
    padding: 0.5em 1em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border: 1px solid $dark-pastel-red;
    
}

.footer-donate-button: hover {
    background: $saturated-green;
    box-shadow: 1px 1px 5px rgba(200,200,200,1);
}

.footer-donate-button: active {
    background: $bright-saturated-green;
    box-shadow: 1px 1px 5px rgba(200,200,200,1);
}
