// Styles for the fonts sample page

#fonts-page {

    p {
        font-size: 24px;
        line-height: 1.2em;
        margin: 0.1em 0 0.5em 1em;
        padding: 0;
    }
    
    h2 {
        margin: 1em 0;
    }

    .ligatures-on {
        @include font-feature-settings("kern" 1, "liga" 1, "dlig" 1);
    }

    .ligatures-off {
        @include font-feature-settings("kern" 0, "liga" 0, "dlig" 0);
    }

    .default {
        font-family: serif;
    }

    .serif {
        @include serif;
    }

    .serif-sc {
        @include serif-small-caps;
    }

    .sans-serif {
        @include sans-serif;
    }

    .sans-serif-sc {
        @include sans-serif-all-small-caps;
    }

}
