/* Home Page */

$home-tabs-background-color: $light-pastel-green;
$home-tabs-text-color: $body-background-color;
$home-tabs-active-color: $pastel-green;
$home-tabs-hover-color: $dark-pastel-green;
$home-shadow-color: rgba($medium-gray, 0.3);
$home-line-color: $light-gray;
$home-link-hover-color: $light-light-gray;
$home-heading-color: $dark-medium-gray;

$home-tabs-height: 2em;

#home-tabs {
    width: 100%;
    height: $home-tabs-height;
    line-height: $home-tabs-height;
    background-color: $home-tabs-background-color;

    @media #{$mobile} {
       
    }

    @media print {
        display: none;
    }

    & > .tabs {
        margin: 0 auto;
        max-width: $page-max-width;
        height: 100%;

        li {
            width: 24.5%;
            margin: 0;
            border-right: 1px solid $home-tabs-text-color;
            float: left;
            list-style-type: none;
            
            &:last-child {
                border-right: none;
            }

            & > a {
                display: block;
                padding: 0 0 0 0.75em;
                color: $home-tabs-text-color;
                background-color: $home-tabs-background-color;
                @include sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                overflow: hidden;
                letter-spacing:0.1em;

                @media #{$mobile} {
                    padding-left: 0.5em;
                }

                &:hover {
                    background-color: $home-tabs-hover-color;
                }
            }

            &.active > a {
                color: $home-tabs-active-color;
                background-color: $home-tabs-text-color;
            }
        }
    }
}

#home-content {
    margin: 2em auto;
    max-width: $page-max-width;
    overflow: auto;

    @media #{$mobile} {
        margin: 0.5em auto;
    }

    h3 {
        font-size: 1.2em;
    }
}

#home-main {

    .pitaka {

        @include grid-container;
        margin-bottom: 3em;

        margin: 0 auto;
        
        & > h1 {
            @include serif-small-caps;
            margin: 1em 0 0.5em;
            font-size: 2em;
            text-align: center;
            color: $home-heading-color;
        }

        &.columns-5 .column {
            @include grid-unit(19%, 0.5em, 0.5em);
            min-width: 12em;
        }

        &.columns-4 .column {
            @include grid-unit(24%, 0.5em, 0.5em);
            min-width: 12em;
        }

        &.columns-3 .column {
            @include grid-unit(32%, 0.5em, 0.5em);
            min-width: 12em;
        }

    }

    .language {
        padding: 0.5em;
        border: 1px solid rgba($home-line-color, 0.3);
        border-radius: 0.3em;
        box-shadow: 0 0 0.3em $home-shadow-color;
        background-color: $off-white;

        & > h2 {
            margin: 0.5em 0 0.5em 0.35em;
            font-size: 1.5em;
            font-weight: normal;
            color: $home-heading-color;
        }
    }

    .sect {

        margin: 0 0 0.5em;
        padding: 0;
        border: 1px solid $home-line-color;
        border-radius: 0.25em;
        list-style: none;
        background-color: white;

        &:last-child {
            margin-bottom: 0;
        }

        & > li {

            border-bottom: 1px solid $home-line-color;

            &.group-with-next {
                border-bottom: 1px solid white;
            }

            &:last-child {
                border-bottom: none;
            }

            & > h3 {
                margin: 0;
                padding: 0.75em 0.5em 0.5em;
                border-radius: 0.25em;
                font-size: 1.1em;
                font-weight: bold;
                color: $home-heading-color;
                background-color: $light-off-white;
                cursor: default;
            }

            & > a {

                display: block;
                padding: 0.4em 0.5em;
                padding-right: 1px;
                line-height: 1.75em;

                &:hover:not(.no-suttas) {
                    background-color: $home-link-hover-color;
                }
                
                &.no-suttas {
                    color: $dark-pastel-green;
                }   
            }
        }
    }
}

#home-sutta {
    white-space: nowrap;
    li {
        overflow: hidden;
    }
}
#home-vinaya {
    word-break: break-word;
}
