/* Home Page */

#home {
    max-width: 40em;
    padding: 0;
    margin: 0 0.5em;
    &.pitaka_page {
        max-width: 65em;
    }
    .hgroup {
        margin: 0 0 4em 0;
    }
    h1 {
        @include serif-small-caps;
        color: misc-color(medium-gray);
        text-align: center;
        letter-spacing: 0.02em;
        margin: 0;
        font-size: 3em;
    }
    .subtitle {
        color: misc-color(medium-gray);
        text-align: center;
        font-style: italic;
        font-size: 1.5em;
    }
    .epigraph {
        margin: 0 5% 4em;
        border: 1px solid misc-color(light-gray);
        padding: 1.5em 1.5em 0 1.5em;
        .read-this {
            text-align: right;
            @include sans-serif-small-caps;
            text-transform: lowercase;
        }
        .read-this a {
            padding: 0.2em 0.4em;
        }
        .read-this a:hover {
            background: misc-color(light-light-gray);
        }
    }
    .epigraph-text {
        font-style: italic;
    }
    .epigraph-reference {
        margin-top: 0;
        margin-bottom: 0.5em;
        letter-spacing: 0.02em;
        @include serif-small-caps;
        text-transform: lowercase;
        font-style: normal;
    }
    .epigraph-parallels {
        font-size: 0.85em;
        line-height: 1.2;
    }

}

#intro {
    .introduction p {
        max-width: 40rem;
        margin: 0 auto 1rem;
    }
    .introduction p:nth-of-type(1) {
        margin-top: 410px;
    }
    .image-home, .image-home-big {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto 2em;
        margin-left: -1em;
        background-color: red;
    }
    .wheel1 {
        position: relative;
        top: 120px;
        z-index: 1;
        font-size: 14em;
        color: #F77C6F;
        margin: 0 auto;
        text-align: center;
        line-height: 0px;
        text-shadow: 3px 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
    .wheel2 {
        position: relative;
        left: 10%;
        top: 210px;
        z-index: 2;
        font-size: 16em;
        color: #62DA7C;
        margin: 0 auto;
        text-align: center;
        line-height: 0px;
        text-shadow: 3px 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
    .wheel3 {
        position: relative;
        left: -10%;
        top: 270px;
        z-index: 3;
        font-size: 17em;
        color: #9161D0;
        margin: 0 auto;
        text-align: center;
        line-height: 0px;
        text-shadow: 3px 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
    section {
        margin: 5%;
        overflow: hidden;
        padding: 2rem;
        font-size: 1.2em;
    }
    summary {
        padding: 1em;
        text-align: center;
        font-size: 1.2em;
        color: pastel-color(dirty-green);
        font-weight: bold;
        border: 0;
        cursor: pointer;
    }
    details[open] summary {
        background: pastel-color(dirty-green);
        color: white;
    }
    
    // @include if-screen-wider($small-width) {
    //     .image-home {
    //         width: 50%;
    //         float: right;
    //         margin: 0 0 2em 2em;
    //     }
    //     .image-home-big {
    //         width: 70%;
    //         float: right;
    //         margin: 0 0 2em 2em;
    //     }
    // }
    
    // @include if-screen-wider($med-width) {
    //     .image-home {
    //         width: 35%;
    //         float: right;
    //         margin: 0 0 2em 2em;
    //     }
    //     .image-home-big {
    //         width: 50%;
    //         float: right;
    //         margin: 0 0 2em 2em;
    //     }
    // }
}
