table {
    td {
        padding-left: 2em;
    }
    .collection {
        text-align: center;
        font-variant: small-caps;
        font-size: 1.2em;
        padding-left: 0.75em;
    }
    .language {
        font-variant: small-caps;
        text-align: center;
        font-size: 1.7em;
        padding-left: 0.75em;
    }
    .division {
        font-size: 1.1em;
        color: #494949;
        padding-left: 1.5em;
        padding-left: 0.75em;
    }
    .subdivision {
        font-size: 85%;
        padding-left: 1.1em;
    }
}

#intro {
    padding-bottom: 2em;
}

.extras:before {
    content: "[";
}
.extras:after {
    content: "]";
}
