.language, .collection, .division, .subdivision {
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1em;
    font-weight: bold;
}

.subdivision {
    font-size: 95%;
    padding-left: 1.5em;
}


.collection {
    margin-left: 4em;
}

#intro {
    padding-bottom: 2em;
}

.extras:before {
    content: "[";
}
.extras:after {
    content: "]";
}
