
#parallel-citation {
    margin-top:0.5em;

       & > input {
       
       color:#565656;
     
    }

    & > button {
        padding: .25em 0.5em;
        border: 0;
        box-shadow:0 0 1px rgba(0,0,0,0.8)inset;
        
        background:0;
        color:#565656;
        @include sans-serif;

        &:hover {
            background:#eee;
        }

        &:active {
            background:#ddd;
        }
        &.copied {
            background: #bbb;
            transition: all 0.20s ease;
        }
        transition: all 0.20s ease;
    }

    @media print {
        display: none;
    }
}

td {
    .expanded {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        margin-top:-3em;
        background: misc-color(light-light-gray);
        border-radius: 0.5em;
        
        transition: 2s;
    }
        
    &:hover .expanded {
        opacity: 1;
        visibility:visible;
        
        transition: 2s;
    }
}

.group-with-next:first-of-type {
    
}

tr.group-with-next {
    td,
    + tr td {
        border-bottom: none;
        border-top-width: 2px;
        padding: 0.6em 1em;
        background-color: misc-color(off-white);
        background-color: red;
    }
}


