

#parallel-citation {
    margin-top:1em;

   

    & > input {
        display:none;
    }

    & > button {
    padding: 0.25em 0.5em;
    background:0;
    color:#565656;
        border: 1px solid #565656;
        display:block;
        @include sans-serif;
        border-radius:50%;

        &.hover {
            background:#eee;
        }

        &.active {
            background:#ddd;
        }
    }

    @media print {
        display: none;
    }
}

td {
    .expanded {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        margin-top:-3em;
        background: $light-light-gray;
        border-radius: 0.5em;
        
        transition: 2s;
    }
        
    &:hover .expanded {
        opacity: 1;
        visibility:visible;
        
        transition: 2s;
    }
}

.group-with-next:first-of-type {
    
}



tr.group-with-next td {
    border-bottom: none;
    border-top-width: 2px;
    padding: 0.6em 1em;
    background-color:$off-white;
}

tr.group-with-next + tr td {
    border-top: none;
    border-bottom-width: 2px;
    padding: 0.6em 1em;
    background-color:$off-white;
}

