$citation-border-color: $medium-gray;

#parallel-citation {
    margin-top:0.5em;

    
    & > input {
       display:none;
    }

    & > button {
    padding: .25em 0.5em;
       border: 0;
        box-shadow:0 0 1px rgba(0,0,0,0.8)inset;
        border-radius: 50%;
        background:0;
        color:#565656;
        @include sans-serif;

        &.hover {
            background:#eee;
        }

        &.active {
            background:#ddd;
        }
    }

    @media print {
        display: none;
    }
}

td {
    .expanded {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        margin-top:-3em;
        background: $light-light-gray;
        border-radius: 0.5em;
        
        transition: 2s;
    }
        
    &:hover .expanded {
        opacity: 1;
        visibility:visible;
        
        transition: 2s;
    }
}

.group-with-next:first-of-type {
    
}



tr.group-with-next td {
    border-bottom: none;
    border-top-width: 2px;
    padding: 0.6em 1em;
    background-color:$off-white;
}

tr.group-with-next + tr td {
    border-top: none;
    border-bottom-width: 2px;
    padding: 0.6em 1em;
    background-color:$off-white;
}

