/*
$search-terms-ref-color: $medium-gray;

.text_results .details {
    float: none;
}

.terms, .text_results {
    list-style: none;
}

.terms a.ref, .terms span.precision {
    color: $search-terms-ref-color;
    font-style: italic;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

.terms span.precision{ color: gray}
/*.terms span.precision:before{ content: ' (~'}
.terms span.precision:after{ content: ') '}*/
/*
.terms .type {visibility: hidden}

.text_results	{margin-bottom:-1em}
    

.text_results table {margin-top:1em}
*/

ul.results {
    list-style: none;
    li {
        position: relative;
        .type {
            position: absolute;
            width: 10em;
            text-align:right;
            right: 1em;
            color: grey;
            font-size: 75%;
        }            
    }
    
    .crumbs{
        :link {
            color: $saturated-green;
        }

        :visited {
            color: $dark-saturated-green;
        }
        a[href]:hover {
            color: $dark-saturated-red * 0.7 + $dark-saturated-green * 0.3;
        }
    }
}

li.result > a {
    font-size: 110%;
}

#main_search_results {
    max-width: 40rem;
    margin: 6em auto;
}

.close-button {
    position: absolute;
    right: 0;
    margin: 1em;
    font-size: 150%;
    line-height: 1em;
    width: 1em;
    height: 1em;
    &:hover {
        cursor: pointer;
    }
}

#search-nav {
    margin: auto;
    
    td {
        border-top: none;
        border-bottom: none;
    }
}

.search-nextprev {
    text-align: center;
    width: 4em;
    display: inline-block;
}
.search-page {
    text-align: center;
    width: 1em;
    display: inline-block;
}
