.search-box   {
    background: misc-color(light-light-gray);
    padding: 1em 2%;
    margin-bottom:1em;
    border: 1px solid  misc-color(light-gray);
}
#page-main-search {
    > input, > button, > select {
        background: white;
        cursor: pointer;
        border: 1px solid  misc-color(light-gray);
        margin:0em 0.5em;
        padding:0.2em 0.5em;
    }
        > input:hover, > button:hover, > select:hover {
        background:  misc-color(light-gray);
          }
    select {
        cursor: pointer;
    }
    .search-submit  {
    right:1em!important;
    top:0.25em!important;
    }
    input{
     margin-bottom:1em;
     padding:0.2em 0.5em;
     width:95%;
     border:1px solid  misc-color(light-gray);
    border-radius: 1.5em;
    }
    .input-wrap {
        position: relative;
        .search-submit {
            position: absolute;
            right: 0.55em;
            top: 0.15em;
        }
    }
}

        

ul.results {
    list-style: none;
    margin:0;
    li {
        position: relative;
        .type {
            position: absolute;
            width: 10em;
            text-align:right;
            right: 0em;
            color: grey;
            font-size: 75%;
            @include sans-serif;
        }            
    }
    
    .crumbs{
        :link {
            color:  saturated-color(plain-green);
        }

        :visited {
            color:  saturated-color(dark-green);
        }
        a[href]:hover {
            color:  saturated-color(dark-red) * 0.7 +  saturated-color(dark-green) * 0.3;
        }
    }
}

li.result > a {
    font-size: 110%;
}

#main_search_results {
    max-width: 40rem;
    margin: 4em auto;
}

.close-button {
    position: absolute;
    right: 0;
    margin: 1em;
    font-size: 150%;
    line-height: 1em;
    width: 1em;
    height: 1em;
    &:hover {
        cursor: pointer;
    }
}

#search-nav {
    margin: auto;
    @include sans-serif;
    
    td {
        border-top: none;
        border-bottom: none;
    }
}

.search-nextprev {
    text-align: center;
    display: inline-block;
}
.search-page {
    text-align: center;
    display: inline-block;
}

#advanced-search {
    margin: auto;
    max-width: 40em;
    margin: auto;
    
    &> form {
        text-align: left;
        max-width: 30em;
        margin: 0.5em auto;
    }
    .controls {
        width: 95%;
    }
    .field-box {
        margin: 0.5em 0em;
        label {
            width: 5em;
            display: inline-block;
        }
        .input-wrap {
            display: inline-block;
            width: 4em;
        }
        input {
            width: 100%;
        }
    }
    .field-box.wide {
        .input-wrap {
            width: 16em;
        }
    }
}

.advanced-search-link {
    float: right;
    @include sans-serif;
}
