{% extends "language/generic.html" %}
{% block introduction %}
<section id="home">
<div class="hgroup">
<h1>SuttaCentral</h1>
<p class="subtitle">Vroeg-Boeddhistische teksten, vertalingen, en parallellen</p>
</div>
</section>
<div id="intro">
<details><summary>Introductie tot SuttaCentral</summary>
<section class="introduction">
<div class="wheel1">☸</div>
<div class="wheel2">☸</div>
<div class="wheel3">☸</div>
<p>Sinds 2500 jaar hebben Boeddhistische gemeenschappen de wijsheid van de Boeddha bewaard in duizenden teksten, overgeleverd in Pali, Chinees, Tibetaans en andere talen.</p>
<p>Hoe zou het zijn als we deze samen zouden brengen en presenteren met behulp van de beste technologieën en design, dat het moderne internet momenteel kan bieden?</p>
<p>Wat als we de grenzen van taal en traditie zouden verwijderd en de Boeddha zelf aan het woord zouden laten?</p>
<p>Dit is SuttaCentral.</p>
</section>
<section class="feel">
<h1>“Voor wie voelt”</h1>
<p><img class="image-home" data-src="/img/15.jpg">
De woorden van de Boeddha zijn één van de grote spirituele literaturen van de mensheid. En voor diegenen, die zijn pad volgen, zijn ze niets minder dan de sleutel tot de bevrijding. Nu bijna de helft van de wereldbevolking van het internet gebruik maakt, zijn deze beleringen nu beschikbaar voor meer mensen dan ooit tevoren.</p>
<p>SuttaCentral is speciaal gericht op de geschriften van de vroegste periode en bevat teksten in meer dan dertig talen. Wij geloven dat dit de grootste collectie van vroeg-Boeddhistische teksten is die ooit gemaakt is. We hebben ook een forum, gewijd aan de bespreking van vroeg-Boeddhistische teksten, waar u kunt deelnemen aan de discussie, vragen kunt stellen en andere bronnen kunt ontdekken.</p>
<p>Als u niet zeker weet waar u met SuttaCentral beginnen kunt, is er een uitstekend gestructureerde online cursus op ons forum (in het Engels), dat gebaseerd is op het boek <i>&quot;In the Buddha's Words&quot;</i> door Bhikkhu Bodhi.</p>
</section>
<section class="content">
<h1>Inhoud</h1>
<p><img class="image-home" data-src="/img/11.jpg">
SuttaCentral bevat gedetailleerde referenties, toont de relaties tussen teksten in de verschillende collecties, en waar mogelijk, biedt oorspronkelijke teksten en vertalingen.</p>
<p>Teksten bevatten o.a. de Pali canon van de Theravāda school, die we zowel in moderne vertalingen als in het originele Pali hebben. SuttaCentral bevat ook de vroege Agama teksten uit de Taishō editie van de Chinese canon, evenals referenties voor de Tibetaanse Kangyur, Sanskriet en andere talen, die veel kleiner in aantal dan de Pali en Chinese collecties zijn.</p>
<p>SuttaCentral biedt uitgebreide bronnen m.b.t. de Boeddhistische Ordensregels (Vinaya) met teksten, vertalingen en zo'n 14.000 parallellen. Tevens hebben we de canonieke Abhidhamma teksten, die een gedetailleerde analytische behandeling van de centrale leerstellingen bieden.</p>
</section>
<section class="suttas">
<h1>Suttas en divisies</h1>
<p><img class="image-home" data-src="/img/1.jpg">Het merendeel van de vroeg-Boeddhistische teksten in Pali is bekend als suttas (of sūtras in het Sanskriet). Er wordt aangenomen dat elk Sutta een verslag is van een voordracht, die gehouden is door de Boeddha op een bepaalde tijd en plaats. De suttas zijn georganiseerd tot een groter geheel, waarvan de belangrijkste de Nikāya is, wat we een "divisie" noemen. De divisie en de suttas zijn de belangrijkste elementen in de navigatie van SuttaCentral.</p>
</section>
<section class="ids">
<h1>Identificatie-nummers (IDs)</h1>
<p><img class="image-home" data-src="/img/2.jpg">Elke sutta heeft een unieke ID. Dit is een verkorte vorm van de divisie (of Nikāya), en het nummer van de sutta binnen de divisie. U kunt deze unieke ID's op veel plaatsen terugvinden, zoals in de tabellen met parallellen, en belangrijker nog, in de URLs van de paginas. Zodra u hiermee bekend raakt, kunt u uw weg nog veel gemakkelijker vinden.</p>
</section>
<section class="navigation">
<h1>Navigatie</h1>
<p><img class="image-home-big" data-src="/img/5.jpg">De hoofdnavigatie is via de menubalk bovenaan. Dit brengt u rechtstreeks naar een divisie-pagina, waar u links naar de teksten, vertalingen en parallellen kunt vinden. We hebben ook een krachtige zoekmachine, zodat u kunt zoeken op onderwerp of naam. Als u op zoek bent naar een bepaalde sutta, probeer dan op titel te zoeken, of maak gebruik van de referentie-details. Toch nog niet gevonden? Zie dan onze <a href="https://suttacentral.net/help">help-pagina</a>.</p>
</section>
<section class="intro-translations">
<h1>Vertalingen</h1>
<p><img data-src="/img/3.jpg" class="image-home" title="Screenshot van SuttaCentral dat de Engelse vertaling laat zien." alt="Screenshot van SuttaCentral dat de Engelse vertaling laat zien.">Een groot aantal van de suttas zijn vertaald in moderne talen. Waar mogelijk leveren we vertalingen in aanvulling op de oorspronkelijke tekst. Deze hebben dezelfde ID als de oorspronkelijke tekst. Dit komt doordat in het Boeddhisme de betekenis van de woorden het belangrijkste is, daardoor worden de vertaalde teksten beschouwd als het Woord van de Boeddha.</p>
<p>De hoeveelheid teksten is enorm, zodat het vertaalwerk verre van compleet is. We proberen de beste beschikbare vertalingen van derden te betrekken, en we ontwikkelen ook onze eigen vertalingen, die vrij toegankelijk zullen zijn voor iedereen.</p>
<p>Engelse vertalingen zijn onder meer beschikbaar van de klassieke werken door Bhikkhu Bodhi, nieuwe Engelse vertalingen van de Chinese Saṁyukta Agama teksten door Bhikkhu Anālayo, vertalingen uit de Tibetaanse Upāyikā door Bhikkhunī Dhammadinnā, en anderen uit verschillende bronnen.</p>
</section>
<section class="tools">
<h1>Hulpmiddelen</h1>
<p><img class="image-home" data-src="/img/4.jpg">Aan de uiterst linker kant van de menubalk op de tekstpaginas ziet u een kleine groene &quot;dongle&quot;. Dat activeert de zijbalk met veel hulpmiddelen en informatie over o.a. auteurschap en publicatie. Onder “Discuss & Discover” vindt u een lijst van gesprekken en bronnen, voor die specifieke sutta, op ons forum. U kunt ons woordenboek gebruiken, wat Pali woorden in de tekst om kan zetten in verschillende talen. U kunt ook het script veranderen, verschillende soorten tekstuele informatie laten zien, naar de parallellen-pagina gaan, en nog veel meer.</p>
</section>
<section class="parallels">
<h1>Parallellen</h1>
<p><img class="image-home" data-src="/img/14.jpg">Suttas zijn geen onafhankelijke entiteiten. Ze vormen een groot, onderling verbonden, netwerk van beleringen. Vaak ligt de sleutel tot het begrijpen van een passage in een andere tekst. Zo lijken de Boeddhistische canons een beetje op het internet, met individuele bladzijden verbonden door een netwerk van verborgen links.</p>
<p>De meeste suttas verschijnen in soortgelijke vorm in meer dan één collectie. We maken gebruik van de term “parallel” voor variërende teksten, die lijken af te stammen van een gemeenschappelijke voorouder. Vaak lijken de teksten zo op elkaar, dat deze identificatie eenvoudig is. Soms is er echter een minder nauwe relatie tussen twee bepaalde teksten. Zo'n geval geven we aan als een “gedeeltelijke parallel”. Dit betekent niet dat er een bepaalde specifieke relatie bestaat tussen de gedeeltelijke parallel en de basistekst. Het suggereert alleen dat als u de basistekst bestudeert, u misschien ook geinteresseerd bent in de gedeeltelijke parallel. Voor een gedetailleerde bespreking, zie onze pagina over Methodologie.</p>
<p>In 1929 publiceerde Chizen Akanuma, een Japanse wetenschapper, zijn Vergelijkende Catalogus van Chinese Agamas & Pali Nikayas. Dit was de eerste uitgebreide lijst van parallellen tussen de Pali en Chinese teksten. Zijn werk is verbeterd en uitgebreid door een opeenvolging van geleerden, en voor SuttaCentral herzien door Rod Bucknell en Bhikkhu Anālayo.</p>
<p>Het is geen kleinigheid om te onderscheiden welke teksten als parallellen moet worden beschouwd. Teksten komen vaak overeen in sommige details, maar niet in andere. Wanneer wordt een een tekst als een volledige parallel beschouwd en wanneer als een gedeeltelijke parallel? En wanneer is het alleen maar een tekst die bepaalde soortgelijke eigenschappen draagt? Er is geen duidelijk zwart-wit antwoord op dergelijke vragen. Integendeel, het maken van deze identificaties is gebaseerd op de geaccumuleerde ervaring van een opeenvolging van geleerden. Meningsverschillen over details zijn onvermijdelijk; maar over het algemeen is er een brede consensus over wat een parallel vormt. Uiteindelijk is het belangrijkste punt dat deze identificaties de student helpen om te studeren en te leren van aanverwante teksten in diverse collecties.</p>
</section>
</details>
</div>

{% endblock %}
