{% extends "language/generic.html" %}
{% block introduction %}
<section id="home">
<div class="hgroup">
<h1>SuttaCentral</h1>
<p class="subtitle">Wczesne buddyjskie teksty, tłumaczenia i paralele</p>
</div>
</section>
<div id="intro">
<details><summary>Wprowadzenie do SuttaCentral</summary>
<section class="introduction">
<div class="wheel1">☸</div>
<div class="wheel2">☸</div>
<div class="wheel3">☸</div>
<p>Przez 2500 lat, wspólnoty buddyjskie zachowały mądrość Buddhy w tysiącach tekstów, przekazując je w pāḷijskim, chińskim, tybetańskim i innych językach.</p>
<p>Co by było, gdybyśmy zestawili je ze sobą i przedstawili przy użyciu najlepszych technologii i wzornictwa, jakie może zaoferować ​​współczesny Internet?</p>
<p>Co jeśli usuniemy granice języka i tradycji, i pozwolimy aby Buddha przemówił osobiście?</p>
<p>Oto SuttaCentral.</p>
</section>
<section class="feel">
<h1>“Dla kogoś, kto czuje”</h1>
<p><img class="image-home" data-src="/img/15.jpg">
Słowa Buddhy są jednym z największych dzieł duchowej literatury ludzkości. A dla tych, którzy kroczą tą ścieżką, są kluczem do samego wyzwolenia. Ponieważ prawie połowa ludzi na świecie korzysta z Internetu, nauki te są teraz dostępne dla większej liczby osób niż kiedykolwiek wcześniej.</p>
<p>Portal SuttaCentral jest przede wszystkim skupiony na pismach najwcześniejszego okresu, i zawiera teksty w ponad trzydziestu językach. Uważamy, że jest to największy zbiór wczesnych buddyjskich tekstów w historii. Zbudowaliśmy również dział poświęcony dyskusji na temat wczesnych tekstów buddyjskich, gdzie można przyłączyć się do rozmowy, zadawać pytania, i odkrywać różne zasoby.</p>
<p>Jeśli nie jesteś pewien, od czego zacząć przygodę z SuttaCentral, doskonałym wprowadzeniem jest skomponowany kurs on-line na naszym forum, na podstawie książki &quot;In Buddha's Words&quot; autorstwa Bhikkhu Bodhi.</p>
</section>
<section class="content">
<h1>Zawartość</h1>
<p><img class="image-home" data-src="/img/11.jpg">
SuttaCentral zawiera szczegółowe odniesienia, pokazuje relacje między tekstami w różnych kolekcjach oraz, w miarę możliwości, udostępnia oryginalne teksty i tłumaczenia.</p>
<p>Teksty obejmują kanon pāḷijski szkoły Theravāda, które mamy w obu współczesnych przekładach i oryginał pāḷijski. SuttaCentral zawiera również wczesne teksty āgam z edycji Taishō, chińskiego kanonu, jak również odniesienia do tybetańskiego Kandziuru, w sanskrycie i innych językach, których jest znacznie mniej niż w przypadku kanonów chińskiego i w pāḷijskim.</p>
<p>SuttaCentral oferuje szeroki dostęp do zasobów buddyjskiej reguły monastycznej (Vinaya), z tekstami, tłumaczeniami i około 14000 paralelami. Mamy również kanoniczne teksty Abhidhammy, które zapewniają szczegółowe analizy najważniejszych doktryn.</p>
</section>
<section class="suttas">
<h1>Sutty i kolekcje</h1>
<p><img class="image-home" data-src="/img/pl/1.jpg">Większość wczesnych buddyjskich tekstów są znane w pāḷijskim jako sutty (lub sutry w sanskrycie). Uważa się, że każda sutta jest zapisem nauczania wygłoszonego przez Buddhę w określonym czasie i miejscu.</p>
<p>Sutty podzielone są na większe grupy, z których najważniejszą jest nikāya, które nazywamy &quot;kolekcją&quot;. Kolekcja i sutta to główne elementy nawigacji SuttaCentral.</p>
</section>
<section class="ids">
<h1>Identyfikatory (Id)</h1>
<p><img class="image-home" data-src="/img/pl/2.jpg">Każda sutta ma unikatowy identyfikator. Jest to skrócona forma kolekcji (lub nikāyi) i numer sutty w tej kolekcji. Te unikatowe identyfikatory znajdziesz w wielu miejscach, takich jak tablice paralel, a co najważniejsze, w adresach URL witryny.</p>
<p>Jeśli się z nimi zapoznasz, będziesz się w stanie szybko poruszać po serwisie.</p>
</section>
<section class="navigation">
<h1>Nawigacja</h1>
<p><img class="image-home" data-src="/img/pl/3.jpg">Najłatwiej poruszać się po stronie przez pasek menu w górnej części strony. To zabierze cię bezpośrednio na stronę kolekcji, gdzie znajdziesz linki do tekstów, tłumaczeń i paralel. Mamy też sprawną wyszukiwarkę, można więc szukać tematu lub nazwy. Jeśli szukasz konkretnej sutty, spróbuj wyszukać tytułu lub skorzystać z danych referencyjnych. Nadal zagubiony? Zobacz naszą <a href="https://suttacentral.net/help">stronę pomocy</a>.</p>
</section>
<section class="tools">
<h1>Narzędzia</h1>
<p><img class="image-home" data-src="/img/pl/4.jpg">W lewym górnym rogu strony, zawierającej dany tekst, zobaczysz mały element sterujący. Aktywuje on pasek boczny, który zawiera wiele narzędzi i informacji, jak np. autorstwo i szczegóły publikacji. W sekcji &quot;Discuss &amp; Discover&quot; znajdziesz listę rozmów i zasobów dla tej sutty znajdujące się na forum. Możesz wypróbować naszych narzędzi słownikowych, które sprytnie dokonują konwersji pāḷijskiego na różne języki (niestety na polski musimy jeszcze poczekać). Można również konwertować skrypt, wyświetlić różnego rodzaju informacje tekstowe, nawigować, aby zobaczyć paralele, i wiele więcej.</p>
</section>
<section class="parallels">
<h1>Paralele</h1>
<p><img class="image-home" data-src="/img/14.jpg">Sutty nie są niezależnymi bytami. Tworzą one ogromną, powiązaną sieć nauk. Często kluczowe znaczenie dla zrozumienia danego fragmentu znajduje się w innym tekście. W ten sposób, kanony buddyjskie są trochę jak internet, poszczególne strony powiązane są przez sieć ukrytych połączeń.</p>
<p>Większość sutt pojawia się w bardzo podobnej formie, w więcej niż jednej kolekcji. Terminu &quot;paralela&quot; używamy do określenia wariantów tekstu, które wydają się pochodzić od wspólnego trzonu. Często teksty są tak podobne, że ta identyfikacja jest prosta. Czasami jednak istnieje mniej ścisły związek pomiędzy dwoma podanymi tekstami. W takich przypadkach oznaczamy je jako &quot;częściowe paralele&quot; z gwiazdką *. Nie oznacza to szczególnego rodzaju relacji między częściową paralelą i tekstem podstawowym. Sugeruje to, że jeśli studiujesz tekst podstawowy, może warto abyś spojrzał również na częściowe paralele. Szczegółowe omówienie tej kwestii znajduje się na naszej stronie o metodologii.</p>
<p>W roku 1929 Chizen Akanuma, japoński uczony opublikował &quot;Katalog porównawczy chińskich āgam i pāḷijskich nikāy&quot;. Była to pierwsza kompleksowa lista podobieństw pomiędzy tekstami pāḷijskimi a chińskimi. Jego praca została poprawiona i rozszerzona przez kolejnych badaczy i zrewidowana dla SuttaCentral przez Rod'a Bucknell'a i Bhikkhu Anālayo.</p>
<p>Rozpoznanie, które teksty powinny być traktowane jako paralele nie jest kwestią trywialną. Teksty często zgadzają się w wielu szczegółach, a nie zgadzają się w innych. Kiedy tekst przestaje być pełną paralelą a zaczyna być częściową paralelą? A kiedy staje się jedynie tekstem, który nosi pewne znamiona podobieństwa? Nie ma czarno-białych odpowiedzi na takie pytania. Identyfikacji dokonuje się raczej na podstawie zgromadzonej nauki i doświadczeniu kolejnych badaczy. Rozbieżności interpretacyjne odnośnie szczegółów to rzecz nieuchronna. Jednak gdy chodzi o zasady, istnieje powszechna zgoda co do tego, co stanowi paralele. W końcu ważne jest to, że te identyfikacje mają pomóc studentowi w studiowaniu i uczeniu się tekstów powiązanych w różnych kolekcjach.</p>
</section>
</details>
</div>

{% endblock %}
