
@mixin serif($extra:'') {
    font-family: $skolar-sutta-web, serif unquote($extra);
}

@mixin serif-small-caps($extra:'') {
    font-family: $skolar-sutta-web-sc, $skolar-sutta-web, serif unquote($extra);
}

@mixin sans-serif($extra:'') {
    font-family: $source-sans-pro, sans-serif unquote($extra);
}

@mixin sans-serif-small-caps($extra:'') {
    font-family: $hetu-schetu-sc, $source-sans-pro, sans-serif unquote($extra);
}

@mixin monospace($extra:'') {
    font-family: monospace unquote($extra);
}

@mixin lumen-thai($extra:'') {
    font-family: $lumen-thai, lumen-thai unquote($extra);
}

@mixin skolar-devanagari($extra:'') {
    font-family: $skolar-devanagari, skolar-devanagari unquote($extra);
}
