




@mixin sans-serif($extra:'') {
    font-family: $source-sans-pro, sans-serif unquote($extra);
}

@mixin sans-serif-small-caps($extra:'') {
    font-family: $hetu-schetu-sc, $source-sans-pro, sans-serif unquote($extra);
}

@mixin monospace($extra:'') {
    font-family: monospace unquote($extra);
}
