
/* The following mixins are only really applicable to Skolar */

@mixin serif($extra:'') {
    font-family: $skolar-sutta-web, serif unquote($extra);
}

@mixin serif-small-caps($extra:'') {
    font-family: $skolar-sutta-web, serif unquote($extra);
    font-variant-caps: small-caps;
    font-feature-settings: "smcp";
}

@mixin serif-all-small-caps($extra: '') {
    font-family: $skolar-sutta-web, serif unquote($extra);
    font-variant-caps: all-small-caps;
    font-feature-settings: "smcp", "c2sc";
}

@mixin sans-serif($extra:'') {
    font-family: $skolar-sans, sans-serif unquote($extra);
}

@mixin sans-serif-small-caps($extra:'') {
    font-family: $skolar-sans, sans-serif unquote($extra);
    font-variant-caps: all-small-caps;
    font-feature-settings: "smcp";
}

@mixin sans-serif-all-small-caps($extra:'') {
    font-family: $skolar-sans, sans-serif unquote($extra);
    font-variant-caps: all-small-caps;
    font-feature-settings: "smcp", "c2sc";
}

