/*
    Serif fonts for free distribution.

    See fonts-common.scss for information on updating and versioning.
*/

// Source: http://www.fontsquirrel.com/fonts/Gentium-Basic
$gentium-basic: 'Gentium Basic';

@font-face {
    font-family: 'Gentium Basic';
    @include font-face-src('gentium-basic-bold-1.1', 'gentium_basicbold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gentium Basic';
    @include font-face-src('gentium-basic-italic-1.1', 'gentium_basicitalic');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gentium Basic';
    @include font-face-src('gentium-basic-regular-1.1', 'gentium_basicregular');
    font-weight: normal;
    font-style: normal;
}

@mixin serif($extra:'') {
    font-family: $gentium-basic, serif unquote($extra);
}

@mixin serif-small-caps($extra:'') {
    font-family: $gentium-basic, serif unquote($extra);
    font-variant: small-caps;
}
