/* Language Specific Rules */

/* This is the defaults for texts using a skolar font */
.skolar-font {
    font-family: $skolar-sutta-web, serif;
}

.noto-sans-font {
    font-family: $noto-sans serif;
    line-height: 1.8;

    .latin, [lang=pi], [lang=en] {
        font-family: 'Noto Sans', sans-serif;
    }
}

.noto-font {
  font-family: $noto-serif, serif;
  line-height: 1.8;
  
  .latin, [lang=pi], [lang=en] {
    font-family: $noto-serif serif;
  }
}


[lang=zh], [lang=lzh] {
    font-family: $noto-sans-tc, $noto-sans, serif;
}

[lang=si], [lang=pi-Sinh] {
    font-family: 'Noto Sans Sinhala', $noto-sans, serif;
    line-height: 1.8;
}

[lang=my], [lang=pi-Mymr] {
    font-family: 'Noto Sans Myanmar', $noto-sans, serif;
    line-height: 2;
}

[lang=th], [lang=pi-Thai] {
    font-family: 'Lumen Thai', $skolar-sutta-web, serif;
    line-height: 2;
}

[lang=hi], [lang=mr], [lang=pi-Deva] {
    font-family: 'Skolar Devanagari', $skolar-sutta-web, serif;
}

[lang=ko] {
    font-family: $noto-sans-kr, $noto-sans, serif;
}

[lang=jp] {
    font-family: $noto-sans-jp, $noto-sans, serif;
}

[lang=bo] {
    font-family: $noto-sans-tibetan, $noto-sans, serif;
    line-height:2;
}

[lang=he] {
    font-family:  'Noto Sans Hebrew', $noto-sans, serif;
    line-height:1.5;
}

[lang=ta] {
    font-family: 'Noto Sans Tamil', $noto-sans, serif;
}
