/*
    Proprietary serif fonts that are not allowed for free distribution.

    See fonts-common.scss for information on updating and versioning.
*/

// Source: http://rosettatype.com/Skolar
// Source: David Březina <brezina@davi.cz>
$skolar-sutta-web: 'Skolar Sutta Web';
$skolar-sutta-web-sc: 'Skolar Sutta Web SC';
$lumen-thai: 'Lumen Thai';
$skolar-devanagari: 'Skolar Devanagari';

@font-face {
    font-family: $skolar-sutta-web;
    @include font-face-src('nonfree/skolar-sutta-web-bold-3',
                           'skolar-sutta-web-bold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $skolar-sutta-web;
    @include font-face-src('nonfree/skolar-sutta-web-italic-3',
                           'skolar-sutta-web-italic');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $skolar-sutta-web;
    @include font-face-src('nonfree/skolar-sutta-web-regular-3',
                           'skolar-sutta-web-regular');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $skolar-sutta-web-sc;
    @include font-face-src('nonfree/skolar-sutta-web-sc-regular-3',
                           'skolar-sutta-web-sc-regular');
    font-weight: normal;
    font-style: normal;
}

@mixin serif($extra:'') {
    font-family: $skolar-sutta-web, serif unquote($extra);
}

@mixin serif-small-caps($extra:'') {
    font-family: $skolar-sutta-web-sc, $skolar-sutta-web, serif unquote($extra);
}


@font-face {
    font-family: $lumen-thai;
    @include font-face-src('nonfree/LumenThai-Bold',
                           'lumen-thai-bold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $lumen-thai;
    @include font-face-src('nonfree/LumenThai-Regular',
                           'lumen-thai-regular');
    font-weight: normal;
    font-style: normal;
}

@mixin lumen-thai($extra:'') {
    font-family: $lumen-thai, lumen-thai unquote($extra);
}



@font-face {
    font-family: $skolar-devanagari;
    @include font-face-src('nonfree/SkolarDevanagari-Bold',
                           'skolar-devanagari-bold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $skolar-devanagari;
    @include font-face-src('nonfree/SkolarDevanagari-Regular',
                           'skolar-devanagari-regular');
    font-weight: normal;
    font-style: normal;
}

@mixin skolar-devanagari($extra:'') {
    font-family: $skolar-devanagari, skolar-devanagari unquote($extra);
}