@font-face {
    font-family: 'skolarsuttaweb';
    src: url('../fonts/kolarsuttaweb_regular.eot');
    src: url('../fonts/skolarsuttaweb_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skolarsuttaweb_regular.woff') format('woff'),
         url('../fonts/skolarsuttaweb_regular.ttf') format('truetype'),
         url('../fonts/skolarsuttaweb_regular.svg#skolarsuttawebregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'skolarsuttaweb', serif;
    background-color: #fe8;
}
