//  IMPORTANT:  The usage of these $breakpoints should be 'mobile first', meaning that if a new page is deisgned,
//              Make it look good on the smallest screen possible, then increase the width until the design looks
//              bad and then add or adjust the $breakpoint variables below.  Terms like "mobile" and "tablet" are not
//              used since it is the screen size that matters and devices will be changing in the future.


/*
    BREAKPOINTS
*/
//  These are the standard breakpoints
$small-width:   480px;
$med-width:     908px;
$large-width:   1200px;

//  These are breakpoints that fall between the standard breakpoints above
$header-small-width:     550px;
$header-large-width:     800px;

/*
    MIXINS
*/
@mixin if-screen-between($min-width, $max-width, $orientation: false) {
    @if $orientation {
        @media screen and (min-width: $min-width) and (max-width: $max-width)
        and (orientation:#{$orientation}) {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    }
}

@mixin if-screen-wider($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin if-screen-narrower($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}



/*
    BETWEEN BREAKPOINTs:  $small-width and $med-width
*/
@include if-screen-between($small-width, $med-width) {
    #onecol article,
    #text article,
    #home-start,
    #home-read,
    #home-methodology {
        margin: $tablet-main-top-margin 10%;
        max-width: inherit;
    }

    #twocol {
        article {
            margin: $tablet-main-top-margin 1em;
            margin-left: 0;
        }
        aside {
            margin: $tablet-main-top-margin 1em;
        }
    }

    td, th {
        padding: 0.25em 0.5em;
    }
}


/*
    FOR BREAKPOINT:  $small-width
*/
@include if-screen-wider($small-width) {        //  WIDER
    body {
        line-height: 1.5;
    }
    p, ul {
        margin-bottom: 1em;
    }
    #page-footer {
        height: $footer-height;
    }
    #home {
        margin: 6em auto 0 !important;
        padding: 0 5% !important;
        .epigraph-reference {
            margin-top: -1em;
        }
    }
    #intro {
        .wheel1 {
            font-size: 18em;
        }
        .wheel2 {
            font-size: 20em;
        }
        .wheel3 {
            font-size: 21em;
        }
        .image-home {
            width: 50%;
            float: right;
            margin: 0 0 2em 2em;
        }
        .image-home-big {
            width: 70%;
            float: right;
            margin: 0 0 2em 2em;
        }
    }
    .abhidhamma {
        width: 60% !important;
        ul {
            width: 60% !important;
        }
    }
}

@include if-screen-narrower($small-width) {    //  NARROWER
    #page-wrap {
        margin-bottom: -$mobile-footer-height;
    }
    #page-footer-push {
        height: $mobile-footer-height;
    }
    #onecol article,
    #text article,
    #home-start,
    #home-read,
    #home-methodology {
        margin: $mobile-main-top-margin $mobile-main-side-margin;
    }
    #twocol {
        article {
            float: inherit;
            max-width: inherit;
            margin: $mobile-main-top-margin $mobile-main-side-margin;
        }
        aside {
            float: inherit;
            max-width: inherit;
            margin: $mobile-main-top-margin $mobile-main-side-margin;
        }
    }
    #text {
        margin-bottom: 2em;
    }
    caption {
        margin-left: 1em;
        text-align: left;
    }
    td, th {
        max-width:8em;
        padding: 0.25em 0.25em;
        overflow:hidden;
    }
    td:nth-child(3), th:nth-child(3) {
        display:none;
    }
    td:nth-child(2){
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    }
    .sutta {
        padding: 0 !important;
    }
    #sidebar-dongle {
        margin-left:-30px;
        text-align:right;
        padding:0 0.1em 0 0;
        width: auto;
    }
}


/*
    FOR BREAKPOINT:  $header-small-width
*/
@include if-screen-wider($header-small-width) {     //  WIDER
    header #page-header-search {
        input,
        .search-submit {
            display: inline-block;
        }
    }
    .search-popup-btn {
        display: none;
    }
    .header-menu-container ul li {
        width: 16%;
        &:nth-child(3) {
            width: 28%;
        }
        &:last-child {
            width: 40%;
        }
    }
    .search-submit {
        background-color: initial;
    }
}


@include if-screen-narrower($header-small-width) {    //  NARROWER
    // #page-header-search {
    //     input,
    //     .search-submit {
    //         display: none;
    //     }
    // }
    // .search-popup-btn {
    //     display: inline-block;
    // }
    .header-menu-container ul li {
        width: 25%;
        &:nth-child(3) {
            width: 37%;
        }
        &:last-child {
            width: 13%;
        }
        // width: 29%;
        // &:last-child {
        //     width: 13%;
        // }
    }
    .search-box-popup {
        #page-header-search {
            input {
                display: block;
                width: 100%;
            }
            .search-submit {
                display: inline;
            }
        }
        .search-popup-btn {
            display: none;
        }
        .header-menu-container ul li {
            transition: 400ms ease-out;
            width: 0px;
            a {
                display: none;
            }

            &:last-child {
                display: initial;
                width: 100%;

                form {
                    padding-left: 28px; //  Compensates for padding and margin on input box
                }
            }
        }
    }
}


/*
    FOR BREAKPOINT:  $med-width
*/
@include if-screen-wider($med-width) {        //  WIDER
    #intro {
         .image-home {
            width: 35%;
            float: right;
            margin: 0 0 2em 2em;
        }
        .image-home-big {
            width: 50%;
            float: right;
            margin: 0 0 2em 2em;
        }
    }
}

@include if-screen-narrower($med-width) {           //  NARROWER
    #onecol, #twocol, #main_content, #text {
        max-width: inherit;
    }
}


/*
    FOR BREAKPOINT:  $header-large-width
*/
@include if-screen-narrower($header-large-width) {  //  NARROWER
    #title {
        display: none;
    }
}
@include if-screen-wider($header-large-width) {     //  WIDER
    #title {
        display: inline;
    }
    .header-menu-container ul li {



        width: 20%;
        &:nth-child(3) {
            width: 20%;
        }
        &:last-child {
            width: 40%;
        }




        // width: 20%;
        // &:last-child {
        //     width: 40%;
        // }
    }
    .header-left-home-icon {
        width: $header-left-width - 30;
    }
    .header-right-wrapper .header-right-menus-search {
        margin-left: $header-left-width - 30;
    }
    .show-dongle {
        .header-left-home-icon {
            width: $header-left-width;
        }
        .header-right-wrapper .header-right-menus-search {
            margin-left: $header-left-width;
        }
    }
}


