/* FONTS */

@font-face {
    font-family: 'Skolar Sutta Web';
    src: url('/fonts/skolar-sutta-web-bold-1.eot');
    src: url('/fonts/skolar-sutta-web-bold-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/skolar-sutta-web-bold-1.woff') format('woff'),
         url('/fonts/skolar-sutta-web-bold-1.ttf') format('truetype'),
         url('/fonts/skolar-sutta-web-bold-1.svg#skolar-sutta-web-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Skolar Sutta Web';
    src: url('/fonts/skolar-sutta-web-italic-1.eot');
    src: url('/fonts/skolar-sutta-web-italic-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/skolar-sutta-web-italic-1.woff') format('woff'),
         url('/fonts/skolar-sutta-web-italic-1.ttf') format('truetype'),
         url('/fonts/skolar-sutta-web-italic-1.svg#skolar-sutta-web-italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Skolar Sutta Web';
    src: url('/fonts/skolar-sutta-web-regular-1.eot');
    src: url('/fonts/skolar-sutta-web-regular-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/skolar-sutta-web-regular-1.woff') format('woff'),
         url('/fonts/skolar-sutta-web-regular-1.ttf') format('truetype'),
         url('/fonts/skolar-sutta-web-regular-1.svg#skolar-sutta-web-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Skolar Sutta Web SC';
    src: url('/fonts/skolar-sutta-web-sc-regular-1.eot');
    src: url('/fonts/skolar-sutta-web-sc-regular-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/skolar-sutta-web-sc-regular-1.woff') format('woff'),
         url('/fonts/skolar-sutta-web-sc-regular-1.ttf') format('truetype'),
         url('/fonts/skolar-sutta-web-sc-regular-1.svg#skolar-sutta-web-sc-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_pro';
    src: url('/fonts/source-sans-pro-bold-1.eot');
    src: url('/fonts/source-sans-pro-bold-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/source-sans-pro-bold-1.woff') format('woff'),
         url('/fonts/source-sans-pro-bold-1.ttf') format('truetype'),
         url('/fonts/source-sans-pro-bold-1.svg#source-sans-pro-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_pro';
    src: url('/fonts/source-sans-pro-italic-1.eot');
    src: url('/fonts/source-sans-pro-italic-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/source-sans-pro-italic-1.woff') format('woff'),
         url('/fonts/source-sans-pro-italic-1.ttf') format('truetype'),
         url('/fonts/source-sans-pro-italic-1.svg#source-sans-pro-italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'source_sans_pro';
    src: url('/fonts/source-sans-pro-regular-1.eot');
    src: url('/fonts/source-sans-pro-regular-1.eot?#iefix') format('embedded-opentype'),
         url('/fonts/source-sans-pro-regular-1.woff') format('woff'),
         url('/fonts/source-sans-pro-regular-1.ttf') format('truetype'),
         url('/fonts/source-sans-pro-regular-1.svg#source-sans-pro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hetu_schetu_sc';
    src: url('/fonts/hetu-schetu-sc-2.eot');
    src: url('/fonts/hetu-schetu-sc-2.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hetu-schetu-sc-2.woff') format('woff'),
         url('/fonts/hetu-schetu-sc-2.ttf') format('truetype'),
         url('/fonts/hetu-schetu-sc-2.svg#hetu-schetu-sc') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* FONTS */

/* GENERAL */
*   {
    margin:0;
    padding:0;
}

html,body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-variant-ligatures: common-ligatures;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
}

body {
    font-family: "Skolar Sutta Web",Garuda,"Browallia New",Thonburi,Loma,Waree,Kinnari,"Microsoft JhengHei",serif;
    text-align: left;
    color: #2B2B2B;
    line-height: 1.5;
    background: #fcfcfc;
	text-rendering: optimizeLegibility;
}

.hidden {display:none;}

/*! Include relevant items from normalize.css v2.0.1 | MIT License | git.io/normalize */

html, body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

b,
strong { font-weight: bold;}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em;}

sub { bottom: -0.25em}

img {border: 0;}

/* ==========================================================================

    Forms
    ========================================================================== */

/**

    * Define consistent border, margin, and padding.
    */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**

    * 1. Correct `color` not being inherited in IE 8/9.
    * 2. Remove padding so people aren't caught out if they zero out fieldsets.
    */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**

    * 1. Correct font family not being inherited in all browsers.
    * 2. Correct font size not being inherited in all browsers.

    * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
    */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
    * Address Firefox 4+ setting `line-height` on `input` using `!important` in
    * the UA stylesheet.
    */

button,
input {
    line-height: normal;
}

/**
    * Address inconsistent `text-transform` inheritance for `button` and `select`.
    * All other form control elements do not inherit `text-transform` values.
    * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
    * Correct `select` style inheritance in Firefox 4+ and Opera.
    */

button,
select {
    text-transform: none;
}

/**
    * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
    *    and `video` controls.
    * 2. Correct inability to style clickable `input` types in iOS.
    * 3. Improve usability and consistency of cursor style between image-type
    *    `input` and others.
    */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
    * Re-set default cursor for disabled elements.
    */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
    * 1. Address box sizing set to `content-box` in IE 8/9.
    * 2. Remove excess padding in IE 8/9.
    */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
    * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.

    * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
    *    (include `-moz` to future-proof).
    */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
    * Remove inner padding and search cancel button in Safari 5 and Chrome
    * on OS X.
    */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
    * Remove inner padding and border in Firefox 4+.

    */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
    * 1. Remove default vertical scrollbar in IE 8/9.
    * 2. Improve readability and alignment in all browsers.
    */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/*! Include relevant items from normalize.css v2.0.1 | MIT License | git.io/normalize */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
}

a {text-decoration:none;}
a:link {color:#007afe;}
a:visited {color:#006699;}
a:hover {color:#DF00FF;}
a:active {color:purple;}

a.tran[href^="http"] {font-size: 90%; color: #99aabb; font-style:italic}

p, ul {margin-bottom:1.5em;}

section h1 {line-height:1;
    font-size:1.6em;
    margin:0.25em 0 1em 0;
    font-weight:normal;
}

section h2 {
    font-size:1.3em;
    margin-bottom:0.8em;
    margin-top:0.3em;
    font-weight:normal;
    color:#a1a1a1;
}

section h3 {
    font-size:1em;
    margin-bottom:1.3em;
    font-weight:bold;
color:#a1a1a1;
}

time {
    font-style:italic;
    font-weight:bold;
}


/* HEADER*/

header {
    position: relative;
    left: 0px;
    right: 0px;
    padding:0 5% 0 5%;
    min-width:24em;
    z-index:2;
    border-bottom:4px solid #9B0F00;
    background:#EEE8AA;
    min-height:4em;
}


.wheel {
    font-size:4em;
    position:relative;
    float:left;
    height:0.88em;
    line-height:0.9;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
    display:inline;
    padding-top:0;
}

.wheel a:link, .wheel a:visited, .wheel a:hover, .wheel a:active
    {
    color:#fff;
    height:70px;
}

header h1   {
    line-height:1.2;
    font-family: 'Skolar Sutta Web SC','Skolar Sutta Web',serif;
    font-weight:normal;
    letter-spacing:0.02em;
    display:table;
    margin-bottom:-0.3em;
    padding-top:0.1em;
    position:relative;
}

header h2  {
    font-style:italic;
    font-size:1em;
    font-weight:normal;
    display:inline;
    position:absolute;
}

header hgroup {display:table;}

header h2 a:link, header h2 a:visited, header h2 a:hover, header h2 a:active {color:#6f6f6f;}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {color:#00527A;}


/* SEARCH */

.search {
    float:right;
    margin-left:1.5em;

}

.searchspace {
    height:1.5em;
    width:12.7em;
    font-family:'source_sans_pro',sans-serif;
    border-radius:3px 0px 0px 3px;
    border:1px solid #a1a1a1;
    border-right:none;
    padding:0 4px;
    box-shadow:inset 0px 0px 7px rgba(136, 136, 136, 0.3);
}

.searchbutton {
    margin-left: -4px;
    border-radius: 0px 3px 3px 0px;
    font-family:'source_sans_pro',sans-serif;
    border:1px solid #a1a1a1;
    box-shadow: 0 0 3px rgba(136, 136, 136, 0.3);
    width:4.5em;
    height:1.63em;

}

.searchbutton img {vertical-align:-0.1em;}

/* NAV BAR */

#navbar {float:right;z-index:-2;position:relative;}

nav {
    position:relative;
    float:right;
    font-family:'source_sans_pro',sans-serif;
}

.topnav, .topnavleft, .topnavright {
    position:relative;
    padding: 2px 6px 2px 6px;
    margin:0 0 0 -1px;
    box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.1);
    border:1px solid #a1a1a1;

    -webkit-transition: border-radius,box-shadow, padding 0.1s ease;
    -moz-transition:border-radius,box-shadow,padding 0.1s ease;
    -o-transition:border-radius,box-shadow,padding 0.1s ease;
    transition:border-radius,box-shadow,padding 0.1s ease;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.topnavleft {border-radius: 3px 0px 0px 3px;}

.topnavright {border-radius: 0px 3px 3px 0px;}

.topnavleft:hover, nav:hover .topnavleft,
.topnav:hover, nav:hover .topnav,
.topnavright:hover, nav:hover .topnavright
    {
    background:#fafafa !important;
    box-shadow: 5px 3px 10px rgba(136, 136, 136, 0.3);
    padding: 2px 6px 6px 6px;
    margin:0 0 0 -1px;
    border-radius: 3px 3px 0px 0px;
    border:1px solid #a1a1a1;
    z-index:30;
    -webkit-transition-delay:0.1s;
    -moz-transition-delay:0.1s;
    -o-transition-delay:0.1s;
    transition-delay:0.1s;
}

.topnavleft:hover, nav:hover .topnavleft {border-radius: 3px 0px 0px 0px;}
.topnavright:hover, nav:hover .topnavright {border-radius: 0px 3px 0px 0px;}
.topnav:hover, nav:hover .topnav {border-radius: 0px 0px 0px 0px;}

nav > ul, nav > ul ul {
    z-index:3;
    list-style-type:none;
    white-space:nowrap;
    position:absolute;
    box-shadow: 5px 3px 10px rgba(136, 136, 136, 0.3);
    background-color:#fafafa;
    border:1px solid #a1a1a1;
    visibility:hidden;
    opacity:0;
}

nav > ul {
    -webkit-transition:visibility 0s ease 0.15s,opacity 0.3s ease;
    -moz-transition:visibility 0s ease 0.15s,opacity 0.3s ease;
    -o-transition:visibility 0s ease 0.15s,opacity 0.3s ease;
    transition:visibility 0s ease 0.15s,opacity 0.3s ease;
    margin:2px 0 0 -1px;
}

nav > ul ul {
    margin:-1.86em 0 0 88%;
    float:right;
}

nav:hover > ul, nav ul li:hover > ul
    {
    position:absolute;
    z-index:50;
    visibility:visible;
    opacity:1;
}

nav ul li:hover > ul {box-shadow: 1px 1px 10px rgba(136, 136, 136, 0.5);}


nav li a {display:block;
    padding:0.3em 2em 0.3em 0.3em;
    border-bottom: 1px solid #ccc;
}

nav li:hover {background:#f2f2f2;}



nav li span {
    color:#ccc;
    position:absolute;
    right:1em;
}



/* Navigation Search Results */
#search_results {
    font-family:'source_sans_pro',sans-serif;
    position:absolute;
    right:2em;
    top:3.5em;
    min-width:20em;
    overflow: auto;
    max-height: 40em;
    background: #f6f6f6;
    border: 1px solid #ccc;
    padding:4em 1em 1em 1em;
    box-shadow: 1px 1px 10px rgba(136, 136, 136, 0.5);
    margin-top:-2.5em;
    z-index:-1;
}

#search_results tr, #search_results td {
    margin-right:1em;
    padding: 0.4em 0.4em 0.4em 0.4em;

}
#search_results td:nth-of-type(2) {
    max-width:15em;
}
#search_results td:nth-of-type(3), #search_results td:nth-of-type(2) {
    padding-left: 1em;
}
#search_results td:nth-of-type(4) {
    padding-left: 0.6em;
    padding-right:0.6em;
}

#search_results tr.even {
    background-color: #f0f0f0;
}
#search_results td a {
padding:0.2em 0.3em;
margin: -0.2em -0.3em;
}
#search_results a:hover {
    background: #e5e5e5;

}
#search_results .highlight {
    background: #ffffcc;
}

#main_search_results {
    max-width: 40em;
    margin: auto;
}

.text_results .details {
    float: none;
}

.terms, .text_results {
    list-style: none;
}

.terms a.ref, .terms span.precision {
    color: gray;
    font-style: italic;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

.terms span.precision{ color: gray}
/*.terms span.precision:before{ content: ' (~'}
.terms span.precision:after{ content: ') '}*/
.terms .type {visibility: hidden}

.text_results	{margin-bottom:-1em}
    

.text_results table {margin-top:1em}

/* MAIN */

#onecol, #text {
    overflow:visible;
    margin:0 auto 5em auto;
    max-width: 80%;
    padding-top:6em;
    padding-bottom:15em;
}

#home {
    overflow:visible;
    margin:0 auto 5em auto;
    max-width: 80%;


}

#twocol {
    position:relative;
    overflow:auto;
    margin:0 auto 5em auto;
    max-width: 90%;
    padding-top:9em;
    padding-bottom:3em;
    overflow-x:hidden;
}

#wide {
    float:right;
    max-width:73%;
}

#onecol article, #text article {
    max-width:41em;
    margin:0 auto;
}

#twocol article {max-width:80%;}

#narrow {
    float:left;
    width:22%;position:relative;
}

.bibliography {text-indent: -1em;}

blockquote {margin:1.3em 1em 1.3em 1em;}

.abbreviations table {margin: 0 0 1.3em 0}
.abbreviations caption {margin:1em 0 1em 0;}

/* Home Page */

#grey {
    position:absolute;
    height:1.5em;
    width:100%;
    background:#A4D1BE;
    z-index:-100;
    padding:0;-webkit-padding-before: 2px;
}

.tabs {
    width: 100%;
    height: 1.5em;
    padding-bottom:1em;

}
.tabs li {
    width:24.5%;
    float: left;
    margin: 0;
    overflow: hidden;
    background-color: #A4D1BE;
}
.tabs li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family:'source_sans_pro',sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    padding: 0 1em;
    border-right: 1px solid #fcfcfc;
}

.tabs li a:hover {
    background-color: #266A4D;

}

.tabs li.active a {
    color: #75A38F;
    background-color: #fcfcfc;
    padding-bottom:1px;
}

#main ul {
    width:17.5%;
    min-width:8em;
    list-style:none;
    display:inline;
    float:left;
    padding:0.5em 0.5em 0.5em 0.5em;
    margin:0.2em;
    background:#fefefe;
    box-shadow:0px 0px 5px rgba(136, 136, 136, 0.3);
    border-radius: 3px 3px 3px 3px;
}

#main li a {display:block;
    padding-bottom:0.65em;
    padding-top:0.65em;
    border-bottom:1px solid #ccc;
}

#main li a:hover{
    background-color: #f6f6f6;

}

.noborder {border:none !important;}

#home h1 {
    text-align:center;
    color:#b6b6b6;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:0.1em;
    font-size:1.2em;

}

#home h2, #home h3      {
    color:#b6b6b6;
    margin-bottom:0;
    padding-bottom:0.8em;
}

#home h2 {
    border-bottom: 1px solid #d9d9d9;
}

#home section h2, #home section h3      {font-weight:bold;}

#home section {
    display:table;
    padding-bottom:3em;width:100%;
}

.school {
    border:1px solid #ccc;
    margin:0em -0.25em 1.3em -0.25em;
    padding:0.25em 0.25em 0 0.25em;
}

.abhidhamma {
    width:60% !important;
    margin:0 auto;
}

.abhidhamma ul {width:29% !important;}

/* Home Page */


table {
    border-collapse:collapse;
    margin:0 auto 1.5em auto;
}

caption {
    margin: -1em 0 1em 0;
    white-space:nowrap;
}

td, th{
    padding:0.75em 1em;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    vertical-align:top;
    text-align:left;
}

td a:hover:not(.bib):not(.note)  {background:#f4f4f4;}

.tdindent   {padding-left:3em;}


.even {background:#fff;}

.origin {background:#ececec;}
tfoot td{
    font-size:0.8em;
    border: none;
    padding:0.5em 0.5em 0em 0.5em;
}

.vagga {
    color:#aaa;
    text-transform:uppercase;
    font-size:0.8em;
    letter-spacing:0.1em;
    padding:1.1em 1.2em;
}

.subdivision {
    color:#aaa;
    text-transform:uppercase;
    letter-spacing:0.1em;
    padding-top:1em;
    font-weight:bold;
}

td.vagga {border:none;}

.details {
    font-family:'source_sans_pro',sans-serif;
    float:right;
    color:#75A38F;
    margin:0.3em 1.5em 0 0;
    padding:0.1em 0.3em 0.1em 0.3em;
}

a.details {text-decoration:none;}
a.details:link {color:#75A38F;}
a.details:visited {color:#607A6F;}
a.details:hover {color:#DF00FF;}
a.details:active {color:purple;}

td .altVolPage:before {content:"<";}
td .altVolPage:after {content:">";}
td .altAcronym:before {content:"[";}
td .altAcronym:after {content:"]";}
td .altVolPage, td .altAcronym {font-size: 80%; color: #555}

table.divtable td:nth-of-type(1) > a {white-space:nowrap;}

/* NOTES, TEXT DATA & BIBLIOGRAPHY */

a.note {
    position:relative;
    color:#EE1700;
}

a.bib {
    position:relative;
    color:#EED900;
}

span.var, span.cross, span.end {position:relative;}

span.var:hover, span.cross:hover, span.end:hover {color:#2b2b2b;}

span.var.infomode, span.var.infomode:hover {color:#7A39D0;}

span.cross.infomode, span.cross.infomode:hover {color:#F74F3E;}

span.end.infomode, span.end.infomode:hover {color:blue;}

a.note .deets, a.note:hover .deets
    {background-color:#F7DBD0;}

a.bib .deets, a.bib:hover .deets
    {background-color:#F7F2C2;}

span.var .deets, span.var:hover .deets
    {background-color:#E5E0EC;}

span.cross .deets, span.cross:hover .deets
    {background-color:#F7D1C2;}

span.end .deets, span.end:hover .deets
    {background-color:blue;}

a.note .deets,a.note:hover .deets, a.bib .deets, a.bib:hover .deets, span.var .deets, span.var.infomode:hover .deets,span.cross .deets, span.cross.infomode:hover .deets, span.end .deets, span.end.infomode:hover .deets
    {
    position:absolute;
    z-index:2;
    top:1.5em;
    left:-22em;
    width:20em;
    color:#2b2b2b;
    padding:0.5em;
    font-size:0.8em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #ccc;
    box-shadow:6px 4px 10px rgba(136, 136, 136, 0.3);
    font-family:"source_sans_pro",sans-serif;
    line-height:1.2;
}

a.note .deets, a.bib .deets, span.var .deets, span.cross .deets, span.end .deets{
    -webkit-transition:opacity 0.5s ease;
    -moz-transition:opacity 0.5s ease;
    -o-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0s ease 0.5s,opacity 0.5s ease;
    -moz-transition:visibility 0s ease 0.5s,opacity 0.5s ease;
    -o-transition:visibility 0s ease 0.5s,opacity 0.5s ease;
    transition:visibility 0s ease 0.5s,opacity 0.5s ease;
}

/*a.note:hover .deets, a.bib:hover .deets, span.varcolor:hover .deets, span.crosscolor:hover .deets, span.endcolor:hover .deets*/
span.infomode:hover, span.infomode:hover span, a.bib:hover span.deets, a.note:hover span.deets {
    visibility:visible;
    opacity:1;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s;
}

.insertion.infomode:before {
    content:'[';
}
.insertion.infomode:after {
    content:']';
}

#metaarea {display:none; visibility:hidden;}
#metaarea.infomode {display:inline-block; visibility:visible;}
/* MARGIN 'NOTES' */

a.msdiv {display:none;}


a.da {
    display: none;
}

a.as, a.bl, a.bps, a.eno89, a.fuk03, a.fol, a.gatha-number, a.gatn, a.gbm, a.gno78, a.har04, a.hoe16, a.hos89a, a.hos89b, a.hos91, a.hs, a.kel, a.mat85, a.mat88, a.mit57, a.ms, a.pts, a.pts_pn, a.san87, a.san89, a.sc, a.sen82, a.sht, a.snp-vagga-section-verse, a.snp-vagga-verse, a.t, a.titus, a.tlinehead, a.ud-sutta, a.ud-vagga-sutta, a.tri62, a.tri95, a.tu, a.uv, a.vai58, a.vai59, a.vai61, a.verse-num-pts, a.vimula, a.vn, a.wal48, a.wal50, a.wal52, a.wal55b, a.wal57c, a.wal58, a.wal59a, a.wal60, a.wal61, a.wal68a, a.wal70a, a.wal70b, a.wal76, a.wal78, a.wal80c, a.wp, a.yam72
    {
    visibility:hidden;
    position:absolute;
    text-align:left;
    width:4em;
    font-family: "source_sans_pro",sans-serif;
    font-size:0.6em;
    display:table;
    font-style:normal;
    font-weight:normal;
    margin: 1.8em 0 0 -8em;
    white-space:nowrap;
    color: #2DB3A7;
}

a.ms {margin:0.7em 0 0 -14.5em; color:#00B428;}
a.sc {margin:0.7em 0 0 -5.3em; color:#B3A72D;}
a.t {margin:0.7em 0 0 -5.3em; color:#00B428;}
a.wp {margin:0.7em 0 0 -5.3em; color:red;}
a.pts {margin:-0.2em 0 0 -12.1em; color:#B2AF8C;}
a.vn {margin:0.7em 0 0 -6em; color:#9B0F00;}
a.sht {margin:0.8em 0 0 -6em; color:#9B000F;}
a.wal52 {margin: 0.8em 0 0 -7em; color: #B3A72D;}
/*a.titus {margin: -0.1em 0 0 -4em; color: #00B428;}*/
a.titus {display:none}

/* TODO systematically do for all of them (alphabetical order)
a.bl
a.bps
a.eno89
a.fuk03
a.fol
a.gbm
a.gno78
a.har04
a.hoe16
a.hos89a, a.hos89b, a.hos91
a.hs
a.kel
a.mat85, a.mat88
a.mit57
a.ms
a.pts
a.san87,, a.san89
a.sc
a.sen82
a.sht
a.snp-vagga-section-verse
a.snp-vagga-verse
a.t,  a.tlinehead
a.tri62,, a.tri95
a.ud-sutta
a.ud-vagga-sutta
a.uv
a.vai58, a.vai59, a.vai61
a.verse-num-pts
a.vn
a.wal48, a.wal50, a.wal52, a.wal57c, a.wal58, a.wal59a, a.wal60, a.wal61, a.wal68a, a.wal70a, a.wal70b, a.wal76, a.wal78, a.wal80c
a.wp
a.yam72
a.snp-vagga-verse
a.snp-vagga-section-verse

*/

a.vimula {color:blue;}

a.pub {
    color:#6d6d6d;
    position:relative;
}

a.bl {display:none;}

/*a.bl:before {content:"bl "}*/
a.bps:before {content:"BPS "}
a.eno89:before {content:"Eno "}
a.fuk03:before {content:"Fuk "}
a.fol:before {content:"Fol "}
/*a.gatha-number:before {content:" "}*/
/*a.gatn:before {content:" "}*/
a.gbm:before {content:"GBM "}
a.gno78:before {content:"Gno "}
a.har04:before {content:"Har "}
a.hoe16:before {content:"Hoe "}
a.hos89a:before, a.hos89b:before, a.hos91:before {content:"Hos "}
a.hs:before {content:"hs "}
a.kel:before {content:"Kel "}
a.mat85:before, a.mat88:before {content:"Mat "}
a.mit57:before {content:"Mit "}
a.ms:before {content:"MS "}
a.pts:before {content:"PTS "}
a.pts_pn:before {content:"PTS "}
a.san87:before,, a.san89:before {content:"San "}
a.sc:before {content:"SC "}
a.sen82:before {content:"Sen "}
a.sht:before {content:"SHT "}
a.snp-vagga-section-verse:before, a.snp-vagga-verse:before {content:"SNP "}
a.t:before,  a.tlinehead:before {content:"T "}
a.tri62:before, a.tri95:before {content:"Tri "}
a.ud-sutta:before,, a.ud-vagga-sutta:before {content:"Ud "}
/*a.tu:before {content:" "}*/
a.uv:before {content:"Uv "}
a.vai58:before, a.vai59:before, a.vai61:before {content:"Vai "}
a.verse-num-pts:before {content:"PTS "}
a.vn:before {content:"Vn "}
a.wal48:before, a.wal50:before, a.wal52:before, a.wal57c:before, a.wal58:before, a.wal59a:before, a.wal60:before, a.wal61:before, a.wal68a:before, a.wal70a:before, a.wal70b:before, a.wal76:before, a.wal78:before, a.wal80c:before {content:"Wal "}
a.wp:before {content:"WP "}
a.yam72:before {content:"Yam "}



#metaarea .author, #metaarea .smallcaps, #metaarea .roman_numerals {
    font-family:'hetu_schetu_sc', 'source_sans_pro', sans-serif;
    font-style:normal;
    letter-spacing:0.02em;
}

.author {
    font-family:'Skolar Sutta Web SC', 'Skolar Sutta Web', Garuda,"Browallia New",Thonburi,Loma,Waree,Kinnari,serif;
    font-style:normal;
    letter-spacing:0.02em;
}

.smallcaps {
    font-family:'Skolar Sutta Web SC', 'Skolar Sutta Web', Garuda,"Browallia New",Thonburi,Loma,Waree,Kinnari,serif;
    text-transform:lowercase;
    letter-spacing:0.02em;
}

.roman_numerals {
  text-transform:lowercase;
    font-family:'Skolar Sutta Web SC', 'Skolar Sutta Web', Garuda,"Browallia New",Thonburi,Loma,Waree,Kinnari,serif;
    font-style:normal;
    letter-spacing:0.02em;
}

a.infomode {visibility:visible;}



/* BOOKMARKED SECTION HIGHLIGHTING */
.embeddedparallel.bookmarkeded {
    padding: 0.5em 0.1em 0.5em 0.5em;
    border-radius: 1em;
    background-color: #feeae7;
    margin-bottom: 1.5em;
}
/* The bottom margin is transfered to the highlighting element */
.embeddedparallel.bookmarkeded p:last-child {
    margin-bottom: 0em;
}

/* POPUP DICTIONARY LOOKUP */

#message_box{
    position:fixed;
    font-family:'source_sans_pro', sans-serif;
    font-size:80%;
    box-shadow:3px 2px 10px rgba(136, 136, 136, 0.3);
    background:#B0D1C3;
    border:1px solid #75A38F;
    border-radius:3px;
    position:fixed;
    top:10em;
    left:5%;
    padding:0.5em;
}

span.lookup {position:relative;}
[lang=zh] span.lookup {display:inline-block;}
span.lookup > q {position:relative;}/* display:block;float:left}*/
span.lookup:before {content: none;}

span.lookup > span.meaning {
    position:absolute;
    display:block;
    font-size: 11pt;
    z-index:2;
    bottom:0.6em;
    margin-bottom:1.2em;
    padding-bottom:0em;
    right: -50%;
    left: -50%;
    min-width: 10em;
    max-width: 20em;
    color:#1d1d1d;
    padding:0em 1em 0em 1em;
    font-size:normal;
    font-family:'source_sans_pro', sans-serif;
    box-shadow:3px 2px 5px rgba(136, 136, 136, 0.3);
    background-color:#F7D1C2;
    border-radius: 3px 3px 3px 3px;
    border:1px solid #f74f3e;
    visibility:hidden;
    opacity:0;
    letter-spacing:0;
    word-spacing:0;
    text-transform: none;
}

span.lookup > span.meaning > a {
    font-size:105%;
    color:black;
    font-weight: bold;
}
[lang=zh] span.lookup > span.meaning > a {
    font-weight: normal;
    font-size: 110%;
}

span.lookup > span.meaning > a:hover {
    color:#DF00FF;
}

span.lookup:hover {
    color:red;
}
span.lookup > span.meaning:hover {
    color:black;
}

span.lookup:hover > span.meaning {
    visibility:visible;
    opacity:1;
}

.syllables {
        word-spacing: 1em;
}
.syllables  u {
        text-decoration:none;
        border-bottom:3px solid #999;
}

/* TEXTUAL CONTROLS */
#toc  {
    position:relative;
    margin:7.1em -2.8em 0 1em;
    width: 12em;
    float:right;
    display:table;
}

/*#text_info_button, #pali_lookup_button, #zh2en*/
#toc button {
    display:block;
    margin:0.5em auto 1em auto;
    font-size:0.8em;
    padding: 3px 0 4px 0;
    width:100%;
    text-shadow: 1px 1px 1px #fefefe;
    color:#6f6f6f;
    font-family: "source_sans_pro",sans-serif;
    border-radius: 3px 3px 3px 3px;
    border:1px solid #aaa;
    box-shadow: 0 0 3px rgba(136, 136, 136, 0.3);
    letter-spacing: 0px;
    word-spacing: 0px;

}

#metaarea {
    padding: 1em;
    font-size: 0.8em;
    color: #6d6d6d;
    background: #f6f6f6;
    font-family:"source_sans_pro",sans-serif;
    letter-spacing:0;
    border-radius: 3px 3px 3px 3px;
    border:1px solid #ccc;
    margin:1em 0 1em 0;
}

#metaarea p {margin:0 0 1.5em 0;}

#translitButtons td, #translitButtons tr, #translitButtons tbody, #translitButtons table {
    margin: 0;
    padding: 0;
    border-style: none;
    height:24px;
}

#translitButtons  {
    width:100%;
}


#translitButtons button {
    margin:0;
    padding:0.3em;
    font-size:0.8em;
    border-radius: 0px 0px 0px 0px;
    display:inline-block;
    border-left:0;
    width: 16.6667%;
    height: 24px;
    float:left;
}

#toc #toRoman   {border-radius: 3px 0px 0px 3px;
                border-left:1px solid #aaa;}

#toc #toSyllables       {border-radius: 0px 3px 3px 0px;}


#pali_lookup_log {
    position:fixed;
    right:1em;
    top:1em;
    margin:0;
    margin-top:-1em;
    padding:0;
    color:#ddd;
}


#menu {
    margin:-0.35em 0 1em 0;
    background-color:#f6f6f6;
    border:1px solid #ddd;
    border-radius: 3px 3px 3px 3px;
}

#menu ul {list-style:none;line-height:1.46;margin-bottom:0;}

#menu li {
    font-family: "source_sans_pro",sans-serif !important;
    font-size:11px !important;

    margin:0 !important;
    text-align:left !important;
    letter-spacing:0 !important;
}

#menu li a {color:#6d6d6d}
#menu li {font-weight:bold;}

#menu li li {font-weight:normal;}

#menu {padding:0.5em 1em 0.5em 1em;}

#menu li > a {
    display:inline-block;
    width:100%;
    padding:0.2em 0.1em;
}

#menu li > a:hover {
    background: #e6e6e6;
}

/* TEXT */

#text {
  margin-top:-6em;
}

.sutta hgroup {
  margin-top:6em;
}
.sutta h1,.sutta h2,.sutta h3,.sutta h4,.sutta h5,.sutta h6
    {
    font-family:'Skolar Sutta Web SC', 'Skolar Sutta Web', Garuda,"Browallia New",Thonburi,Loma,Waree,Kinnari,serif;
    text-align:center;
    font-weight:normal;
    letter-spacing:0.02em;
    color:#a1a1a1;
}

.sutta h1 a, .sutta h2 a, .sutta h3 a, .sutta h4 a, .sutta h5 a, .sutta h6 a{color:#a1a1a1;}

article h2 a, article h3 a, article h4 a, article h5 a, article h6 a{color:#b2b2b2 !important;}



.sutta h1   {
    font-size:2em;
    margin-bottom:1.3em;
    padding-top:0em;
}

.sutta h2   {
    margin:0 0 0.85em 0;
    font-size:1.5em;
}

.sutta h3  {
    margin:-0.26em 0 1.26em 0;
    font-size:1.2em;
}

.sutta h4, .sutta h5, .sutta h6 {
    margin:1.29em 0 1.25em 0;
    font-size:1em;
}

.sutta {
    max-width: 40em;
    margin:0 auto;
    padding:0 5% !important;
}


.evam {
    font-family: 'Skolar Sutta Web SC', 'Skolar Sutta Web', Garuda,"Browallia New",Thonburi,Loma,Waree,Kinnari,serif;
    letter-spacing:0.02em;
}

.sutta hgroup h2                {       text-transform:uppercase;
                                        letter-spacing:0.2em;
                                        font-size:0.8em;
                                        color:#b2b2b2;
                                        margin:0;
                                        font-family:'source_sans_pro', sans-serif;
                                        }


.sutta hgroup h3                {       text-transform:uppercase;
                                        letter-spacing:0.2em;
                                        font-size:0.8em;
                                        color:#b2b2b2;
                                        margin:0;
font-family:'source_sans_pro', sans-serif;
                                        }

.sutta hgroup h4                {margin-top:-2em;
                                          color:#b2b2b2;
                                          font-style:italic;
                                        }
.sutta ul {
    list-style-type: none;
}

.sutta ol   {
     padding:0 0 1.5em 0;
     margin:0 0 0 -1em;
}

.sutta ol ol  {
     padding:0 0 0 1em;
     margin:0 0 0 0;
}


.gatha {
    font-size: inherit;
    display: table;
    width: auto;
    margin: 0 auto;
}

.indent {
  padding-left:1.5em;
}

.uddanagatha {
    font-size: 0.8em;
    display: table;
    width: auto;
    margin: 0 auto;
    font-style:italic !important;color:#b2b2b2;
}

.endh2, .endh3, .endh4, .endh5, .endh6, .endsutta, .endvagga, .endsubdivision, .endsection, .enddivision, .bhanavara, .enduddesa
    {
    text-align:center;
    font-family: 'Skolar Sutta Web',serif !important;
    font-style:italic !important;color:#b2b2b2;
}

.uddana {
    text-align:center !important;
    font-size:0.8em !important;
    margin-bottom:2em;
    font-family:'Skolar Sutta Web',serif !important;
    font-style:italic !important;color:#b2b2b2;
}

.endbook {
    text-align:center;
    font-family: 'Skolar Sutta Web',serif !important;
    font-weight:bold;color:#b2b2b2;
}

.dquo {margin-left: -1ex;position:absolute;}
.squo {margin-left: -0.6ex;position:absolute;}
.dsquo {margin-left: -1.6ex;position:absolute;}

button {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

button:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(250,250,250,1) 47%, rgba(245,245,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(250,250,250,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 47%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 47%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 47%,rgba(245,245,245,1) 100%); /* IE10+ */
    background: linear-gradient(top bottom,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 47%,rgba(245,245,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
button:active {
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

button[disabled=disabled] {
    background: rgb(240,240,240);
}



/*BOTTOM NAV*/




.next, .previous, .top {
        padding: 1em 3em;
        min-height: 1em;
        display: inline-block;
font-family:'source_sans_pro',sans-serif;
text-transform:uppercase;
letter-spacing: .2em;
font-size: .7em;
        color: #007afe;
        font-weight: bold;
        margin: 10em -3em 0 -3em;
}



.next                           {       float:right;}

.previous                       {
                                        float:left;}



.top                                    {
                                        position:absolute;text-align:center;
                                                left:45%;
                                                right:45%;}

.next:hover, .previous:hover, .top:hover {
        border: 0 solid #99f;
        background: #efefef;
        border-radius: 6px;
}

.tri {display:inline;}

footer{
    background:#B0D1C3;
    text-align:center;
    height:90px;
    clear:both;

}

#clearfooter {
    height: 90px;
    clear: both;
}

footer p {
    padding-top:2.3em;
    color:#b2b2b2;
    text-transform:uppercase;letter-spacing:0.1em;font-size:0.8em;font-family:'source_sans_pro', sans-serif;
}

/* KOREAN */

/* VIETNAMESE */



/*CHINESE*/

a.tlinehead:before {content:"CBETA "}

section:lang(zh) {
    letter-spacing:0.2em;
}
section:lang(zh) q {
    letter-spacing: normal;
}

.tlinehead {
    font-family:'source_sans_pro', sans-serif !important;
    color:#0099cc;
    margin: 1em 0 0 -16em;
    font-size:0.5em !important;
    letter-spacing:0 !important;
    visibility:hidden;
    position:absolute;
}

.tlineheadnote {color:red;}


/*NEW CLASSES ADDED FOR VERSION 3.0 (PYTHON). THESE ARE MAINLY FOR SANSKRIT TEXTS. I PLACE THEM HERE FOR NOW, BUT ULTIMATELY THEY SHOUL BE INTEGRATED PROPERLY. UNDER THE DESCRIPTION IS THE TITLE ATTRIBUTE.*/

.ref
/*references external, eg to other books. Used in IBH.*/

.cr
/*cross-reference, i.e. internal references. Used in IBH.*/
.surplus	{display:none;}
.surplus.infomode	{display:inline;color:#4805A2}
/*For Mahaparinirvana text, marks apparently random phrases that are marked in bold in GRETIL. 

Surplus text.
*/

.supplied {}	
.supplied.infomode	{color:#B3A72D}
/*In almost all Sanskrit texts, there is reconstruction by the editor. These are marked <span class="supplied"></span>. In CSS this should by default display normally, and optionally, use 


Text hypothetically reconstructed by the editor or translator.
*/

.supplied2 {}
.supplied2.infomode	{color:#9B8D00}
/*In some cases there are two forms of supplied text, usually differentiated in the original by () and []. This difference is retained by using supplied2 for the []. Actually these should be marked more clearly to differentiate them, but this will differ according to the various publications, which I don't have. So for now let them behave as for .supplied, except use 

Text hypothetically reconstructed by the editor or translator.
*/

p .add {display: none; }
.add.show {display: inline;}


p .add.infomode  {
    display:inline;
    padding: 0 0.5em;
    font-family:'source_sans_pro';
    color:#b2b2b2;
    font-size: 80%;
}

.add.infomode {background:#fefefe; box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.25);}

.add.infomode .author{
    font-family:'hetu_schetu_sc';
}
/*There are some editorial additions marked <span class="add"></span>. These should be hidden by default.

Text added by the editor or translator for clarification.
*/

.suppliedmetre	{color:#b2b2b2;font-family:'hetu_schetu_sc'}
/*This is for cases where the editor has "filled in the blanks" (hence "supplied") with metrical notation (hence "metre"). 

Metre reconstructed by the editor.
*/

.gap	{color:#B2AF8C}
/*For marking gaps in the text, which are filled in with + or the like.  In IB Horner's translation, deliberate gaps were marked by the translator with an *. Accidental omissions are marked with +.

Gap in the manuscript.
*/

.corr {}
corr.infomode	{color:#00751A} 
/*A corrected reading that has been adopted in the text (usually by the latest editor mentioned in the meta). By default display normally.


Reading corrected by the editor.
*/

.sic	{display:none}
.sic.infomode	{display:inline; color:#9B0F00;}
/*
Apparently incorrect reading determined by the editor.
*/

.lem {}
.lem.infomode	{color:#432769}
/*The adopted main reading in a text. Display normally.



Accepted reading in this text.
*/

.rdg {}
/*A variant reading. Use the same color as for "var" above. In fact, these var should be merged under rdg (which is the TEI terminology.)

Variant reading.
*/

cite.book	{font-style:italic;}
/*A book title.*/

cite.article	{font-style:normal}
/*An article title.*/

.gatha-number {}
/*As it says. Style as for other refs.*/

.del	{display:none;}
.del.infomode	{color:#EE1700;}
/*(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, annotator, or corrector.

Text deleted by the editor as superfluous.
*/

.unclear	{color:#b2b2b2}
/*Text marked as uncertain, usually with a "?", in the transcribed text.

Unclear reading.
*/
.namo		{font-style:italic;text-align:center;}
/*dedication at the start of texts*/

.scribe		{font-style:italic}
/*note in the text recording who copied the text*/
hr		{width:33%;color:#b2b2b2;margin:0 auto 2em}
.rule	{font-weight:bold}
/*text in vibhanga, etc., of the rule itself.*/


#vinita {}
/*Discussion of various cases in Vinaya vibhangas.*/

#restatement {}
/*Restatement of the rule in some Vinaya vibhangas.*/

#pannatti-prelim {}
/*Preliminary laying down of the rule in Vinaya vibhangas*/

#pannatti {}
/*Final laying down of the rule in Vinaya vibhangas.*/

#cakka {}
/*Permutations of rule application.*/

#pada {}
/*Definitions of terms.*/

.term {}
/*term to be defined.*/

.gloss {}
/*Definition of a term. The relevant gloss and term should be linked with id.*/

.kamma {}
/*Words spoken during a formal act of the Sangha.*/

.counter {}
/*Token, number, or syllable used in some texts as a counter. Use only for counters found in text, not added.*/

.rule {}
/*Vinaya rule or precept.*/

#nidana {}
/*Origin story.*/

#nidana-sub {}
/*Subsidiary origin story*/

/*CBETA tags

Generally, eliminate inline styles, and retain semantic markup. Transform all classes inherited from CBETA by prefixing with t-. This is to avoid clashing with SC classes, and also to clarify the source of the markup.. NEED TO CHANGE PREVIOUS HANDLING OF CBETA TAGS*/

.t-note	{}
/*= .note in CBETA text. Changed to avoid confusion with SC's .note. Indicates usually bracketed note or comment in the text. No need to indicate.*/

.t-gaiji	{color:darkcyan}
/*Rare character indicated in Chinese text of CBETA. These are coded thus:
<span class="t-gaiji">勅<!--gaiji,敕,1[束*力],2&#x52C5;,3--></span>

Rare character.
*/

.t-juannum {}
/*Sutra number, possibly other numbers.*/

.t-juanname {}
/*Title of sutra, end of sutra.*/

.t-byline {}
/*attribution in CBETA.*/

.titus {display:none}
/*reference numbers that appear in some titus editions, eg. sf217. I don't know what these refer to. set display:none.*/


.titus-random {display:none}
/*inexplicable numbers that appear to serve the purpose of clunking up the text in Titus editions. display:none.

I cannot find any explanation for either of the above two ref systems, and they are kept solely for legacy purposes.*/

/*	Various ref classes. In some cases the text uses different ref numbering in different parts, where they are sourced from various manuscripts or additions. In such cases I have already marked up the numbers appropriately. 

The classes are usually named according to the surname and year of publication. Here they are followed by the title, which is to be inserted with javascript.

CSS Class	HTML Title

.ud-vagga-sutta	"Chapter/sutta number."

.ud-sutta			"Sutta number."

.snp-vagga-verse	"Chapter, and verse number within the chapter."

.snp-vagga-section-verse	"Chapter, section, and verse number within the section."

.verse-num-pts		"Verse number in the Pali Text Society edition."

.eno89		"Paragraph numbers in Enomoto, 1989."
.uv			"Chapter and verse numbers for the Udānavarga."

.dp			"Verse numbers for Dhammapada."

.hoe16		"Verse numbers in Hoernle, 1916."

.mat85		"Paragraph numbers in Matsumura, 1985."

.mat88		"Paragraph numbers in Matsumura, 1988."

.mit57		"Paragraph numbers in Mittal, 1957."

.san89		"Paragraph numbers in Sander, 1987."

.tri62		"Sūtra and paragraph number in Tripāṭhī, 1962."

.tri95		"Section and paragraph number in Tripāṭhī, 1995."

.har04		"Paragraph number in Hartmann, 2004."

.fuk03		"Page numbers in Fukita, 2003"

.wal50		"Paragraph numbers in Waldschmidt, 1950 (etc.)."

.wal48		"Paragraph numbers for sondertext in Waldschmidt, 1948 (ST.ii)."

.wal61		"Paragraph numbers for sondertext in Waldschmidt, 1961 (ST.i)."

.wal55b		"Paragraph numbers in Waldschmidt, 1955b, “Die Einleitung des Saṅgītisūtra.”"

.wal57c		"Paragraph numbers in Waldschmidt, 1957c, “Das Upasenasūtra.”"

.wal52		"Paragraph numbers in Waldschmidt, 1952, 1956, 1960."

.wal58		"Paragraph numbers in Waldschmidt, 1958."

.wal59a		"Paragraph numbers in Waldschmidt, 1959a, “Kleine Brahmi-Schriftrolle.”"

.wal68a		"Paragraph numbers in Waldschmidt, 1958a, “Drei Fragmente buddhistischer Sūtras aus den Turfanhandschriften.”"

.wal70a		"Paragraph numbers in Waldschmidt, 1970a, Buddha frees the disc of the moon."

.wal70b		"Paragraph numbers in Waldschmidt, 1970b, “Fragment of a Buddhist Sanskrit text on cosmogony.”"

.wal76		"Paragraph numbers in Waldschmidt, 1976."

.wal78		"Paragraph numbers in Waldschmidt, 1978."

.wal80c		"Paragraph numbers in Waldschmidt, 1980c, “On a Sanskrit version of the Verahaccāni Sutta.”"

.mat88		"Paragraph numbers for Mahāsudarśanasūtra in Matsumura, 1988."

.san87		"Paragraph numbers in Sander, 1987."

.gno78		"Paragraph numbers in Gnoli, 1978."

.yam72		"Paragraph numbers in Yamada, 1972."

.wal60		"Paragraph numbers in Waldschmidt, 1960/1."

.hos89a		"Paragraph numbers in Hosoda, 1989, “Sanskrit Fragments from the Parivrājakasaṃyukta of the Saṃyuktāgama I.”"

.hos89b	"Paragraph numbers in Hosoda, 1989, “Sanskrit Fragments from the Parivrājakasaṃyukta of the Saṃyuktāgama II.”"

.hos91		"Paragraph numbers in Hosoda, 1991."

.vai59		"Page and line numbers in Vaidya, 1959."

.vai58		"Page numbers in Vaidya, 1958."

.sen82		"Section and paragraph numbers in Senart, 1882."
.roth		"Paragraph numbers in Roth, 1970."

The following references are secondary. They appear in the same files as some of the ones above, and should be styled as more distant from the text.

.hs			(Not defined in GRETIL source.)

.bl			(Not defined in GRETIL source.)

.as			"Page numbers in Yamada, 1972."

.sht			"References for SHT fragments."

.gbm		"Section numbers in Gilgit Buddhist Manscripts."

.fol			"Folio number in the manuscript."
.kel		"Paragraph numbers in Kelly, Sawyer, and Yareham."

.skt-mg-bu-pm	"Rule numbers in the Sanskrit Mahāsaṅghika Bhikhhu Pātimokkha."
In a few cases there are no paragraph numbers, these should be added as "SC" numbers. These texts are:

Mahavadana
Śroṇa 1
Śroṇa 2
Dahra
Sakrapasna
Āryānityatāsūtra
Avadanasataka
Lalitavistara
Sanghabhedavastu

*/

/*

* print styles
* inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/

*/
@media print {
    * {

    background: transparent !important; color: black !important;
    }


    a, a:visited, .vagga { color: black !important; }
    header, footer, .deets, .tri, #toc, .previous, .next, .top, .details, .transcol {display:none !important;}

    tr {position: relative;page-break-before: auto;}

    td {border: 1px solid #aaa;}

    th {border: 1px solid #000;}

table {position: relative;}

#onecol, #text {position: relative;}

    th, td {
        border-left: none;
        border-right: none;
        padding: 0.2em;
    }

    tfoot tr{border: none;}

    body, td, th, caption
    {
        font-size: 11pt;
        font-family: 'Skolar Sutta Web',"Gentium Basic",Cambria,"Times New Roman","DejaVu Serif",Helvetica,Arial,serif;
    }


    #onecol, #text {margin-top:-3cm;}

    @page { margin: 2cm 1cm; }
    p, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; color:black;}
    h2, h3	{ page-break-after: avoid; }

    .ue-tab-container {
        display: none;
    }
}


/*



* NARROW SCREEN


*/
@media only screen and (max-width: 65em) {

    header h1 {
        margin-bottom: 0;
        padding-top: 0em;
    }

header h2	{visibility:hidden;}

    .wheel {
        font-size: 2.5em;
    }

    .search {
        margin-left: 1.5em;
    }
}

@media only screen and (max-width : 45em) {
.searchspace {width:8em;}

.searchbutton {width:3em;}
}

@media only screen and (max-width : 35em) {

    header h1 {
        margin-bottom: 0;
    padding-top:0em;font-size:1.2em;
    }

header h2	{visibility:hidden;}

    .wheel {
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-right: 0.2em;
    }

    #navbar {
        float: left;
        font-size: 0.7em;
        display: block
    }

    .search {
        float: left;
        margin-left: 0;
        font-size: 0.7em;
        margin-bottom: 0.3em;
        margin-right: 10em;

    }

.searchspace {width:13.3em;}

.searchbutton {width:4.5em;}

.searchbutton img {height:1em;}
}


/*

* Mobile

*/

@media only screen and (max-width: 25em) {




.search {margin-right:0em;}

#home ul {width:100%;}

caption {text-align:left;}

    .abhidhamma {
        width: 100% !important;
        margin: 0 auto;
    }

.abhidhamma ul {width:100% !important;}
}

/* 2013-09-07 - Do not show UserEcho tab until we need it. */
.ue-tab-container {
    display: none !important;
}
