.error_page{padding-top:5em}

.bibliography {text-indent: -1em;}

.abbreviations table {margin: 0 0 1.3em 0}
.abbreviations caption {margin:1em 0 1em 0;}

.school {
    border:1px solid #ccc;
    margin:0em -0.25em 1.3em -0.25em;
    padding:0.25em 0.25em 0 0.25em;
}

.abhidhamma {
    width: 60% !important;
    margin: 0 auto;

    @media #{$mobile} {
        width: 100% !important;
    }

    ul {
        width: 29% !important;

        @media #{$mobile} {
            width: 100% !important;
        }
    }
}

tr.origin {background:#ececec;}

.vagga {
    color:#767676;
    text-transform:lowercase;
    font-family: 'Skolar Sutta Web SC','Skolar Sutta Web',serif;
    letter-spacing:0.05em;
}

.subdivision {
    color:#767676;
    text-transform:uppercase;
    letter-spacing:0.05em;
    padding-top:1em;
    font-weight:bold;
}

td.vagga {border:none;}

.details {
    @include sans-serif;
    float:right;
    color:#75A38F;
    margin:0 1.5em 0 0;
    padding:0.1em 0.3em 0.1em 0.3em;
}

.sutta .details {
    float: none;
    position:relative;
    top: 0.1em;
    font-size: 85%;
    
    &:not(:hover) {
        color: get-other-color(light-gray);
    }
}


a.details {text-decoration:none;}
a.details:link {color:#75A38F;}
a.details:visited {color:#607A6F;}
a.details:hover {color:#DF00FF;}
a.details:active {color:purple;}

td .altVolPage:before {content:"<";}
td .altVolPage:after {content:">";}
td .altAcronym:before {content:"[";}
td .altAcronym:after {content:"]";}
td .altVolPage, td .altAcronym {font-size: 80%; color: #555}

.negated-parallel {
    color: get-other-color(medium-gray);
}

table.divtable td:nth-of-type(1) > a {white-space:nowrap;}


.infomode {
    .insertion:before {
        content:'[';
    }
    .insertion:after {
        content:']';
    }
}


/* MARGIN 'NOTES' */

a.vimula {color:blue;}

a.pub {
    color:#6d6d6d;
    position:relative;
}

a.bl {display:none;}


#metaarea .author, #metaarea .smallcaps, #metaarea .roman_numerals, .deets .author, .deets .smallcaps, .deets .roman_numerals {
    @include sans-serif-small-caps;
    font-style:normal;
    letter-spacing:0.02em;
    text-transform:lowercase;
}

.author {
    @include serif-small-caps;
    font-style:normal;
    letter-spacing:0.02em;
}

.smallcaps {
    @include serif-small-caps;
    text-transform:lowercase;
    letter-spacing:0.02em;
}

.roman_numerals {
  text-transform:lowercase;
    @include serif-small-caps;
    font-style:normal;
    
}

q:before,
q:after {
 content: "";
}

/* BOOKMARKED SECTION HIGHLIGHTING */
.embeddedparallel.bookmarkeded {
    padding: 1em;
    margin-left:-1em;
    margin-right:-1em;
    border-radius: 1em;
    background-color: #feeae7;
    margin-bottom: 1.5em;
}
/* The bottom margin is transfered to the highlighting element */
.embeddedparallel.bookmarkeded p:last-child {
    margin-bottom: 0em;
}

/*#text_info_button, #pali_lookup_button, #zh2en*/

/* TEXT */


.evam {
    @include serif-small-caps;
    letter-spacing:0.02em;
}

.badfonts .evam {
    font-family: serif;
}

.sutta ul {
    list-style-type: none;
    padding:0 0 1.5em 0;
     margin:0 0 0 3em;
}



.sutta ol   {
     padding:0 0 1.5em 0;
     margin:0 0 0 3em;
}

.sutta ol ol  {
     padding:0 0 0 1em;
     margin:0 0 0 0;
}


.gatha {
    font-size: inherit;
    display: table;
    width: auto;
    margin: 0 auto;
}

.indent {
  padding-left:1.5em;
}

.uddanagatha {
    font-size: 0.8em;
    display: table;
    width: auto;
    margin: 0 auto;
    font-style:italic !important;
    color:#767676;
}

.vagguddanagatha{
    display: table;
    width: auto;
    margin: 0 auto;
    font-style:italic !important;
    color:#767676;
}

.endh2, .endh3, .endh4, .endh5, .endh6, .endsutta, .endvagga, .endsubdivision, .endsection, .enddivision, .bhanavara, .enduddesa, .end, .endsubsection
    {
    text-align:center;
    @include serif(!important);
    font-style:italic !important;
    color:#767676;
}

.uddana {
    margin-bottom:2em;
    @include serif(!important);
    font-style:italic !important;
    color:#767676;
}

.endbook {
    text-align:center;
    @include serif(!important);
    font-weight:bold;
    color:#767676;
    text-transform:uppercase;
    letter-spacing:0.1em;
}

.name{font-style:normal}

.tri {display:inline;}

/* KOREAN */

/* VIETNAMESE */



/*CHINESE*/
:lang(zh), :lang(lzh) {
    .endsutta, .endvagga,  .endsection, .enddivision, .end {
        font-weight:normal !important;
        font-style:normal !important;
    }
}
h1 .t-note{display:none}

.tlineheadnote {color:red;}


/*NEW CLASSES ADDED FOR VERSION 3.0 (PYTHON). THESE ARE MAINLY FOR SANSKRIT TEXTS. I PLACE THEM HERE FOR NOW, BUT ULTIMATELY THEY SHOUL BE INTEGRATED PROPERLY. UNDER THE DESCRIPTION IS THE TITLE ATTRIBUTE.*/

//.ref
/*references external, eg to other books. Used in IBH.*/

//.cr
/*cross-reference, i.e. internal references. Used in IBH.*/
.surplus {
    display:none;
    color:#4805A2;
    .infomode & {
        display:inline;
    }
        
}

/*For Mahaparinirvana text, marks apparently random phrases that are marked in bold in GRETIL. 

Surplus text.
*/

.supplied {
    .infomode & {
        color:#B3A72D
    }
}
/*In almost all Sanskrit texts, there is reconstruction by the editor. These are marked <span class="supplied"></span>. In CSS this should by default display normally, and optionally, use 


Text hypothetically reconstructed by the editor or translator.
*/

.supplied2 {
    .infomode & {
        color:#9B8D00;
    }
}
/*In some cases there are two forms of supplied text, usually differentiated in the original by () and []. This difference is retained by using supplied2 for the []. Actually these should be marked more clearly to differentiate them, but this will differ according to the various publications, which I don't have. So for now let them behave as for .supplied, except use 

Text hypothetically reconstructed by the editor or translator.
*/

 p .add, p.add{
                                border:1px solid rgb(215, 215, 215);
        display:inline;
        padding: 0 0.3em;
        @include sans-serif;
        color:#767676;
        font-size: 100%;
    background:#fefefe;
    box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.25);
}
p .add .author, p.add .author {
        @include sans-serif-small-caps;
    }

/*There are some editorial additions marked <span class="add"></span>. Previously these were hidden by default, but they are now visible by default.

Text added by the editor or translator for clarification.
*/
.pe {font-style:italic;
.infomode & {
        color:#9B8D00;
    }
    }

.expanded {display:inline
.infomode & {
        color:get-other-color(light-medium-gray);
    }
    }

.suppliedmetre {
    color: #767676;
    @include sans-serif-small-caps;
}
/*This is for cases where the editor has "filled in the blanks" (hence "supplied") with metrical notation (hence "metre"). 

Metre reconstructed by the editor.
*/

.gap    {color:#B2AF8C}
/*For marking gaps in the text, which are filled in with + or the like.  In IB Horner's translation, deliberate gaps were marked by the translator with an *. Accidental omissions are marked with +.

Gap in the manuscript.
*/

.choice {
    .corr {
        display: none;
    }
}

.infomode {
    .choice {
        .corr {
            display: inline-block;
            position: absolute;
            background: get-pastel-color(light-red);
            padding: 0.5em;
            border-radius: 3px;
            margin-top: -2.5em;
            margin-left: -0.5em;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 3px;
            border:1px solid #ccc;
            box-shadow:6px 4px 10px rgba(136, 136, 136, 0.3);
            @include sans-serif;
        }
    }
    .choice:hover .corr {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

/*A corrected reading that has been adopted in the text (usually by the latest editor mentioned in the meta). Hide by default.


Reading corrected by the editor.
*/

.sic {
    
    .infomode & {
        
        color:get-saturated-color(bright-red);
    }
}

/*
Apparently incorrect reading determined by the editor.
*/

.lem {
    .infomode & {
        color:#432769;
    }
}
/*The adopted main reading in a text. Display normally.



Accepted reading in this text.
*/

.rdg {}
/*A variant reading. Use the same color as for "var" above. In fact, these var should be merged under rdg (which is the TEI terminology.)

Variant reading.
*/

cite.book   {font-style:italic;}
/*A book title.*/

cite.article    {font-style:normal}
/*An article title.*/

.gatha-number {}
/*As it says. Style as for other refs.*/

.del {
    display:none;
    .infomode & {
        color:#EE1700;
    }
}

/*(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, annotator, or corrector.

Text deleted by the editor as superfluous.
*/

.unclear    {color:#767676}
/*Text marked as uncertain, usually with a "?", in the transcribed text.

Unclear reading.
*/
.namo       {font-style:italic;text-align:center;}
/*dedication at the start of texts*/

.scribe {
    font-style:italic;
    text-align: right;
}

/*note in the text recording who copied the text*/
hr      {width:33%;color:#767676;margin:2em auto}
.rule   {font-weight:bold}
/*text in vibhanga, etc., of the rule itself.*/


#vinita {}
/*Discussion of various cases in Vinaya vibhangas.*/

#restatement {}
/*Restatement of the rule in some Vinaya vibhangas.*/

#pannatti-prelim {}
/*Preliminary laying down of the rule in Vinaya vibhangas*/

#pannatti {}
/*Final laying down of the rule in Vinaya vibhangas.*/

#cakka {}
/*Permutations of rule application.*/

#pada {}
/*Definitions of terms.*/

.term {}
/*term to be defined.*/

.gloss {}
/*Definition of a term. The relevant gloss and term should be linked with id.*/

.kamma {}
/*Words spoken during a formal act of the Sangha.*/

.counter {}
/*Token, number, or syllable used in some texts as a counter. Use only for counters found in text, not added.*/

.rule {}
/*Vinaya rule or precept.*/

#nidana {}
/*Origin story.*/

#nidana-sub {}
/*Subsidiary origin story*/

/*CBETA tags

Generally, eliminate inline styles, and retain semantic markup. Transform all classes inherited from CBETA by prefixing with t-. This is to avoid clashing with SC classes, and also to clarify the source of the markup.. NEED TO CHANGE PREVIOUS HANDLING OF CBETA TAGS*/

.t-note {}
/*= .note in CBETA text. Changed to avoid confusion with SC's .note. Indicates usually bracketed note or comment in the text. No need to indicate.*/

.t-gaiji    {color:darkcyan}

