.error_page{padding-top:5em}

small{
    @include sans-serif;
}

.bibliography {text-indent: -1em;}

.abbreviations table {margin: 0 0 1.3em 0}
.abbreviations caption {margin:1em 0 1em 0;}

.school {
    border:1px solid #ccc;
    margin:0em -0.25em 1.3em -0.25em;
    padding:0.25em 0.25em 0 0.25em;
}

.abhidhamma {
    width: 100% !important;
    margin: 0 auto;

    ul {
        width: 29% !important;
    }
}

tr.origin {background:#ececec;}
table {
    .vagga {
        color:#767676;
        @include serif-all-small-caps;
        letter-spacing:0.05em;
    }

    .subdivision {
        color:#767676;
        text-transform:uppercase;
        letter-spacing:0.05em;
        padding-top:1em;
        font-weight:bold;
    }
}

td.vagga {border:none;}

.details {
    @include sans-serif;
    float:right;
    color:#75A38F;
    margin:0 1.5em 0 0;
    padding:0.1em 0.3em 0.1em 0.3em;
}

.sutta .details {
    float: none;
    position:relative;
    top: 0.1em;
    font-size: 85%;
    
    &:not(:hover) {
        color: misc-color(light-gray);
    }
}


a.details {text-decoration:none;}
a.details:link {color:#75A38F;}
a.details:visited {color:#607A6F;}
a.details:hover {color:#DF00FF;}
a.details:active {color:purple;}

td .altVolPage:before {content:"<";}
td .altVolPage:after {content:">";}
td .altAcronym:before {content:"[";}
td .altAcronym:after {content:"]";}
td .altVolPage, td .altAcronym {font-size: 80%; color: #555}

.negated-parallel {
    color: misc-color(medium-gray);
}

table.divtable td:nth-of-type(1) > a {white-space:nowrap;}


.infomode {
    .insertion:before {
        content:'[';
    }
    .insertion:after {
        content:']';
    }
}


/* MARGIN 'NOTES' */

a.vimula {color:blue;}

a.pub {
    color:#6d6d6d;
    position:relative;
}

a.bl {display:none;}


#metaarea .author, #metaarea .smallcaps, #metaarea .roman_numerals, .deets .author, .deets .smallcaps, .deets .roman_numerals {
    @include sans-serif-all-small-caps;
    font-style:normal;
    letter-spacing:0.02em;    
}

.author {
    @include serif-small-caps;
    font-style:normal;
    letter-spacing:0.02em;
}

.smallcaps, .speaker {
    @include serif-all-small-caps;
    letter-spacing:0.02em;
}

.roman_numerals {
    @include serif-all-small-caps;
    font-style:normal;
    
}
