/*
Error: Invalid CSS after "    $url ": expected ":", was "= '#{$base_font..."
        on line 50 of fonts/common.scss
        from line 1 of main-free.scss

45: $tharlon: 'TharLon';
46: $ddc-uchen: 'DDC Uchen';
47: $noto-sans-myanmar: 'Noto Sans Myanmar';
48: 
49: @mixin font-face-src($font-path, $svg-id) {
50:     $url = '#{$base_font_url}/#{$font-path}';
51:     src: url('#{$url}.eot');
52:     src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
53:         url('#{$url}.woff2') format('woff2'),
54:          url('#{$url}.woff') format('woff'),
55:          url('#{$url}.ttf') format('truetype'),

Backtrace:
fonts/common.scss:50
main-free.scss:1
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:605:in `variable'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:231:in `mixin_directive'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:407:in `run'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.1.0/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    $url \": expected \":\", was \"= '#{$base_font...\"\A         on line 50 of fonts/common.scss\A         from line 1 of main-free.scss\A \A 45: $tharlon: 'TharLon';\A 46: $ddc-uchen: 'DDC Uchen';\A 47: $noto-sans-myanmar: 'Noto Sans Myanmar';\A 48: \A 49: @mixin font-face-src($font-path, $svg-id) {\A 50:     $url = '#{$base_font_url}/#{$font-path}';\A 51:     src: url('#{$url}.eot');\A 52:     src: url('#{$url}.eot?#iefix') format('embedded-opentype'),\A 53:         url('#{$url}.woff2') format('woff2'),\A 54:          url('#{$url}.woff') format('woff'),\A 55:          url('#{$url}.ttf') format('truetype'),"; }
