/* Due to a bug (possibly in PySCSS), reading UTF-8 encoded SCSS files can lead
to failures. So we temporarily sequester the UTF-8 CSS statements to this
separate file for now.... */


/*a.bl:before {content:"bl "}*/
a.ba:before {content:"BA "}
a.bi:before {content:"BI "}
a.bjt:before {content:"BJT "}
a.bm:before {content:"BM "}
a.bn:before {content:"BN "}
a.bps:before {content:"BPS "}
a.bjt:before {content:"BJT "}
a.d-vp:before {content:"D vp "}
a.eno89:before {content:"Eno "}
a.es:before {content:"ES "}
a.fuk03:before {content:"Fuk "}
a.fol:before {content:"Fol "}
a.gatha-number:before {content:"Verse "}
a.hh:before {content:"HH "}
/*a.gatn:before {content:" "}*/
a.gbm:before {content:"GBM "}
a.gno78:before {content:"Gno "}
a.har04:before {content:"Har "}
a.hoe16:before {content:"Hoe "}
a.hos89a:before, a.hos89b:before, a.hos91:before {content:"Hos "}
a.hs:before {content:"hs "}
a.jd:before {content:"JD "}
a.jsk:before {content:"JSK "}
a.kel:before {content:"Kel "}
a.kl:before {content:"KL "}
a.ks:before {content:"KS "}
a.mat85:before, a.mat88:before {content:"Mat "}
a.mkv:before, {content:"Mkv "}
a.mit57:before {content:"Mit "}
a.ms:before {content:"MS "}
a.msdiv:before {content:"Msdiv "}
a.mt:before {content:"MT "}
a.nm:before {content:"NM "}
a.np:before {content:"NP "}
a.nst:before {content:"NST "}
a.of:before {content:"OF "}
a.pl:before {content:"PL "}
a.pts:before {content:"PTS "}
a.pts1:before {content:"PTS (1st ed.) "}
a.pts2:before {content:"PTS (2nd ed.) "}
a.pts-vp-pi:before {content: "PTS vp pi ";}
a.pts-vp-en:before {content: "PTS vp en ";}
a.pts_pn:before {content:"PTS "}
a.pts-s:before {content:"PTS s ";}
a.pts-cs:before {content:"PTS cs ";}
a.pts-p-pi:before {content: "PTS p pi "}
a.rs-vp:before {content: "RS vp "}
a.san87:before, a.san89:before {content:"San "}
a.sb:before {content:"SB "}
a.sc:before {content:"SC "}
a.sen:before {content:"Sen "}
a.sht:before {content:"SHT "}
a.snp-vagga-section-verse:before, a.snp-vagga-verse:before {content:"SNP "}
a.ss:before {content:"SS "}
a.t:before, a.t-linehead:before {content:"T "}
a.tb:before {content:"TB "}
a.tri62:before, a.tri95:before {content:"Tri "}
a.ud-sutta:before, a.ud-vagga-sutta:before {content:"Ud "}
a.ttc:before {content:"TTC "}
/*a.tu:before {content:" "}*/
a.uv:before {content:"Uv "}
a.vai58:before, a.vai59:before, a.vai61:before {content:"Vai "}
a.verse-num-pts:before {content:"PTS verse "}
a.vn:before {content:"Vn "}
a.wal48:before, a.wal50:before, a.wal52:before, a.wal57c:before, a.wal58:before, a.wal59a:before, a.wal60:before, a.wal61:before, a.wal68a:before, a.wal70a:before, a.wal70b:before, a.wal76:before, a.wal78:before, a.wal80c:before {content:"Wal "}
a.wg:before {content:"WG "}
a.wp:before {content:"WP "}
a.wr:before {content:"WR "}
a.yam72:before {content:"Yam "}



/*Rare character indicated in Chinese text of CBETA. These are coded thus:
<span class="t-gaiji">勅<!--gaiji,敕,1[束*力],2&#x52C5;,3--></span>

Rare character.
*/

.t-juannum {}
/*Sutra number, possibly other numbers.*/

.t-juanname {}
/*Title of sutra, end of sutra.*/

.t-byline {}
/*attribution in CBETA.*/

.titus {display:none}
/*reference numbers that appear in some titus editions, eg. sf217. I don't know what these refer to. set display:none.*/


.titus-random {display:none}
/*inexplicable numbers that appear to serve the purpose of clunking up the text in Titus editions. display:none.

I cannot find any explanation for either of the above two ref systems, and they are kept solely for legacy purposes.*/

/*	Various ref classes. In some cases the text uses different ref numbering in different parts, where they are sourced from various manuscripts or additions. In such cases I have already marked up the numbers appropriately. 

The classes are usually named according to the surname and year of publication. Here they are followed by the title, which is to be inserted with javascript.

CSS Class	HTML Title

.ud-vagga-sutta	"Chapter/sutta number."

.ud-sutta			"Sutta number."

.snp-vagga-verse	"Chapter, and verse number within the chapter."

.snp-vagga-section-verse	"Chapter, section, and verse number within the section."

.verse-num-pts		"Verse number in the Pali Text Society edition."

.verse-num		"Verse number."

.bi             "Paragraph numbers in Bhikkhu Indacanda."

.bjt            "Paragraph numbers in Buddha Jayanthi."

.bm     	"Paragraph numbers in Bhikkhu Mettiko."

.bn     	"Paragraph numbers in Bhikkhu Ñāṇadassana."

.eno89		"Paragraph numbers in Enomoto, 1989."

.es    		"Paragraph numbers in Ekkehard Saß."

.uv		"Chapter and verse numbers for the Udānavarga."

.dp		"Verse numbers for Dhammapada."

.hoe16		"Verse numbers in Hoernle, 1916."

.hh     	"Paragraph numbers in Hellmuth Hecker."

.jd     	"Paragraph numbers in Dr. Julius Dutoit."

.jsk     	"Paragraph numbers in Prof. J.S. Krüger."

.ks     	"Paragraph numbers in Karl Seidenstücker."

.mat85		"Paragraph numbers in Matsumura, 1985."

.mat88		"Paragraph numbers in Matsumura, 1988."

.mit57		"Paragraph numbers in Mittal, 1957."

.msdiv		"Msdiv paragraph numbers."

.nm     	"Paragraph numbers in Nyānatiloka Mahāthera."

.np     	"Paragraph numbers in Nyānaponika Mahāthera."

.nst            "Paragraph numbers in Ven. Nilwakke Somananda Thera."

.pl     	"Paragraph numbers in Peter van Loosbroek."

.san89		"Paragraph numbers in Sander, 1987."

.ss             "Paragraph numbers in Shai Schwartz."

.tb             "Paragraph numbers in Thanissaro Bhikkhu."

.tri62		"Sūtra and paragraph number in Tripāṭhī, 1962."

.tri95		"Section and paragraph number in Tripāṭhī, 1995."

.ttc            "Paragraph numbers in Thích Thiện Châu."

.har04		"Paragraph number in Hartmann, 2004."

.fuk03		"Page numbers in Fukita, 2003"

.wal50		"Paragraph numbers in Waldschmidt, 1950 (etc.)."

.wal48		"Paragraph numbers for sondertext in Waldschmidt, 1948 (ST.ii)."

.wal61		"Paragraph numbers for sondertext in Waldschmidt, 1961 (ST.i)."

.wal55b		"Paragraph numbers in Waldschmidt, 1955b, “Die Einleitung des Saṅgītisūtra.”"

.wal57c		"Paragraph numbers in Waldschmidt, 1957c, “Das Upasenasūtra.”"

.wal52		"Paragraph numbers in Waldschmidt, 1952, 1956, 1960."

.wal58		"Paragraph numbers in Waldschmidt, 1958."

.wal59a		"Paragraph numbers in Waldschmidt, 1959a, “Kleine Brahmi-Schriftrolle.”"

.wal68a		"Paragraph numbers in Waldschmidt, 1958a, “Drei Fragmente buddhistischer Sūtras aus den Turfanhandschriften.”"

.wal70a		"Paragraph numbers in Waldschmidt, 1970a, Buddha frees the disc of the moon."

.wal70b		"Paragraph numbers in Waldschmidt, 1970b, “Fragment of a Buddhist Sanskrit text on cosmogony.”"

.wal76		"Paragraph numbers in Waldschmidt, 1976."

.wal78		"Paragraph numbers in Waldschmidt, 1978."

.wal80c		"Paragraph numbers in Waldschmidt, 1980c, “On a Sanskrit version of the Verahaccāni Sutta.”"

.wg     	"Paragraph numbers in Wilhelm Geiger."

.wr     	"Paragraph numbers in Walpola Rahula."

.mat88		"Paragraph numbers for Mahāsudarśanasūtra in Matsumura, 1988."

.mkv     	"Page numbers in Mahākarmavibhaṅga."

.san87		"Paragraph numbers in Sander, 1987."

.gno78		"Paragraph numbers in Gnoli, 1978."

.yam72		"Paragraph numbers in Yamada, 1972."

.wal60		"Paragraph numbers in Waldschmidt, 1960/1."

.hos89a		"Paragraph numbers in Hosoda, 1989, “Sanskrit Fragments from the Parivrājakasaṃyukta of the Saṃyuktāgama I.”"

.hos89b	"Paragraph numbers in Hosoda, 1989, “Sanskrit Fragments from the Parivrājakasaṃyukta of the Saṃyuktāgama II.”"

.hos91		"Paragraph numbers in Hosoda, 1991."

.vai59		"Page and line numbers in Vaidya, 1959."

.vai58		"Page numbers in Vaidya, 1958."

.sen		"Section and paragraph numbers in Senart, 1882."

.roth		"Paragraph numbers in Roth, 1970."

.of		"Paragraph numbers in Otto Franke, 1913."

The following references are secondary. They appear in the same files as some of the ones above, and should be styled as more distant from the text.

.hs			(Not defined in GRETIL source.)

.bl			(Not defined in GRETIL source.)

.as			"Page numbers in Yamada, 1972."

.sht			"References for SHT fragments."

.gbm		"Section numbers in Gilgit Buddhist Manscripts."

.fol			"Folio number in the manuscript."

.kel		"Paragraph numbers in Kelly, Sawyer, and Yareham."

.mt		"Paragraph numbers in Maitrimurti / Trätow."

.sb		"Paragraph numbers in Fritz Schaefer / Raimund Beyerlein."

.kl             "Paragraph numbers in Kåre A. Lie."

.skt-mg-bu-pm	"Rule numbers in the Sanskrit Mahāsaṅghika Bhikhhu Pātimokkha."
In a few cases there are no paragraph numbers, these should be added as "SC" numbers. These texts are:

Mahavadana
Śroṇa 1
Śroṇa 2
Dahra
Sakrapasna
Āryānityatāsūtra
Avadanasataka
Lalitavistara
Sanghabhedavastu

*/

