{% extends "base.html" -%}
{% import 'macros.html' as macros with context %}
{%- block content -%}
<div id="onecol">
<table>
<caption>
Details for <strong><a href="{{sutta.url}}">{{sutta.acronym}}</a> {{sutta.name}}</strong></caption>
<thead>
<tr>
<th>Language</th>
<th>Identifier</th>
<th>Title</th>
<th>Vol/Page</th>
<th>Translations</th>
</tr>
</thead>
<tbody>
{% for parallel in parallels -%}
{%- if loop.first -%}
<tr class='origin'>
{%- else -%}
<tr>
{%- endif %}
<td>{{ parallel.sutta.lang.name }}</td>
<td>
{{macros.sutta_acronym(parallel.sutta, show_alt=True)}}
{%- if parallel.partial -%}*{%- endif -%}
</td>
<td>{{parallel.sutta.name}}</td>
<td>{{parallel.sutta.volpage_info}}
{%- if parallel.sutta.alt_volpage_info %} <span class='altVolPage'>{{parallel.sutta.alt_volpage_info|replace(" ", "&nbsp;")}}</span>
{%- endif -%}
{%- if parallel.footnote %}
<a class='note'><div class='tri'>&nbsp;►</div><span class='deets'>{{parallel.footnote}}</span></a>
{%- endif -%}
{%- if parallel.sutta.biblio_entry %}
<a class='bib'><div class='tri'>&nbsp;►</div><span class='deets'>{{parallel.sutta.biblio_entry}}</span></a>
{%- endif -%}
</td>
<td>
{% for translation in parallel.sutta.translations -%}
<a href='{{translation.url}}' class='tran' title='{{translation.abstract}}'>{{translation.lang.code}}</a>{% if not loop.last %} | {% endif %} 
{% endfor -%}
</td>
</tr>
{%- endfor %}
</tbody>
{{macros.table_footer()}}
</table>
</div>
{%- endblock -%}
