{% extends "tools/tools-base.html" -%}
{% block tool %}
<h2> About This Service</h2>
<p>You can use these online tools to clean up HTML produced by such tools as Microsoft Word, Libre Office, Calibre and various Content Management Systems. 
<p>This service is optimized for producing HTML for Sutta Central, but can be used by anyone for any purpose, if you want more options, consider [HTML tidy website] or downloading a copy of tidy. If you are a developer check [github] where the python scripts which are used under the hood are available.

{%- endblock %}
