{% extends "base.html" -%}
{% block content %}



<div id="onecol" class="tools">
<section>
<article>

<div id="home">
<div id="home-tabs">
    <ul class="tabs">
        <li class="active"><a href="#tools-about">About</a></li>
        <li><a href="#tools-cleanup">Clean up bad HTML</a></li>
        <li><a href="#tools-reencode">Fix encoding</a></li>
        <li><a href="#tools-submit">Submit Texts</a></li>
    </ul>
</div>

<div id="tools-about" style="display: block;">

<h1>HTML Processing Services</h1>
<p>You can use these online tools to clean up HTML produced by such tools as Microsoft Word, Libre Office, Calibre and various Content Management Systems. This page is optimized for producing HTML for Sutta Central. This utility can be used by anyone for any purpose, but if you want more options, consider [HTML tidy website] or downloading a copy of tidy. If you are a developer check [github] where the python scripts which are used under the hood are available.

</div>

<div id="tools-cleanup" style="display: block;">
<form action="/tools/clean" method="post" enctype="multipart/form-data">

<ul>
<li><h2>Clean up bad HTML</h2>
<li><p>After running any of these tools the resulting HTML files will be plain HTML5 with UTF-8 encoding. XHTML will be converted to HTML.
<li id="lxml">
<input name="cleanup" type="radio" value="applylxml" checked>
Just ensure document is well-formed HTML5 with utf-8 encoding. <p>Uses libxml2's error-correcting HTML parser which handles corrupt HTML very well, but does so silently. If you want feedback, or stronger correction of problems, select the Tidy option.</p>
<li id="tidy" > 
<input name="cleanup" type="radio" value="html5tidy"/>Apply HTML5 Tidy
<span class="flags"></span>
<ul><li> Level

<li><input name="tidy-level" type="radio" value=minimal data-flags="{{tidy_level.minimal}}" checked>Minimal <em>Tidies the document up largely leaving the markup alone</em>

<li><input name="tidy-level" type="radio" value=moderate data-flags="{{tidy_level.moderate}}">Moderate <em>Aggressively cleans up bad markup.</em>

<li><input name="tidy-level" type="radio" value=merciless data-flags="{{tidy_level.merciless}}">Merciless <em>Keeps structure but eliminates all styling information.</em>

<li id="tidy-extra"> Extra Options:
<ul>
<li><input name="tidy-nolinewrap" type="checkbox" data-flags="{{tidy_options['tidy-nolinewrap']}}" checked>No line wrap <em>Lines will be broken only at block level tags, like after a <code>&lt;/p&gt;</code></em>
<li><input name="tidy-logicalemphasis" type="checkbox" data-flags="{{tidy_options['tidy-logicalemphasis']}}" checked> Convert <code>&lt;b&gt;</code> to <code>&lt;strong&gt;</code>, <code>&lt;i&gt;</code> to <code>&lt;em&gt;</code>
<li><input name="tidy-force" type="checkbox" data-flags="{{tidy_options['tidy-force']}}"> Force output even in the case of errors. <em>Not reccomended! Errors should be fixed manually. For example if you spell a tag <code>&lt;blockquotw&gt;</code>, if Force Output is used, Tidy will simply remove the tag. You probably really do want a blockquote there. So fix it and don't force output.</em>
</ul>
</ul>
Tidy flags: <em> You can edit these if you know what you're doing.</em>
<textarea name="tidy-flags"></textarea>

<li>
<input name="cleanup" type="radio" value="descriptiveclasses" data-bound="[name=xml-tags], [name=brackets]">
Tidy document and normalize class names.
<p>Often in markup generated by a word processor, you will find numbered class 'names' and many different ways to represent say, bold blue text.
<p>This option will try it's best to name classes what they are.<br> For example:<br>
<code>&lt;span class="Big Blue Bold"&gt;Wow Heading&lt;/span&gt;</code>

<p>Note that this option <em>produces bad markup</em>, but it is very human readable bad markup. You can then manually replace these entities with the appropriate tags and classes.
<p> This option calls tidy with specific settings similiar to "moderate" above.
<ul><li>
<input name="xml-tags" type="checkbox"> Return XML tags.
<em>Instead of classes, make tags <code>&lt;spanBigBlueBold&gt;</code>, this is invalid HTML but can make search-replace particulary straightforward.</em>
<li><input name="brackets" type="checkbox" checked> Convert brackets to classes in tag clusters. <p> Sometimes you get bracketed headings, sometimes you get <code>&lt;b&gt;[heading]&lt;/b&gt;</code> and <code>[&lt;b&gt;heading&lt;/b&gt;]</code>, this replaces brackets with a class, <code>RoBr</code> or <code>SqBr</code>.
</ul>
<li id="decruft">
<h2> Remove cruft </h2>
<p>Often html documents will have huge quantities of 'boiler-plate' code or even just pointless rubbish. These options can help to effortlessly clear away vast swathes of such cruft.
<ul>
<li>
<input name="cherrypick" type="checkbox" data-bound="[name=cherrypick-css]">
Replace the contents of body, with only elements that match the following css selector.
<input name="cherrypick-css" type="text"></input><br>
<p><em>For example the entire content of the document might be in the tag <code>&lt;div class="main-content&gt;</code>, if you entered <code class="css">div.main-content</code> above then everything except the contents of the main-content div will be eliminated from the document. The <code>Inspect Element</code> tool in your web browser's right-click menu is invaluable for discovering the parent element you need (Chrome/Chromium's is clearest).
</em></p>
<hr>
<li>
<input name="strip-header" type="checkbox" data-bound="[name=strip-header-css]" checked>Eliminate contents of the header unless they match:
<input name="strip-header-css" type="text" value="style"><br>
<p><em> Often there is no useful information in the header. If there is useful meta tags, for example <code>&lt;meta name="keywords" content="..."&gt;</code> and <code>&lt;meta name="translator" content="..."&gt;</code> then you could specify <code class="css">meta[name="keywords"], meta[name="translator"]</code> to save those elements from the cull.</em></p>
</ul>
<li>
<p>Please put all the htm/html/xhtml files you want processed in a zip archive and upload the zip file. Only zip archives are supported. You will receive a zip archive in return.</p>
<input name="userfile" type="file" required>
<button>Submit</button></p>
</ul>
</form>
</div>

<div class="tools" id="tools-reencode" style="display: none;">
<form action="/tools/reencode" method="post" enctype="multipart/form-data">
<ul><li><h2> Re-encode</h2>
<li><p>These functions only work on the following formats: txt, html, odt and xml.
<li>
<input name="action" type="radio" value="csxplus" required>Convert CSX+ to UTF-8. Only use if you know the document contains CSX+, works for both properly encoded CSX+ and CSX+ which has been mistakenly converted to UTF-8, in other words, it fixes the most common cases. If you need to fix a doc file, convert it to odt first.
<li><input name="action" type="radio" value="detwingle" required>Attempt to fix corrupted characters which result from mixing Windows encoding with Unicode encoding.
</li>
<li> Please upload a zip archive containing the file or files to attempt to repair.<p>
<input type="file" name="userfile" required>
<button>Submit</button>
</ul>

</form>
</div>


<div id="tools-submit" style="display: none;">
<form action="/tools/finalize" method="post" enctype="multipart/form-data">
<ul>
<li>
<h2>Finalize HTML files for Sutta Central</h2>
<li>
<p>Within certain constraints, appropriately marked up HTML code will have the finishing touches put on them. This includes the proper use of section and article, paragraph numbers, menu generation and other details.
<p>If a file lacks required elements then an error report will be generated explaining what needs to be fixed. Sometimes the utility will guess, in which case a warning or notice will be generated.
<p>As a shorthand, where on suttacentral, a tag appears as: <code>&lt;span class="corr"&gt;gacchāmi&lt;/span&gt;</code> or <code>&lt;a class="wp" id="14"&gt;&lt;/a&gt;</code> you may instead use <code>&lt;corr&gt;gacchāmi&lt;/corr&gt;</code> or <code>&lt;wp&gt;14&lt;/wp&gt;</code>, the utility will automatically convert such tags into the proper HTML based on analysis of existing sutta central texts. If it is unable to make sense of a tag it will produce an error. Also if a class is used which is unknown to Sutta Central, a warning will be generated.
<p>HTML code should be valid HTML5, this means that attributes don't have to be quoted, you can omit many end tags, ids can be numeric and so on.
<li>
<input name="finalize-commit" type="checkbox">Commit texts to the text repository.
<p>If this option is selected then the files will be added to the repository and become visible on the website. This <em>requires</em> that no errors are generated. Furthermore within the zip file, files must either:<ul>
<li>1) have a properly defined 'lang' attribute
<code>&lt;div lang="en"&gt;</code>, or
<li>2) be arranged into folders named the language code:

<code><br>/fr/dn1.html<br>
/fr/dn2.html<br>
/de/dn1.html<br>
/de/dn2.html<br>
</code>
Subfolders are acceptable and encouraged:<br>
<code>/en/bhikkhu-bodhi/dn1.html</code>
</ul>
</p>
<p> For obvious reasons this is not available to the public. If you would like to submit texts, please contact a Sutta Central team member
<li>
<input name="userfile" type="file" required>
<button>Submit</button>


</form>
</div>


</article>
</section>
</div>
</div>

{%- endblock %}
