{% extends "base.html" -%}

{% block content %}
<div id="onecol">
<section>
<article class="donations">
<h1>SuttaCentral Donations</h1>
<h2>Thank you for your generosity.</h2>
{% if frequency == 'once' %}
<p>Your donation of <strong>${{ dollar_amount }}</strong> has been processed successfully. You will
get a receipt via email.</p>
<p> You’ve just helped bring the Dhamma to people all over the world.</p>
<p class="anumodana">Sādhu! Sadhu! Sādhu!</p>
{% elif frequency == 'monthly' %}
<p>Your donation plan of <strong>${{ dollar_amount }} per month</strong> has been processed successfully. You will
get a receipt via email each time your card is charged. If you want to cancel
this plan, please contact suttacentraldevelopmenttrust@gmail.com.</p>
<p> You’ve just helped bring the Dhamma to people all over the world.</p>
<p class="anumodana">Sādhu! Sadhu! Sādhu!</p>
{% endif %}
<p></p>
</article>
</section>
</div>
{%- endblock %}
