<div>
<div style="width: 100%; background: #eee8aa; border-bottom: 4px solid #9B0F00; ">
<img style="width: 50%" src="https://raw.githubusercontent.com/suttacentral/suttacentral/master/static/img/suttacentral-site-title-icon2.png" alt="SuttaCentral">
</div>
{% if test %}
<div><span style="display: inline-block; background-color: yellow; border-radius: 0.5em; padding: 0.5em;">TEST</span><small>This is a Stripe testing mode transaction, no charge was actually made.</small></div>
{% endif %}
<p>A new donation has been received:</p>
<table>
<tr><td>Amount</td> 
{% if frequency == 'once' %}
<td>{{dollar_amount}}</td></tr>
{% elif frequency == 'monthly' %}
<td><strong>{{dollar_amount}} per month</strong></td></tr>
{% endif %}
<tr><td>Email:</td><td><pre>{{email}}</pre></td></tr>
<tr><td>Name:</td><td><pre>{{name}}</pre></td></tr>
<tr><td>Address:</td><td><pre>{{address}}</pre></td></tr>
<tr><td>Message:</td><td><pre>{{message}}</pre></td></tr>
</table>
{% if free_gift != 'not_eligable' %}
<p>This donation is eligible for a complimentary copy of <cite class="book">Verses of the Senior Monks</cite>
{% if free_gift == 'accepted' %}
 <strong>and the user has requested they be sent the copy.</strong>
{% elif free_gift == 'declined' %}
 but the user declined the offer.
{% endif %}
</p>
{% endif %}
</div>
