
@font-face {
  font-family: 'Noto Sans Sinhala';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Bold.eot);
  src: url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Bold.ttf) format('truetype');
}
/*
 * Noto Sans Sinhala (Sinhala) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Sinhala';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanssinhala/v1/NotoSansSinhala-Regular.ttf) format('truetype');
}

/*
 * KoPub Batang (Korean) http://www.google.com/fonts/earlyaccess
 */

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Regular.eot);
  src: url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Bold.eot);
  src: url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/kopubbatang/v3/KoPubBatang-Bold.ttf) format('truetype');
}

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 300;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.otf) format('opentype');
 }



.sutta {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 5% !important;

    /*bilingual headings*/
.mirror {display:table;margin-left: auto;margin-right: auto;margin-bottom:4.6em;}
.mirror > * {display:table-row;}
.mirror-left{text-align:right;display:table-cell;padding-right: 1rem;border-right: 1px solid #e2e2e2;}
.mirror-right{text-align:left;display:table-cell;padding-left: 1rem;}
.mirror-middle{text-align:right;position:absolute;margin-top:0.2em;}
h1.mirror-row{line-height:1.5}
}
#text:lang(my), #text:lang(pi-Mymr) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family: 'Noto Sans Myanmar', serif;
                        letter-spacing: 0;
                        line-height: 2em;
        }
        h1, h2, h3, h4, h5, h6 {
                        font-weight: bold;
                        }
}
}


    #metaarea p {
        
        letter-spacing: 0;
        line-height: 2em;
    }
}

#text:lang(zh), #text:lang(lzh) {
    .sc {display: none}
    .uddanagatha{font-style:normal !important}
}
#text:lang(si), #text:lang(pi-Sinh) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family: 'Noto Sans Sinhala', serif;
                        letter-spacing: 0;
                        line-height: 1.8;
        }
        h1, h2, h3, h4, h5, h6{
                        font-weight: 700;
                     
        }
}
}
#text:lang(my), #text:lang(pi-Mymr) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family: 'Noto Sans Myanmar', serif;
                        letter-spacing: 0;
                        line-height: 2;
        }
        h1, h2, h3, h4, h5, h6 {
                        font-weight: bold;
                        }
}
}
#text:lang(th), #text:lang(pi-Thai) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family: "Lumen Thai", serif;
                        letter-spacing: 0;
                        font-style:normal !important;
                        line-height:2;
        }
h1, h2, h3, h4, h5, h6 {
                        font-weight: bold;
        }
}
}
#text:lang(hi), #text:lang(pi-Deva) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family:"Skolar Devanagari", serif;
                        letter-spacing: 0;
                        line-height:1.8;
        }
        h1, h2, h3, h4, h5, h6 {
                        font-weight: bold;
        }
}
}

#text:lang(ko) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family: 'KoPub Batang', serif;
                         letter-spacing: 0;
                        line-height:1.8;

        }
        .hgroup p {font-family: 'hetu_schetu_sc', 'Source Sans Pro', sans-serif;}
        h1, h2, h3, h4, h5, h6 {
                        font-weight: 700;

        }
}
}

#text:lang(jp) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,a,.evam {
                        font-family: 'Noto Sans Japanese', serif;
                        line-height:1.8;
                        letter-spacing: 0;
        }

        h1, h2, h3, h4, h5, h6 {
                        font-weight: 700;
        }
  
}
}

#text:lang(bo) {
     .sutta {
        h1, h2, h3, h4, h5, h6, p,li,.evam {
                        font-family: 'DDC Uchen', serif;
                        line-height:2;
                        letter-spacing: 0;
        }
}
}

// Metaarea should not be visible while it is still inside the #text
// element. Javascript automagically moves it into the sidebar.
// This prevents 'flashing' when the javascript is slow to load.
#text #metaarea {
    display: none;
}

.infomode {
    .term, .gloss {
        color: pastel-color(dirty-green);
    }
}

.term {
    font-weight: bold;
}

.suttainfo, .xu, .w{
    color: misc-color(dark-medium-gray);
    background: misc-color(off-white);
    padding:1em;
    border-radius:3px;
    border:1px solid misc-color(light-light-gray);
    font-size:0.8em;
    display:inline-block;
}

#nextprev {
    width: 18em;
    margin: -1em auto;

    .next-btn-container, .prev-btn-container {
        display: inline-block;        
        height: 100px;
        width: 100px;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 48px;
        &:hover {
            background: misc-color(light-light-gray);
            border-radius: 50%;
        }
    }
    .prev-btn-container {
        float: left;
    }
    .next-btn-container {
        float: right;
    }
    .next, .previous {
        padding: 0;
        margin: 0;
        height: 100px;
        line-height: 104px;
        vertical-align: middle;
        font-size:2rem;
        color: misc-color(medium-gray);
        border: none;
    }
    .next {
        margin-left: 5px;
    }
}

.marked {
    background: pastel-color(bright-red);
    padding: 2px;
    margin: -2px;
  }

    
