
/* These rules always apply */
.sutta {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 5% !important;
}

.skolar-font {
    .evam {
        @include serif-small-caps;
        letter-spacing:0.02em;
    }
}


[lang=zh], [lang=lzh] {
    .sc {display: none}
}


// Metaarea should not be visible while it is still inside the #text
// element. Javascript automagically moves it into the sidebar.
// This prevents 'flashing' when the javascript is slow to load.
#text #metaarea {
    display: none;
}

.infomode {
    .term, .gloss {
        color: pastel-color(dirty-green);
    }
}

.term {
    font-weight: bold;
}

.suttainfo, .xu, .w{
    color: misc-color(dark-medium-gray);
    background: misc-color(off-white);
    padding:1em;
    border-radius:3px;
    border:1px solid misc-color(light-light-gray);
    font-size:0.8em;
    display:inline-block;
    margin-bottom: 1em;
}

.suttainfo p, .xu p, .w p {
    margin-bottom: 0;
}

#nextprev {
    width: 18em;
    margin: -1em auto;

    .next-btn-container, .prev-btn-container {
        display: inline-block;        
        height: 100px;
        width: 100px;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 48px;
        &:hover {
            background: misc-color(light-light-gray);
            border-radius: 50%;
        }
    }
    .prev-btn-container {
        float: left;
    }
    .next-btn-container {
        float: right;
    }
    .next, .previous {
        padding: 0;
        margin: 0;
        height: 100px;
        line-height: 104px;
        vertical-align: middle;
        font-size:2rem;
        color: misc-color(medium-gray);
        border: none;
    }
    .next {
        margin-left: 5px;
    }
}

.marked {
    background: pastel-color(bright-red);
    padding: 2px;
    margin: -2px;
  }



q:before,
q:after {
 content: "";
}

/* BOOKMARKED SECTION HIGHLIGHTING */
.embeddedparallel.bookmarkeded {
    padding: 1em;
    margin-left:-1em;
    margin-right:-1em;
    border-radius: 1em;
    background-color: #feeae7;
    margin-bottom: 1.5em;
}
/* The bottom margin is transfered to the highlighting element */
.embeddedparallel.bookmarkeded p:last-child {
    margin-bottom: 0em;
}

/*#text_info_button, #pali_lookup_button, #zh2en*/

/* TEXT */
.sutta ul {
    list-style-type: none;
    padding:0 0 1.5em 0;
     margin:0 0 0 3em;
}



.sutta ol   {
     padding:0 0 1.5em 0;
     margin:0 0 0 3em;
}

.sutta ol ol  {
     padding:0 0 0 1em;
     margin:0 0 0 0;
}


.gatha {
    font-size: inherit;
    display: table;
    width: auto;
    margin: 0 auto;
}

.indent {
  padding-left:1.5em;
}


.skolar-font {
    .vagguddanagatha {
        font-style:italic;
    }
    .uddanagatha {
        font-style: italic;
    }
    
    .endh2, .endh3, .endh4, .endh5, .endh6, .endsutta, .endvagga, .endsubdivision, .endsection, .enddivision, .bhanavara, .enduddesa, .end, .endsubsection
    {
        @include serif;
        font-style:italic;
    }

    .endbook {
        @include serif;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:0.1em;
    }
}

.uddanagatha {
    font-size: 0.8em;
    display: table;
    width: auto;
    margin: 0 auto;
    color:#767676;
}

.vagguddanagatha{
    display: table;
    width: auto;
    margin: 0 auto;
    color:#767676;
}

.endh2, .endh3, .endh4, .endh5, .endh6, .endsutta, .endvagga, .endsubdivision, .endsection, .enddivision, .bhanavara, .enduddesa, .end, .endsubsection
{
    text-align:center;
    color:#767676;
}

.uddana {
    margin-bottom:2em;
    color:#767676;
}

.endbook {
    text-align:center;
    color:#767676;
}

.name{font-style:normal}

.tri {display:inline;}

h1 .t-note{display:none}

.tlineheadnote {color:red;}


/*NEW CLASSES ADDED FOR VERSION 3.0 (PYTHON). THESE ARE MAINLY FOR SANSKRIT TEXTS. I PLACE THEM HERE FOR NOW, BUT ULTIMATELY THEY SHOUL BE INTEGRATED PROPERLY. UNDER THE DESCRIPTION IS THE TITLE ATTRIBUTE.*/

//.ref
/*references external, eg to other books. Used in IBH.*/

//.cr
/*cross-reference, i.e. internal references. Used in IBH.*/
.surplus {
    display:none;
    color:#4805A2;
    .infomode & {
        display:inline;
    }
        
}

/*For Mahaparinirvana text, marks apparently random phrases that are marked in bold in GRETIL. 

Surplus text.
*/

.supplied {
    .infomode & {
        color:#B3A72D
    }
}
/*In almost all Sanskrit texts, there is reconstruction by the editor. These are marked <span class="supplied"></span>. In CSS this should by default display normally, and optionally, use 


Text hypothetically reconstructed by the editor or translator.
*/

.supplied2 {
    .infomode & {
        color:#9B8D00;
    }
}
/*In some cases there are two forms of supplied text, usually differentiated in the original by () and []. This difference is retained by using supplied2 for the []. Actually these should be marked more clearly to differentiate them, but this will differ according to the various publications, which I don't have. So for now let them behave as for .supplied, except use 

Text hypothetically reconstructed by the editor or translator.
*/

#text:lang(gr) p .add, #text:lang(gr) p.add, #text:lang(pi) p .add, #text:lang(pi) p.add, #text:lang(skt) p .add, #text:lang(skt) p.add, #text:lang(bo) p .add, #text:lang(bo) p.add, #text:lang(lzh) p .add, #text:lang(lzh) p.add, #text:lang(pr) p .add, #text:lang(pr) p.add, .infomode p.add, .infomode p .add {
    border:1px solid rgb(215, 215, 215);
    display:inline;
    padding: 0 0.3em;
    color:#767676;
    font-size: 100%;
    background:#fefefe;
    box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.25);
}

.skolar-font {
    p .author{
        @include sans-serif-all-small-caps;
    }
    
    p.add, p .add {
        @include sans-serif;
    }
}

/*There are some editorial additions marked <span class="add"></span>. Previously these were hidden by default, but they are now visible by default.

Text added by the editor or translator for clarification.
*/
.pe {
    font-style:italic;
    .infomode & {
        color:#9B8D00;
    }
}

.metre {
    display:none;
    .infomode & {
        color:#9B8D00;
        display: block;
        position:absolute;
        margin-top:-0.5rem;
        font-size:0.6em;
    }
}

.skolar-font {
    .metre {
        @include sans-serif-all-small-caps;
        letter-spacing:0.2em; 
    }
}

.expanded {
    display:inline
    .infomode & {
        color: misc-color(light-medium-gray);
    }
}

.suppliedmetre {
    color: #767676;
}

.skolar-font {
    .suppliedmetre {
        color: #767676;
        @include sans-serif-all-small-caps;
    }
}

/*This is for cases where the editor has "filled in the blanks" (hence "supplied") with metrical notation (hence "metre"). 

Metre reconstructed by the editor.
*/

.gap    {color:#B2AF8C}
/*For marking gaps in the text, which are filled in with + or the like.  In IB Horner's translation, deliberate gaps were marked by the translator with an *. Accidental omissions are marked with +.

Gap in the manuscript.
*/

.choice {
    .corr {
        display: none;
    }
}

.infomode {
    .choice {
        .corr {
            display: inline-block;
            position: absolute;
            background: pastel-color(light-red);
            padding: 0.5em;
            border-radius: 3px;
            margin-top: -2.5em;
            margin-left: -0.5em;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 3px;
            border:1px solid #ccc;
            box-shadow:6px 4px 10px rgba(136, 136, 136, 0.3);
            @include sans-serif;
        }
    }
    .choice:hover .corr {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

/*A corrected reading that has been adopted in the text (usually by the latest editor mentioned in the meta). Hide by default.


Reading corrected by the editor.
*/

.sic {
    .infomode & {
        color: pastel-color(bright-red);
    }
}

/*
Apparently incorrect reading determined by the editor.
*/

.lem {
    .infomode & {
        color:#432769;
    }
}
/*The adopted main reading in a text. Display normally.



Accepted reading in this text.
*/

.rdg {}
/*A variant reading. Use the same color as for "var" above. In fact, these var should be merged under rdg (which is the TEI terminology.)

Variant reading.
*/
.skolar-font {
    cite.book {font-style:italic;}
}
/*A book title.*/

cite.article    {font-style:normal}
/*An article title.*/

.gatha-number {}
/*As it says. Style as for other refs.*/

.del {
    display:none;
    .infomode & {
        color:#EE1700;
    }
}

/*(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, annotator, or corrector.

Text deleted by the editor as superfluous.
*/

.unclear    {color:#767676}
/*Text marked as uncertain, usually with a "?", in the transcribed text.

Unclear reading.
*/

.namo {
    text-align:center;
}

.skolar-font {
    .namo  {
        font-style:italic;
        
    }
}

/*dedication at the start of texts*/

.skolar-font {
    .scribe {
        font-style:italic;
    }
}

.scribe {
    text-align: right;
}

/*note in the text recording who copied the text*/
hr      {width:33%;color:#767676;margin:1.45rem auto}
.rule   {font-weight:bold}
/*text in vibhanga, etc., of the rule itself.*/


#vinita {}
/*Discussion of various cases in Vinaya vibhangas.*/

#restatement {}
/*Restatement of the rule in some Vinaya vibhangas.*/

#pannatti-prelim {}
/*Preliminary laying down of the rule in Vinaya vibhangas*/

#pannatti {}
/*Final laying down of the rule in Vinaya vibhangas.*/

#cakka {}
/*Permutations of rule application.*/

#pada {}
/*Definitions of terms.*/

.term {}
/*term to be defined.*/

.gloss {}
/*Definition of a term. The relevant gloss and term should be linked with id.*/

.kamma {}
/*Words spoken during a formal act of the Sangha.*/

.counter {}
/*Token, number, or syllable used in some texts as a counter. Use only for counters found in text, not added.*/

.rule {}
/*Vinaya rule or precept.*/

#nidana {}
/*Origin story.*/

#nidana-sub {}
/*Subsidiary origin story*/

/*CBETA tags

Generally, eliminate inline styles, and retain semantic markup. Transform all classes inherited from CBETA by prefixing with t-. This is to avoid clashing with SC classes, and also to clarify the source of the markup.. NEED TO CHANGE PREVIOUS HANDLING OF CBETA TAGS*/

.t-note {}
/*= .note in CBETA text. Changed to avoid confusion with SC's .note. Indicates usually bracketed note or comment in the text. No need to indicate.*/

.t-gaiji    {color:darkcyan}
