.sutta {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 5% !important;

    @media #{$mobile} {
        padding: 0 !important;
    }
    /*bilingual headings*/
.mirror {display:table;margin-left: auto;margin-right: auto;margin-bottom:4.6em;}
.mirror > * {display:table-row;}
.mirror-left{text-align:right;display:table-cell;padding-right: 1rem;border-right: 1px solid #e2e2e2;}
.mirror-right{text-align:left;display:table-cell;padding-left: 1rem;}
.mirror-middle{text-align:right;position:absolute;margin-top:0.2em;}
}

// Burmese
#text:lang(my) {

    .sutta {
        h1, h2, h3, h4, h5, h6, p,
        hgroup > h2, hgroup > h3,
        .evam {
            font-family: $tharlon !important;
            letter-spacing: 0;
            line-height: 2em;
        }
    }

    #metaarea p {
        font-family: $tharlon;
        letter-spacing: 0;
        line-height: 2em;
    }
}

#text:lang(zh) {
    .sc {display: none}

}


.infomode {
    .term, .gloss {
        color: $dirty-pastel-green;
    }
}

.term {
    font-weight: bold;
}

.choice {
    .sic {
        display: none;
    }
}

.infomode {
    .choice {
        .sic {
            display: inline-block;
            position: absolute;
            background: $light-pastel-red;
            padding: 0.5em;
            border-radius: 3px;
            margin-top: -2.5em;
            margin-left: -0.5em;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 3px;
            border:1px solid #ccc;
            box-shadow:6px 4px 10px rgba(136, 136, 136, 0.3);
            @include sans-serif;
        }
    }
    .choice:hover .sic {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}
