$sutta-h1-color: $medium-gray;
$sutta-h2-color: $medium-gray;

.sutta {
    h1, h2, h3, h4, h5, h6, .hgroup p {
        @include serif-small-caps;
        text-align: center;
        font-weight: normal;
        letter-spacing: 0.02em;
    }

    h1, h1 a {
        color: $sutta-h1-color;
    }

    h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, .hgroup p, .hgroup p a {
        color: $sutta-h2-color;
    }

    h1 {
        margin-bottom: 1.3em;
        padding-top: 0em;
        font-size: 2em;
        line-height: 1em;
    }

    h2 {
        margin: 0 0 0.85em 0;
        font-size:1.5em;
        line-height: 1.5em;
    }

    h3 {
        margin: -0.26em 0 1.26em 0;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    h4, h5, h6 {
        margin: 1.29em 0 1.25em 0;
        font-size: 1em;
        line-height: 1.5em;
    }


    .hgroup {
        margin-top: 6em;

   

        & > p {
            margin: 0;
            @include sans-serif-small-caps;
            font-size: 1em;
            text-transform: lowercase;
            letter-spacing: 0.05em;
        }

        h1 ~ p {
            margin: -2em 0 0;
            font-style: italic;            
        }
    }
}
