.sutta {

    h1, h2, h3, h4, h5, h6, .hgroup p, .subheading {
        text-align: center;
        font-weight: normal;
        font-style: normal;
        
        * {
            font-style: normal;
        }
    }

   h1, h1 a {
        color: ns-color(sutta-h1-color);
    }
    
    
    h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, .hgroup p, .hgroup p a {
        color: ns-color(sutta-h2-color);
    }

    h1 {
        margin-bottom: 1.3em;
        padding-top: 0em;
        font-size: 2em;
        line-height: 1em;
    }

    h2 {
        margin: 1.3rem 0 0.75rem 0;
        font-size:1.5em;
        line-height: 1.125em;
    }

    h3 {
        margin: 0 0 0.75rem 0;
        font-size: 1.2em;
        line-height: 1.25em;
    }

    h4{
        margin: 0.85rem 0 0.75rem 0;
        font-size: 1.1em;
        line-height: 1.25em;
    }
    
    h5{
        margin: 0 0 0.75rem 0;
        font-size: 1em;
        line-height: 1.25em;
    }
    
    h6 {
        text-align:left;
        font-variant-caps: all-small-caps;
        font-feature-settings: "smcp","c2sc";
        margin: 0 0 0.25em 0;
        font-size: 1em;
        line-height: 1.25em;
    }

    .hgroup {
        margin-top: 6em;
        p {
            margin: 0;
            font-size: 1em;
            padding:0;
        }
        

        h1 ~ p {
            margin: -2em 0 2em 0;
        }
    }
    
    /*bilingual headings*/
    .mirror {
        display:table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:4.6em;
        
        & > * {
            display:table-row;
        }
    }
    
    .mirror-left {
        text-align:right;
        display:table-cell;
        padding-right: 1rem;
        border-right: 1px solid #e2e2e2;
        width: 50%;
    }
    
    .mirror-right {
        text-align:left;
        display:table-cell;
        padding-left: 1rem;
    }
    
    .mirror-middle {
        text-align:right;
        position:absolute;
        margin-top:0.2em;
    }
    
    h1.mirror-row {
        line-height:1.2
    }
}

/* This is the defaults for texts using a skolar font */
.skolar-font {
    .sutta {
        h1, h2, h3, h4, h5, h6, .hgroup p {
            @include serif-small-caps;
            text-align: center;
            font-weight: normal;
            letter-spacing: 0.02em;
        }

        .hgroup {
            h1 ~ p {
                @include serif;
                text-transform: none;
            }
            p {
                @include sans-serif-all-small-caps;
                letter-spacing: 0.05em;
            }
        }
    }
}

#text:lang(skt) .hgroup { 
        text-transform: capitalize;
}
.noto-sans-font {
    font-family: $noto-sans serif;
    letter-spacing: 0;
    line-height: 1.8;

    .endsutta, .endvagga,  .endsection, .enddivision, .end, .namo, .uddana, .uddanagatha, .evam, em, i, .speaker {
        font-weight: normal;
        font-style: normal;
    }
    
    .sutta {
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            letter-spacing: 0;
        }
    }
    
    [lang=pi], [lang=en] {
        font-family: 'Noto Sans', sans-serif;
    }
}

[lang=th] {
    .sutta {
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }
    }
    
}

[lang=he] {
  h1, h2, h3, h4, h5, h6, .hgroup p {
    text-transform: lowercase;
  }
}
