.text-popup {
    position: absolute;
    display: inline-block;
    background: #F7D1C2;
    z-index: 103;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: visibility 0s ease 0.15s,opacity 0.3s ease;
    transition-delay:1ms;
    box-shadow:6px 4px 10px rgba(136, 136, 136, 0.3);
    max-width: 27em;
    
    td {
        padding: 0.3em 0.3em;            
    }
    
    .meaning {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 80%;
    }
        
    table {
        margin: 0;
        padding: 0;
    }

    table, tr, td {
        border: none;
        background: none;
        border-collapse: collapse;
    }

    &.fallback {
        border: 2px crimson dotted;
        margin:1px;
    }

    &.info {
        border: 2px lightskyblue solid;
    }

    td:nth-child(odd) td {
        background: pastel-color(light-yellow);
    }

    tr:not(:first-child) td {
        border-top: 1px grey solid;
        margin: 0.2em;
    }
    
    tfoot {
        border-top: 1px grey solid;
    }

    .ideograph a:link {
        text-decoration: none;
        color: black;
    }

    .ideograph {
        white-space: nowrap;
        font-size: 1.2em;
    }

    span.current_lookup:not(.punctuation){
        color: saturated-color(dark-purple);
        background: yellow;
    }
}


.text-popup {
    .content {
        word-break: break-word;
    }
    
    .content, dl, dd {
        display: inline;
        padding: 0;
        margin: 0;
    }
    
    dt {
        display: none;
    }
    
    .source {
        background: #ccc;
        border-radius: 0.25em;
        padding: 0.15em;
        width: 2.5em;
        margin-left: 0.5em;
        font-size: 90%;
        font-weight: bold;
    }
    
    .pali {
        ul {
            margin: 0;
        }
        
        li {
            height: 1.5em;
            margin-top: 0.1em;
            margin-bottom: 0.1em;
            overflow: hidden;
        }
        
        ul {
            list-style: none;
        }


        
        .expandable {
            cursor: pointer;
            &.clicked {
                cursor: inherit;
            }
        }
        
        .poor-match {
            background-color: mix(#ddd, #F7D1C2);
        }
    }
        
    .popup-text-overlay {
        padding: 0.1em;
        position: absolute;
        top: 0;
        left: 0;
        width: 99%;
        background: pink;
        overflow-y: auto;
        overflow-x: hidden;
        
        .source {
            height: 1em;
            width: initial;
            padding: 0.05em 0.25em 0.35em 0.2em;
        }
        
        .popup-close-button {
            margin-right: 0.7em;
            font-size: 150%;
            line-height: 1em;
            width: 0.5em;
            height: 0.5em;
            text-align: center;
            text-shadow: 2px 2px 2px black;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.lookup-word-marker {
    display: inline-block;
    position: absolute;
}

.decomposed {
    font-weight: bold;
    background-color: white;
    border-radius: 0.1em;
    padding: 0.1em 0.5em;
    .letter {
        margin: 0em;
        display: inline-block;
        padding: 0em 0.05em;
        &.selected {
            background-color: #dadada;
        }
    }
}

.add-glossary-entry {
    padding: 0;
    margin: 0;
    font-size: 80%;
    input {
        width: 22%;
    }
    button {
        width: 7%;
    }
}

.term {
    .diff-replace, .diff-delete, .diff-insert {
      background-color: mix(#ffb, #F7D1C2, 60%);
    }
}

.text-popup .hide {
    display: none;
}



td.unhide {
    text-align: right;
    font-size: 60%;
    background: lighten(#F7D1C2, 8%);
    &:hover {
        background: lighten(#F7D1C2, 12%);
        cursor: pointer;
    }
}

tr.glossary td {
    padding: 2px;
ï¿¼  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

