.previous,
.top,
.next {
    display: inline-block;
    padding: 0.5em 0;
    border-radius: 0.5em;
    @include sans-serif;
    color: $bright-cool-blue;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    white-space: nowrap;
    width: 29%;
    text-align: center;
    
    &:hover {
        background: $light-light-gray;
    }
}
