a.msdiv,a.ms, a.ms-pa, a.da, a.titus .infomode #text p a.ms, .infomode #text p a.ms-pa {display:none;}

a.as, a.bl, a.bps, a.bjt, a.d-vp, a.eno89, a.fuk03, a.fol, a.gatha-number, a.gatn, a.gbm,
    a.gno78, a.har04, a.hoe16, a.hos89a, a.hos89b, a.hos91, a.hs, a.kel, a.pos-v, a.prava-v,
    a.mat85, a.mat88, a.mit57, a.of, a.mkv, a.mc, a.jb, a.pravr-v-i, a.pravr-v-ii, a.pravr-v-iii, a.pravr-v-iv,
    a.pts, a.pts1ed, a.pts2ed, a.pts-cs, a.pts-vp-en, a.pts-vp-pi, a.pts_pn, a.pts-p-pi, a.roth, a.rs-vp,
    a.san87, a.san89, a.sc, a.sen, a.sht, a.snp-vagga-section-verse, a.snp-vagga-verse,
    a.t, a.titus, a.t-linehead, a.ud-sutta, a.ud-vagga-sutta, a.tri62, a.tri95, a.msviv, a.msvwi,
    a.tu, a.uv, a.vai58, a.vai59, a.vai61, a.verse-num-pts, a.vimula, a.vn, a.nst, a.msvi,
    a.wal48, a.wal50, a.wal52, a.wal55b, a.wal57c, a.wal58, a.wal59a, a.wal60, a.var-v,
    a.wal61, a.wal68a, a.wal70a, a.wal70b, a.wal76, a.wal78, a.wal80c, a.wp, a.wr, a.divy,
    a.yam72, a.es, a.bm, a.bn, a.hh, a.jd, a.ks, a.nm, a.np, a.pl, a.wg, a.jsk, a.mt, a.sb, a.ss, a.tb,
    a.kl, a.bi, a.bjt, a.ttc, #text:lang(si) a.msdiv, a.bhaisv, a.msvii, a.mat96, a.kat, a.pand-v,
    a.msviii, a.say-v, a.adh-v, a.cps, a.sbvi, a.sbvii, a.ia, a.verse-num-sc, 
    a.vagga-gatha-num-sc, a.ba, a.pts-s, a.fa, a.lh, a.apz, a.dhskd, a.dhskm, a.bv, a.thv
{
    visibility:hidden;
    text-align:left;
    @include sans-serif;
    font-size:0.7em;
    display:table;
    font-style:normal;
    font-weight:normal;
    margin: 0 -8em 0 0;
    white-space:nowrap;
    color: saturated-color(dark-green);
    letter-spacing: normal;
    transition: 250ms;
    transition-property:opacity;
    opacity: 0;
    float:right;
    clear:both;
    .infomode & {
		visibility:visible;
		opacity: 1;
		transition: 250ms;
		transition-property:opacity;
    }
}


a.sc {color: saturated-color(bright-purple);}
a.msviv, a.msvwi, a.msvi, a.msvii, a.msviii {color: saturated-color(dark-yellow);}
a.t, a.t-linehead {color: saturated-color(plain-green);}
.line-by-line a.t-linehead {display: none;}
div#text:not(.line-by-line) a.t {display: none;}
a.wp, a.gbm, a.verse-num-sc, a.dhskm {color: saturated-color(plain-red);}
a.pts {color: saturated-color(dark-yellow);}
a.pts1ed, a.snp-vagga-section-verse, a.vagga-gatha-num-sc {color: saturated-color(dark-yellow);}
a.pts2ed, a.snp-vagga-verse,a.pts-vp-en, a.pts-s {color: saturated-color(plain-red);}
a.vn, a.sht {color: saturated-color(plain-purple);}
a.wal52,a.mat88,a.vai58,a.mat96 {color: saturated-color(plain-purple);}

/* Buddhist Discipline Paragraph Numbers */
a.pts-vp-pi, a.pts-p-pi {color: saturated-color(plain-purple);}

/* Paragraph ID to open below the header when header is pinned  */
main.header-pinned {
     a.sc, a.t-linehead, a.verse-num-sc, a.mc, a.jb, a.uv, a.vagga-gatha-num-sc {
        margin-top: -$id-offset-top;
         padding-top: $id-offset-top;
         }
} 

/* TODO systematically do for all of them (alphabetical order)
a.adh-v
a.apz
a.ba
a.bhaisv
a.bi
a.bjt
a.bl
a.bm
a.bn
a.bps
a.bv
a.cps
a.divy
a.dhskd
a.dhskm
a.eno89
a.es
a.fa
a.fuk03
a.fol
a.gbm
a.gno78
a.har04
a.hh
a.hoe16
a.hos89a, a.hos89b, a.hos91
a.hs
a.ia
a.jb
a.jd
a.jsk
a.lh
a.kat
a.kel
a.kl
a.ks
a.mat85, a.mat88, a.mat96
a.mc
a.mkv
a.mit57
a.ms
a.msdiv
a.msvi, a.msvii, a.msviii, a.msviv, a.msvwi
a.mt
a.nm
a.np
a.nst
a.of
a.pand-v
a.pl
a.pos-v
a.prava-v
a.pravr-v-i, a.pravr-v-ii, a.pravr-v-iii, a.pravr-v-iv
a.pts
a.pts-s
a.san87, a.san89
a.say-v
a.sb
a.sbvi, a.sbvii
a.sc
a.sen
a.sht
a.snp-vagga-section-verse
a.snp-vagga-verse
a.ss
a.t,  a.t-linehead
a.tb
a.thv
a.tri62,, a.tri95
a.ttc
a.ud-sutta
a.ud-vagga-sutta
a.uv
a.vagga-gatha-num-sc
a.vai58, a.vai59, a.vai61
a.var-v
a.verse-num-sc
a.verse-num-pts
a.vn
a.wal48, a.wal50, a.wal52, a.wal57c, a.wal58, a.wal59a, a.wal60, a.wal61, a.wal68a, a.wal70a, a.wal70b, a.wal76, a.wal78, a.wal80c
a.wg
a.wp
a.wr
a.yam72
a.snp-vagga-verse
a.snp-vagga-section-verse
*/

/* This causes paragraph numbers to become visible when
 * Textual Information is active */
