a.msdiv {display:none;}


a.da {
    display: none;
}

a.as, a.ba, a.bl, a.bps, a.eno89, a.fuk03, a.fol, a.gatha-number, a.gatn, a.gbm,
    a.gno78, a.har04, a.hoe16, a.hos89a, a.hos89b, a.hos91, a.hs, a.kel,
    a.mat85, a.mat88, a.mit57, a.ms, a.ms-pa, a.of, a.pc,
    a.pts, a.pts1, a.pts2, a.pts-cs, a.pts-s, a.pts-vp-en, a.pts-vp-pi, a.pts-p-pi, a.pts_pn, a.roth,
    a.san87, a.san89, a.sc, a.sen82, a.sht, a.snp-vagga-section-verse, a.snp-vagga-verse,
    a.t, a.titus, a.t-linehead, a.ud-sutta, a.ud-vagga-sutta, a.tri62, a.tri95,
    a.tu, a.uv, a.vai58, a.vai59, a.vai61, a.verse-num-pts, a.vimula, a.vn,
    a.wal48, a.wal50, a.wal52, a.wal55b, a.wal57c, a.wal58, a.wal59a, a.wal60,
    a.wal61, a.wal68a, a.wal70a, a.wal70b, a.wal76, a.wal78, a.wal80c, a.wp,
    a.yam72
{
    visibility:hidden;
    position:absolute;
    text-align:left;
    width:4em;
    @include sans-serif;
    font-size:0.6em;
    display:table;
    font-style:normal;
    font-weight:normal;
    margin: 1.8em 0 0 -8em;
    white-space:nowrap;
    color: #2DB3A7;
    letter-spacing: normal;
    transition: 250ms;
    transition-property:opacity;
    opacity: 0;

    .infomode & {
		visibility:visible;
		opacity: 1;
		transition: 250ms;
		transition-property:opacity;
    }
}

a.ms {margin:0.7em 0 0 -14.5em; color:#00B428;}
a.sc {margin:0.7em 0 0 -4.3em; color:#B3A72D;}
a.t, a.t-linehead {
	margin: 0 0 0 -9.3em;
	color:#00B428;
	/* Class added in javascript */
	&.collides {margin-top: 1em;}
}

a.wp {margin:0.7em 0 0 -5.3em; color:red;}
a.ba, a.pc{margin:0.5em 0 0 -12em;}
a.pts {margin:-0.5em 0 0 -9.1em; color:#B2AF8C;}
a.pts-p-pi {margin:-0.5em 0 0 -9.1em; color:#B2AF8C;}
a.pts1 {margin:-0.3em 0 0 -8.2em; color:#B2AF8C;}
a.pts2 {margin:1.8em 0 0 -9.1em; color:#B2AF8C;}
a.vn {margin:0.7em 0 0 -6em; color:#9B0F00;}
a.sht {margin:0.8em 0 0 -6em; color:#9B000F;}
a.wal52 {margin: 0.8em 0 0 -7em; color: #B3A72D;}
/*a.titus {margin: -0.1em 0 0 -4em; color: #00B428;}*/
a.titus {display:none}

/* Buddhist Discipline Paragraph Numbers */
a.pts-vp-en {
    margin: 0.75em 0 0 -9em;
}


a.pts-cs,a.pts-s {
    margin: -0.35em 0 0 -6em; color:#9B0F00;
}

a.pts-vp-pi,a.pts-p {
    margin: 0.3em 0 0 -9em; color:$bright-saturated-purple;
}

a.ms-pa {
    margin: 0.7em 0 0 -5em;
}

/* TODO systematically do for all of them (alphabetical order)
a.ba
a.bl
a.bps
a.eno89
a.fuk03
a.fol
a.gbm
a.gno78
a.har04
a.hoe16
a.hos89a, a.hos89b, a.hos91
a.hs
a.kel
a.mat85, a.mat88
a.mit57
a.ms
a.of
a.pts
a.san87, a.san89
a.sc
a.sen82
a.sht
a.snp-vagga-section-verse
a.snp-vagga-verse
a.t,  a.t-linehead
a.tri62,, a.tri95
a.ud-sutta
a.ud-vagga-sutta
a.uv
a.vai58, a.vai59, a.vai61
a.verse-num-pts
a.vn
a.wal48, a.wal50, a.wal52, a.wal57c, a.wal58, a.wal59a, a.wal60, a.wal61, a.wal68a, a.wal70a, a.wal70b, a.wal76, a.wal78, a.wal80c
a.wp
a.yam72
a.snp-vagga-verse
a.snp-vagga-section-verse

*/

/* This causes paragraph numbers to become visible when
 * Textual Information is active */
