a.note {
    position:relative;
    color:#EE1700;
}

a.bib {
    position:relative;
    color:#EED900;
}

.infomode {
	.var, .var:hover {color:#7A39D0;}
	.cross, .cross:hover {color:#F74F3E;}
}

a.note .deets {background-color:#F7DBD0;}

a.bib .deets {background-color:#F7F2C2;}

.var .deets {background-color:#E5E0EC;}

.cross .deets {background-color:#F7D1C2;}

a.note .deets,
    a.note:hover .deets,
    a.bib .deets,
    a.bib:hover .deets,
    .var .deets,
    .cross .deets,
    {
    position:absolute;
    z-index:2;
    margin-top:1.5em;
    margin-left:-22em;
    max-width:20em;
    color:#2b2b2b;
    padding:0.5em;
    font-size:0.8em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #ccc;
    box-shadow:6px 4px 10px rgba(136, 136, 136, 0.3);
    @include sans-serif;
    line-height:1.2;
}

a.note .deets, a.bib .deets, .var .deets, .cross .deets, span.end .deets{
    -webkit-transition:opacity 0.5s ease;
    -moz-transition:opacity 0.5s ease;
    -o-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0s ease 0.5s,opacity 0.5s ease;
    -moz-transition:visibility 0s ease 0.5s,opacity 0.5s ease;
    -o-transition:visibility 0s ease 0.5s,opacity 0.5s ease;
    transition:visibility 0s ease 0.5s,opacity 0.5s ease;
}

a.bib:hover span.deets, a.note:hover span.deets,
        .infomode .var:hover .deets, .infomode .cross:hover .deets {
    visibility:visible;
    opacity:1;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s;
}

.var table.deets {
    display: inline-block;
    max-width: inherit;
    padding: 0em;
    @include serif;

    td:first-child:not(:last-child) {
        font-weight: bold;
    }
    td:nth-child(2) {
        font-size: 75%;
        vertical-align: middle;
    }
    tr {
        background-color: inherit;
    }
    
    ul {
        margin: 0;
    }
    td[colspan="2"] {
        font-size: inherit;
    }

    
}

.cross ul.deets {
    margin-left: -15em;
    margin-top: 0.5em;
}



/* POPUP DICTIONARY LOOKUP */

#message_box{
    position:fixed;
    @include sans-serif;
    font-size:80%;
    box-shadow:3px 2px 10px rgba(136, 136, 136, 0.3);
    background:#B0D1C3;
    border:1px solid #75A38F;
    border-radius:3px;
    position:fixed;
    top:10em;
    left:5%;
    padding:0.5em;
}

span.lookup {position:relative;}

span.lookup > q {position:relative;}/* display:block;float:left}*/
span.lookup:before {content: none;}

span.lookup > span.meaning {
    position:absolute;
    display:block;
    font-size: 11pt;
    z-index:2;
    bottom:0.6em;
    margin-bottom:1.2em;
    padding-bottom:0em;
    right: -50%;
    left: -50%;
    min-width: 10em;
    max-width: 20em;
    color:#1d1d1d;
    padding:0em 1em 0em 1em;
    font-size:normal;
    @include sans-serif;
    box-shadow:3px 2px 5px rgba(136, 136, 136, 0.3);
    background-color:#F7D1C2;
    border-radius: 3px 3px 3px 3px;
    border:1px solid #f74f3e;
    visibility:hidden;
    opacity:0;
    letter-spacing:0;
    word-spacing:0;
    text-transform: none;
}

span.lookup > span.meaning > a {
    font-size:105%;
    color:black;
    font-weight: bold;
}

span.lookup > span.meaning > a:hover {
    color:#DF00FF;
}

div#text:lang(pi) span.lookup:hover {
    color:red;
}

span.lookup.punctuation:hover {
	color: $dark-medium-gray;
}


span.lookup > span.meaning:hover {
    color:black;
}

span.lookup:hover > span.meaning {
    visibility:visible;
    opacity:1;
}

.syllables {
        word-spacing: 1em;
}
.syllables  u {
        text-decoration:none;
        border-bottom:3px solid #999;
}
