$sidebar-width: 20rem;
$sidebar-tabs-height: 2.5em;
$sidebar-tabs-vertical-padding: 0.4em;
// $sidebar-dongle-height: 40px;
// $sidebar-dongle-width: 1em;

// Placeholder definitions
%internal-page-links {
    text-decoration: none;
    color: misc-color(dark-medium-gray);   
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    @include sans-serif;
    color: misc-color(dark-medium-gray);
    z-index: 3;
    background: misc-color(light-light-gray);
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);

    /* Movement Controls */
    left: -$sidebar-width - 1;
    @include transition(all 400ms ease-out);
    &.active {
        left: 0;

        &.fast {
            transition: none;
        }
    }
    
    select, button {
        /* Override user agent styling */
        font: inherit;
        font-size: inherit;
        padding: 0;
        border: none;
        background: none;

        &.hover {
            background:#eee;
        }

        &.active {
            background:#ddd;
        }
    }
    
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
    }

    .button-row {
        float:left;
        width:100%;
        clear: both;

        border: 1px solid misc-color(light-gray);

        & + .button-row {
            border-top: none;
        }
    }

    .button, .dropdown-button {
        background:white;
        color: misc-color(dark-medium-gray);
        float: left;
        text-align:center;
        height: 2.5em;
        line-height: 2.5em;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        
        &:active {
            background: misc-color(light-gray);
        }
        
        &:hover:not(.empty) {
            background: misc-color(light-light-gray);
        }
      
        &:active {
            background: misc-color(light-gray);
        }
    
        & + .button {
            border-left: 1px solid misc-color(light-gray);
        }
    }
    .dropdown-button.lookup-inactive {

    }
    .dropdown-button.lookup-active {
        box-shadow: 1px 1px 3px black inset;
    }
   
    /* For dropdown - overrides jquery.dropdown css*/
    .dropdown-panel {
        padding: 0;
        float: left;
    }
    

    input[name=text-selection-url] {
        font-size: 75%;
        width: 16em;
    }
    
    button[name=text-selection-button] {
        font-size: 75%;
        border-radius: 50%;
    }

    .x1 > .button {
        width: 100%;
    }

    .x2 > .button {
        width: 50%;
    }

    .x3 > .button {
        width: 33.33%;
    }

    .x4 > .button {
        width: 25%;
    }

    .x5 > .button {
        width: 20%;
    }

    .x6 > .button {
        width: 16.66%;
    }

    .tabs {
        text-align: center;
        width: 100%;
        height: $sidebar-tabs-height;
        position:relative;
        z-index:1;
        border-top: $sidebar-tabs-height solid misc-color(light-light-gray);
        a {
            @extend %internal-page-links;
        }
        li {
            width:33.33%;
            float: left;
            background: misc-color(light-light-gray);
            @include sans-serif-all-small-caps;
            letter-spacing:0.02em;
            height: $sidebar-tabs-height;
            & > a {
                display: inline-block;
                width: 100%;
                padding: $sidebar-tabs-vertical-padding 0;
            }
            &:hover {
                background: misc-color(light-gray);
            }
        }
    }

    .active {
        background:white !important;
    }

    .tab {
        position: absolute;
        top: $sidebar-tabs-height;
        bottom: 0em;
        width: 100%;
        overflow-y:auto;
        overflow-x:hidden;
        /* This is required for proper display of scroll bar --- or is it?*/
        & > .inner-wrap {
            padding: 0;
            position: absolute;
            width: 100%;
            top: $sidebar-tabs-height * 2;
        }
    }
}

#message-box {
    float: left;
    clear: both;
    margin: 1em 5%;
    width: 90%;
    > div {
        font-style: italic;
        padding: 0.5em;
        border-radius: 3px;
        background-color: misc-color(light-light-gray);
    }
    .remove {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        line-height: 1em;
        text-align: center;
        padding: 0.1em;
        float: right;
        cursor: pointer; 
        font-style:normal;
        font-weight:bold;    
       
    }
     a:hover.remove{
        background:white
    }
    .previous,
    .top,
    .next {
        @include sans-serif-all-small-caps;  
        letter-spacing:0.02em;
    }
}

#sidebar-dongle-header {
    position: absolute;
    height: $header-height;
    width: 37px;
    margin: 0;
    top: 0px;
    left: -4px;
    line-height: $header-height;
    z-index: 1;
    font-size: 2rem;
    color: white;
    background: #607A6F;
    box-shadow: 0.03em 0.02em 0.15em rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 400ms ease-out;
    // border-radius: 2px 2px 2px 2px;
    padding-left: 1px;
    display: none;
    vertical-align: middle;
    // opacity: 0.4;
}

.show-dongle {
    #sidebar-dongle-header {
        display: inline-block;
    }
    .header-left-home-icon {
        a {
            left: 37px;
        }
    }
    .header-left-home-icon {
        width: $header-left-width-narrow;
    }
    .header-right-menus-search {
        margin-left: $header-left-width-narrow;
    }
}

.active {
    #darkness {
        background: rgba(0, 0, 0, 0.1);
        transition: 400ms ease-out;
        width: 1000em;
    }
}



#darkness{
    position:absolute;
    z-index:-10;
    height:100%;
    width:0;
    transition:400ms ease-out;
    background:rgba(0,0,0,0);
}

#metadata-tab p{
    padding: 0 1em;
}

#navigation-tab {
    ul {
        margin: 2.5em 0 2em 0;
    }
    li ul {
        margin: 0 0 0 1em;
    }
}

#discourse-search-results {
	
> .post-blurb{
	
}



}



.languages {
    > ul {
        width:100%;
        position:absolute;
        background:white;
        box-shadow:0 2px 2px rgba(0,0,0,0.2);
        > li {        
            > a {
                padding: 0.5em 0 0.5em 4em;
                display: block;
                &:hover {
                    background: misc-color(light-light-gray);
                }
            }
            &.offsite > a {
                font-style: italic;
                &:after {
                    content: "";
                    background: url(https://upload.wikimedia.org/wikipedia/commons/4/44/External.png)  center right no-repeat;
                    padding-right:14px;
                }
            } 
            /* The currently loaded text */
            &.this > a{
                background: pastel-color(light-green);
            }
            /* The root language for the text */
            &.root > a {
                font-weight: bold;
            }
        }
    }
}

#table-of-contents {
    float: left;
    clear: both;
    width: 100%;
    a {
        @extend %internal-page-links;
    }
    li {
        font-weight: bold;
        a {
            display: block;
            width: 100%;
            padding: .2em 0.5em;
            &:hover {
                background-color: misc-color(light-light-gray);
            }
        }
        li {
            font-weight: normal;
        }
    }
}

#textual-controls {
    position:relative;
}

#translit-buttons > .button {
    white-space: nowrap;
}

#pali-lookup {
    border-left: none !important;
}

#languages a {
    background: transparent;
    padding: 0 2em;
    width:100%;
    -webkit-appearance: none;
}

#pin-sidebar, #pin-sidebar label {
    padding: 0.5em;
    display: inline-block;
}

#languages {
    width:100%;
}

#metaarea {
    > ul {
        padding: 0 1em 1em 2em;
    }
    > p{
    line-height:1.5;
    }
    .date-added, .date-modified {
        font-size: 75%;
        display: block;
    }
}


#sidebar #discourse-link-button {
    background: #00751A; 
    color:white; 
    font-weight:bold;
    
    > .count {
        display: inline-block;
        line-height: initial;
        margin-left: 1em;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        background: lighten(#00751A, 5%);
    }
    
}

#discourse-search-results 
    {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        float: left;
        font-size: 90%;

        #discourse-search-heading {
            text-align: center;
            margin:0.5em;
        }

    li > a {
        display: block;
        color: black;
        padding:0.5em;
        
        em {
            font-weight: bold;
            font-style: normal;
        }
    }
    
    a:hover {
        background: #eee;
    }
    
    & > ul {
        padding: 0.1em;
        margin: 0;
    }
        
    .topic-title {
        display: block;
        font-weight: bold;
        
    }
    
    .topic-category-icon {
        float: right;
        padding: 0 0 0 0.25em;
    }
    
    .topic-category-icon-bar {
        display: inline-block;
        width: 0.4em;
        margin-right: 0.2em;
    }
    .notify-check-wrap {
        margin-bottom: 1em;
        padding: 1em;
        border-top: 1px solid #ddd;
    }
}

main.sidebar-pinned {
    margin-left: 20rem;
    #darkness {
        display: none;
    }
}

