$sidebar-width = 20rem;
$sidebar-tabs-height = 3.9em;
$sidebar-tabs-vertical-padding = 1em;
$sidebar-dongle-height = 1em;
$sidebar-dongle-width = 1em;

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width:$sidebar-width;
    z-index: 100;
    background:#fff;
    box-shadow:.1em .1em .5em rgba(118,118,118,0.3);
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
    }

    a {
        text-decoration: none;
        color:#767676;
    }

    button {
        background:white;
        font-size:1em;
        margin: 0;
        padding:1em 0.8em;
        font-family:'Source Sans Pro', sans-serif;
        color:#767676;
    }

    button:hover {
        background:#eee;
    }

    button:active {
        background:#ddd;
    }

    .tabs {
        text-align: center;
        width: 100%;
        height: $sidebar-tabs-height;
        position:relative;
        z-index:1;
    }

    .tabs li {
        width:33.33%;
        float: left;
        padding:$sidebar-tabs-vertical-padding 0;
        background:#eee;
        margin: 0 0 0 0;
        text-transform:lowercase;
        letter-spacing:0.02em;
        @include sans-serif-small-caps;
        color:#767676;
        height: $sidebar-tabs-height - 2 * $sidebar-tabs-vertical-padding;
    }

    .tabs li:hover {
        background:#ddd;
    }

    .active {
        background:white !important;
    }

    .tab {
        position: absolute;
        top: 3.5em;
        bottom: 0em;
        width: 100%;
        overflow-y:auto;
        overflow-x:hidden;
        /* This is required for proper display of scroll bar */
        & > .inner-wrap {
            padding: 1em;
        }
    }
    /* Movement Controls */
    left: -$sidebar-width;
    @include transition(all 0.5s ease-in-out);
    &.open {
        left: 0;
    }
    
}

#sidebar-dongle {
    position: absolute;
    top: 50%;
    bottom: 50%;
    font-size:2rem;
    color:rgb(190, 190, 190);
    left: $sidebar-width;
    height: $sidebar-dongle-height;
    width: $sidebar-dongle-width;
    background: #eee;
    z-index: 1;
    box-shadow:.05em .05em .25em rgba(118,118,118,0.3);
    text-align:center;
    padding:.35em 0.05em 0 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

#contents-tab {
    li {
        font-family:'Source Sans Pro',sans-serif;
        font-weight:bold;
    }

    li a {
        display:block;
        width:100%;
        padding:.2em .1em;
        color:#767676
    }

    li a:hover {
        background-color:#eee
    }

    li li {
        font-weight:normal;
        padding-left:1em;
    }
}

#controls {
    position:relative;
    top:3em;
}

#navButtons button {
    width:20%;
    border-top:1px solid #ddd;
    border-bottom: 0;
    border-right:0;
    border-left:1px solid #ddd;
}

#translitButtons button {
    width:16.6666%;
    border-top:1px solid #ddd;
    border-bottom: 0;
    border-right:0;
    border-left:1px solid #ddd;
}

#text_info_button {
    width:100%;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left:0;
    border-right:0;
}

#pali_lookup_button {
    width:100%;
    border-top:1px solid #ddd;
    border-bottom: 0;
    border-left:0;
    border-right:0;
}

#metadata-tab {
    font-family:'Source Sans Pro',sans-serif;
    color:#767676;

}

$mobile:#sidebar:after{width: 0.5em;}


#sidebar:after {
        @media #{$mobile} {
            width: 0.3em;
            overflow:hidden;
            text-indent: -5px;
        }}
