$sidebar-width = 20rem;
$sidebar-tabs-height = 2.5em;
$sidebar-tabs-vertical-padding = 0.4em;
$sidebar-dongle-height = 1em;
$sidebar-dongle-width = 1em;

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width:$sidebar-width;
    @include sans-serif;
    color:$dark-medium-gray;
    z-index: 1;
    background:$light-light-gray;
    box-shadow:.1em .1em .5em rgba(118,118,118,0.3);
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
    }

    .button-row {
        > button, select {
            background:white;
            color:$dark-medium-gray;
            margin: 0;
            padding: 0;
            height: $sidebar-tabs-height;
            vertical-align: middle;
            float:left;
            &:hover {
            background:$light-light-gray;
            }
          
            &:active {
                background:$light-gray;
            }
            
            border-top: 1px solid $light-gray;
            border-bottom: none;
            border-left: 1px solid $light-gray;
            border-right: none;

            
        }
        &:last-of-type {
            > button  {
                border-bottom: 1px solid $light-gray;
            }
        }
    }
#text-details #text-info{
    border-bottom: none;
}



    .tabs {
        text-align: center;
        width: 100%;
        height: $sidebar-tabs-height;
        position:relative;
        z-index:1;
        top: $sidebar-tabs-height;
    }

    .tabs li {
        width:33.33%;
        float: left;
        background:$light-light-gray;
        text-transform:lowercase;
        letter-spacing:0.02em;
        @include sans-serif-small-caps;
        height: $sidebar-tabs-height;
        & > a {
            display: inline-block;
            width: 100%;
            padding:$sidebar-tabs-vertical-padding 0;
        }
    }

    .tabs li:hover {
        background:$light-gray;
    }

    .active {
        background:white !important;
    }

    .tab {
        position: absolute;
        top: $sidebar-tabs-height;
        bottom: 0em;
        width: 100%;
        overflow-y:auto;
        overflow-x:hidden;
        /* This is required for proper display of scroll bar --- or is it?*/
        & > .inner-wrap {
            padding: 0;
            position: relative;
            top:$sidebar-tabs-height;
        }
    }
    /* Movement Controls */
    left: -$sidebar-width;
    @include transition(all 0.5s ease-in-out);
    &.active {
        left: 0;
    }

   
    
}

#sidebar-dongle {
    position: absolute;
    top: 50%;
    bottom: 50%;
    font-size:2rem;
    color:$light-medium-gray;
    left: $sidebar-width;
    height: $sidebar-dongle-height;
    width: $sidebar-dongle-width;
    background: $light-light-gray;
    z-index: 1;
    box-shadow:.05em .05em .15em rgba(118,118,118,0.3);
    text-align:center;
    padding:.35em 0.05em 0 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

#navigation-tab ul, #metadata-tab p{
    padding:1em;

}

#navigation-tab {
    li {
       
        font-weight:bold;
    }

    li a {
        display:block;
        width:100%;
        padding:.2em .1em;
        
    }

    li a:hover {
        background-color:$light-light-gray
    }

    li li {
        font-weight:normal;
        padding-left:1em;
    }
}

#links > a {
    float:none;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    padding: 0;
    height:$sidebar-tabs-height;
    top:$sidebar-tabs-height;
    font-size: 90%;
    color:$dark-medium-gray;
     &.details {
        margin: 0;
    }
    &.active {
        padding-bottom: 1em;
        margin-bottom: -1em;
        font-weight: bold;
    }
}

#textual-controls {
    position:relative;
    top:$sidebar-tabs-height;
  

}

#translit-buttons {
   > button {
        width:16.6666%;
        white-space: nowrap;
    }
}

#pali-lookup {
    width: 50%;
}
#lookup-to-lang {
    width: 50%;
}
#lookup-to-lang:hover{background-color: white !important}
#lookup-to-lang:active{background-color: white !important}

#text-info, #text-details {
    width:100%;
}


/* Internal page links */
.tabs a, #menu a {
    text-decoration: none;
    color:$dark-medium-gray;
}


#sidebar-dongle {
        @media #{$mobile} {
            width: 0.3em;
            overflow:hidden;
            text-indent: -5px;
            padding:0.1em 0.05em 0.35em 0;
        }}


#languages select{  background: transparent;
   padding: 0 2em;
   width:100%;

   height: $sidebar-tabs-height;
   -webkit-appearance: none;}

   #languages{
   width:100%;

       }



#nextprev{height: $sidebar-tabs-height;}

#sidebar #menu{
margin-top:7.45em !important;}


.previous,
.top,
.next {
    
    text-transform:lowercase;
        letter-spacing:0.02em;
        @include sans-serif-small-caps;
    
    width: 33.3%;
    
    border-left: 1px solid $light-gray;

        &:hover {
        background: $light-light-gray;
    }
  
}
