.tools .report {
    
    ul {
        list-style: none;
    }
    
    & > ul > li {
        padding: 0.2em 1em 0.2em 1em;
        border-bottom: 1px solid get-other-color(light-gray);
        &:first-child {
            border-top: 1px solid get-other-color(light-gray);
        }
        span.summary {
            font-weight: bold;
        }
        &.odd {
            background:white;
        }
    }
    
    li.heading {
        padding-top: 0.5em;
        border-bottom: 1px solid get-other-color(light-gray);
        font-style: italic;
    }
    
    .error {
        color:white;
        background:#d00; /* Illegal color, on purpose :) */
        border-radius: 0.25em;
        padding: 0.1em;
    }
    
    .warning {
        background-color: rgb(255,200,100);
    }
    .warning + .warning {
        border-top: 1px solid #f0c030;
    }
    
    a.result {
        background: get-pastel-color(light-yellow);
        border: 2px solid get-pastel-color(light-yellow);
        border-radius: 0.5em;
        padding: 0.2em 0.4em 0.2em 0.4em;
    }
    a.result:hover {
        border: 2px solid get-pastel-color(plain-yellow);        
    }
    
}