<!DOCTYPE html>
<html lang="{{page_lang}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {%- if title -%}
    {{ title }} - SuttaCentral
  {%- else -%}
    SuttaCentral, Correspondence of early Buddhist discourses
  {%- endif -%}
</title>
<meta name="description" content="Correspondence tables, references, text, and translations for early Buddhist discourses in all schools of Buddhism">
<meta name="viewport" content="width=device-width">
{{ newrelic_browser_timing.header }}
<!--[if lt IE 10]><script src="/js/vendor/modernizr-2.6.3.min.js"></script><![endif]-->
{% if nonfree_fonts -%}
  {%- assets 'css_nonfree' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets -%}
{%- else -%}
  {%- assets 'css_basic' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets -%}
{%- endif -%}
<!--[if lt IE 9]><style>header {display:inline-block; width:90%;}</style><![endif]-->
</head>
<body>
<div id="wrap">
<header>
<div class="wheel"><a href="/">☸</a></div>

<hgroup>
<h1><a href="/">SuttaCentral
  {%- if offline -%}
    <em>Offline</em>
  {%- endif -%}
</a></h1>
<h2><a href="/">Early Buddhist texts, translations, and parallels</a></h2>
</hgroup>

{% if not offline -%}
<div id="navsearch">
<form id="search_box" action="/search" class="search">
  <input id="search_box_input" type="text" name="query" size="25" class="searchspace" placeholder="Search" autocomplete="off" value="{{ search_query }}" />
  <button class="searchbutton"><img src="/img/search-icon.png" height="15" alt="Search" title="Search"></button>
</form>
</div><!-- navsearch -->
{%- endif -%}

<!-- Drop down menus start here -->
<div id="navbar">
{% for collection in collections -%}
<nav>
{%- if loop.first %}
<span class="topnavright">{{collection.name}}</span>
{%- elif loop.last %}
<span class="topnavleft">{{collection.name}}</span>
{%- else %}
<span class="topnav">{{collection.name}}</span>
{%- endif %}
<ul>
{%- for division in collection.divisions %}
	<li><a href="{{division.link}}">{{division.name}}</a></li>
{%- endfor %}
</ul>
</nav>
{% endfor -%}
</div><!-- navbar -->

</header>
{% block content %}
<div id="onecol">
<p>To display content, override "content" block.</p>
</div>
{% endblock %}
</div><!-- wrap -->

<div id="clearfooter"></div>
<footer>
<p>
<a href="/">Home</a> | 
<a href="/about">About</a> |
<a href="/contacts">People</a> |
<a href="/methodology">Methodology</a> |
<a href="/bibliography">Bibliography</a> |
<a href="/abbreviations">Abbreviations</a><br>
<a href="/sutta_numbering">Sutta Numbering</a> |
<a href="/copyright">Copyright</a> |
<a href="/help">Help</a>
{%- if not offline %} | 
<a href="/downloads">Downloads</a> |
<a href="http://suttacentral.userecho.com/">Feedback</a>
{% endif %}
</p>
</footer>

{% if offline -%}
<script src="/js/vendor/jquery-1.10.2.min.js"></script>
{% else -%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
{% endif %}

{% assets 'js_core' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{{ newrelic_browser_timing.footer }}

</body>
</html>
