{% if not ajax %}
<!DOCTYPE html>
<html lang="{{page_lang}}"  prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if no_index %}
<meta name="robots" content="noindex, nofollow">
{% endif %}
<title>
  {%- if title -%}
    {{ title }} - SuttaCentral
  {%- else -%}
    SuttaCentral: Early Buddhist texts, translations, and parallels
  {%- endif -%}
</title>
{% if not embed %}
<meta name="description" content="Early Buddhist texts, translations, and parallels, including ancient scriptures in Pali, Chinese, Sanskrit, and Tibetan, the relations between them, and modern translations and references.">
<meta name="viewport" content="width=device-width">
{{ newrelic_browser_timing.header }}
<!--[if lt IE 10]><script src="/js/vendor/modernizr-2.6.3.min.js"></script><![endif]-->
{% endif %} {# /embed #}

  <link rel="dns-prefetch" href="//fonts.gstatic.com">
{%- assets 'css_core' -%}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets -%}


{% if not embed %}
<meta property="og:site_name" content="Sutta Central">
<meta property="og:type" content="website">
<meta property="og:img" content="http://suttacentral.net/img/SC-icon-small.png">
<script>document.documentElement.className = "js"</script>

{% block head %}
{% endblock %}

{% endif %} {# /embed #}
</head>
{% set body_classes = (['offline'] if offline else []) + (['embed'] if embed else []) %}

<body{% if body_classes %} class="{{ body_classes|join( ) }}"{% endif %}>

<div id="page-wrap">

{% include 'development_bar.html' %}
{% if not embed %}
{% include 'header.html' %}

{% include 'outdated_browser.html' %}
{% endif %}
{% endif %} {# not ajax #}
<main class="{{font_class}}">
{% if ajax %}
<meta name="title" content="{{title}}">
{% endif %}
{% block content %}{% endblock %}
</main>
{% if not ajax %}
{% if not embed %}

{% block panel %}
<div id="panel-placeholder"></div>
{% endblock %}

<div id="page-footer-push"></div>

</div>{# page-wrap #}

<script id="sc-exports" type="application/json">
{{exports|json}}
</script>

{% include 'footer.html' %}
{% endif %} {# /embed #}
{% if offline or not config.internet_connectivity -%}
<script src="/js/vendor/jquery-1.11.1.min.js"></script>
{% else -%}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
{% endif %}
{% block foot_jq %}
{% endblock %}
{% assets 'js_core' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if not offline and config.internet_connectivity and config.google_analytics and not embed %}
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39277629-1', 'suttacentral.net');
  ga('send', 'pageview');
</script>
{{ newrelic_browser_timing.footer }}
{% endif %} {# not offline #}

</body>
</html>
{% if not embed %}
<!-- Revision: {{ scm.last_commit_revision }}
     Date:     {{ scm.last_commit_time | datetime('long') }}
     Branch:   {{ scm.branch }}
     Tag:      {{ scm.tag }} -->
{% endif %}
{% endif %}
