{% if not pjax %}
<!DOCTYPE html>
<html lang="{{page_lang}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endif %}
<title>
  {%- if title -%}
    {{ title }} - SuttaCentral
  {%- else -%}
    SuttaCentral, Correspondence of early Buddhist discourses
  {%- endif -%}
</title>
{% if not pjax %}
<meta name="description" content="Correspondence tables, references, text, and translations for early Buddhist discourses in all schools of Buddhism">
<meta name="viewport" content="width=device-width">
{{ newrelic_browser_timing.header }}
<!--[if lt IE 10]><script src="/js/vendor/modernizr-2.6.3.min.js"></script><![endif]-->
{% if nonfree_fonts -%}
  {%- assets 'css_nonfree' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets -%}
{%- else -%}
  {%- assets 'css_free' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets -%}
{%- endif -%}
</head>

<body>
<div id="loading" style="display: none;">Loading...</div>
<div id="page-wrap">

{% include 'development_bar.html' %}

{% include 'header.html' %}

{% include 'outdated_browser.html' %}

<div id="page-main">
{% endif %}
{% block content %}{% endblock %}
{% if not pjax %}
</div><!-- page-main -->

<div id="page-footer-push"></div>

</div><!-- page-wrap -->

{% include 'footer.html' %}

{% if offline or not config.internet_connectivity -%}
<script src="/js/vendor/jquery-1.10.2.min.js"></script>
{% else -%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
{% endif %}

{% assets 'js_core' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{{ newrelic_browser_timing.footer }}

</body>
</html>
<!-- Revision: {{ scm.revision }}
     Date:     {{ scm.datetime | datetime('long') }}
     Branch:   {{ scm.branch }}
     Tag:      {{ scm.tag }} -->
{% endif %}
