{%- if development_bar -%}
<div id="development-bar">
{{ development_bar }} -
<a href="https://github.com/suttacentral/suttacentral/tree/{{ scm.branch }}">{{ scm.branch }}</a> -
<a href="https://github.com/suttacentral/suttacentral/commit/{{ scm.last_commit_revision }}">{{ scm.last_commit_revision[:8] }}</a>
{%- if config.internet_connectivity %} -
<a href="https://travis-ci.org/suttacentral/suttacentral"><img src="https://travis-ci.org/suttacentral/suttacentral.png?branch={{ scm.branch }}"></a>
{%- endif -%}
</div>
<div id="development-bar-push"></div>
{%- endif -%}
