{% extends "base.html" -%}
{% import 'macros.html' as macros with context %}
{%- block content -%}
<div id='onecol'>
<table class="divtable">
<caption>
{% if division_text_url %}<a href="{{ division_text_url }}">{% endif %}
Collection: <strong>{{division.collection|i18n_key|translate(lang_of_user)}}</strong> — Division: 
<strong>{{division|i18n_key|translate(lang_of_user)}} ({{division.acronym}})</strong>
{% if division_text_url %}</a>{% endif %}
</caption>
<thead>
<tr>
<th>{{'Identifier'|translate(lang_of_user)}}</th>
<th>{{'Title'|translate(lang_of_user)}}</th>
<th>{{'Vol/Page'|translate(lang_of_user)}}</th>
<th>{{'Parallels'|translate(lang_of_user)}}</th>
<th class='transcol'>{{'Translations'|translate(lang_of_user)}}</th>
</tr>
</thead>
{% for subdivision in division.subdivisions -%}
{% if subdivision.name -%}
<tr><td colspan='5' class='subdivision'>{{subdivision.name}}</td></tr>
{%- endif %}
{% for vagga in subdivision.vaggas %}
{% if vagga.name -%}
<tr><td colspan='5' class='vagga'>{{vagga|i18n_key|translate(lang_of_user)}}</td></tr>
{%- endif %}
{% for sutta in vagga.suttas -%}
{{macros.sutta_row(sutta)}}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{{macros.table_footer()}}
</table>
</div>
{%- endblock -%}
