{% extends "base.html" -%}
{% import 'macros.html' as macros with context %}
{%- block content -%}
<div id='onecol'>
<table class="divtable">
<caption>

Collection: <strong>{{division.collection.name}}</strong> <br>
Division: <strong>{{division.name}} (
{%- if division_text_url %}<a href="{{ division_text_url }}">{% endif -%}
{{division.acronym}}
{%- if division_text_url -%}</a>{% endif %})</strong>
</caption>
<thead>
<tr>
<th>ID</th>
<th>Title</th>
<th>Vol/Page</th>
<th>Parallels</th>
<th class='transcol'>Translations</th>
</tr>
</thead>
{% for subdivision in division.subdivisions -%}
{% if subdivision.name -%}
<tr><td colspan='5' class='subdivision'>{{subdivision.name}}</td></tr>
{%- endif %}
{% for vagga in subdivision.vaggas %}
{% set vaggaloop = loop %}
{% if vagga.name -%}
<tr><td colspan='5' class='vagga'>{{vagga.name}}</td></tr>
{%- endif %}
{% for sutta in vagga.suttas -%}
{{macros.sutta_row(sutta, '{}-{}'.format(vaggaloop.index, loop.index))}}
{%- endfor %}
{%- endfor %}
{%- endfor %}
{{macros.table_footer()}}
</table>
</div>
{%- endblock -%}
