{% from 'macros.html' import time_tag with context %}

{% extends "base.html" -%}
{% block content %}

{% macro file_items(file_list) %}
<table>
<thead><tr><th>File</th><th>Size</th><th>Format</th><th>Created</th></tr></thead>
<tbody>
{% for file in file_list %}
<tr>
<td><a href="{{ file.url }}"><code>{{ file.filename }}</code></a></td>
<td>{{ file.size | filesizeformat }}</td>
<td>{{ file.format | capitalize }}</td>
<td>{{ time_tag(file.time) }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endmacro %}

<div id="onecol">
<section>
<article>

<h1>Downloads</h1>

{% if offline %}
<p>Why would you want to download anything offline?</p>
{% else %}

<h2>Offline SuttaCentral</h2>
<p>An offline version of SuttaCentral suitable for when you don't have an Internet connection. Some features are missing, in particular search functionality.</p>
{% if offline_data %}
{{ file_items(offline_data) }}
{% else %}
<p><em>No offline versions available.</em></p>
{% endif %}

{% endif %}

<h2>Raw Database and Texts</h2>
<p>All the raw SuttaCentral data (<code>CSV</code>, <code>html</code>, etc.) is
    <a href="https://github.com/suttacentral/suttacentral-data">available on
    our GitHub repository</a>. You can
    <a href="https://github.com/suttacentral/suttacentral-data/archive/master.zip">download
    a Zip copy here</a>.</p>

<p><em>It is currently {{ time_tag(current_datetime) }}.</em></p>

</article>
</section>
</div>
{%- endblock %}
