{% extends "base.html" -%}
{% block content %}

{% macro file_items(file_list) %}
<table>
<thead><tr><th>File</th><th>Size</th><th>Format</th><th>Created</th></tr></thead>
<tbody>
{% for file in file_list %}
<tr>
<td><a href="{{ file.url }}"><code>{{ file.filename }}</code></a></td>
<td>{{ file.size | filesizeformat }}</td>
<td>{{ file.format | capitalize }}</td>
<td>{{ file.time | datetime }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endmacro %}

<div id="onecol">
<section>
<article>

<h1>Downloads</h1>

{% if offline %}
<p>Why would you want to download anything offline?</p>
{% else %}

<h2>Offline SuttaCentral</h2>
<p>An offline version of SuttaCentral suitable for when you don't have an Internet connection. Some features are missing, in particular search functionality.</p>
{% if offline_data %}
{{ file_items(offline_data) }}
{% else %}
<p><em>No offline versions available.</em></p>
{% endif %}

<h2>SuttaCentral Database</h2>
<p>This is a MySQL database dump of SuttaCentral's database.</p>
{% if db_data %}
{{ file_items(db_data) }}
{% else %}
<p><em>No databases available.</em></p>
{% endif %}

{% endif %}

</article>
</section>
</div>
{%- endblock %}
