<div id="page-footer">
<footer>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/methodology">Methodology</a></li>
</ul>
<ul>
    <li><a href="/abbreviations">Abbreviations</a></li>
    <li><a href="/sutta_numbering">Sutta Numbering</a></li>
    <li><a href="/bibliography">Bibliography</a></li>
</ul>
<ul>
    <li><a href="/contacts">People</a></li>
    <li><a href="/copyright">Copyright</a></li>
    {% if not offline %}
        <li><a href="/tools">Tools</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="http://suttacentral.userecho.com/">Feedback</a></li>
    {% endif %}
</ul>

</footer>
</div><!-- page-footer -->
