<div id="page-footer">
<footer>

<ul class="footer-left">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/help">Help</a></li>

       {% if not offline %}
        <li><a href="/tools">Tools</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="http://suttacentral.userecho.com/">Feedback</a></li>
    {% endif %}
    </ul>
<ul class="footer-right"> 
<li><a href="/contacts">People</a></li>
<li><a href="/methodology">Methodology</a></li>
    <li><a href="/abbreviations">Abbreviations</a></li>
    <li><a href="/sutta_numbering">Sutta Numbering</a></li>
    <li><a href="/bibliography">Bibliography</a></li>
     <li><a href="/copyright">Copyright</a></li>
</ul>


</footer>
</div><!-- page-footer -->
