
<header>
<div id="title-group"><a href="/">
<div id="wheel">☸</div>
<h1 id="title">SuttaCentral</h1>
</a></div>
<div id="menu">
{% for pitaka_menu in menu -%}
<nav>
    <h3>{{ pitaka_menu.pitaka.name }}</h3>
</nav>
{%- endfor %}
</div><!-- page-header-menu -->

{% if not offline %}
<form id="page-header-search" action="/search">
    <input type="text" name="query" tabindex="1" 
        placeholder="" autocomplete="off" value="">
    <button title="Search">
        ⚲
    </button>
</form>
{% endif %}

<div id="page-header-search-results" style="display: none;"></div>

</header>
<!-- page-header -->
