{# This file contains all the Jinja macros for the project #}

{# Linkafy acronym if possible and replace spaces with non-breakers.
   Optionally show the alt_sutta_acronym #}
{% macro sutta_acronym(sutta, show_alt, brief=false) %}
{% set acronym=sutta.brief_acronym if brief else sutta.acronym %}
{%- if sutta.text_ref -%}{# TODO: Insert nbsp where needed #}
<a href='{{sutta.text_ref.url}}' {%- if sutta.text_ref.title %} title='{{sutta.text_ref.abstract}}' {%- endif %}>
{{acronym|sub("(?<![,;]) ", "&nbsp;")}}
{%- else -%}
{{acronym|sub("(?<![,;]) ", "&nbsp;")}}
{%- endif -%}</a>
{%- if not brief and sutta.alt_acronym and show_alt %}
 <span class='altAcronym'>{{sutta.alt_acronym|sub("(?<![,;]) ", "&nbsp;")}}</span>
{% endif -%}
{% endmacro %}

{# sutta_row: A macro to display a sutta row #}
{% macro sutta_row(sutta) -%}
<tr>
<td>
{{sutta_acronym(sutta, show_alt=True)}}
</td>
<td>{{sutta.name}}</td>
<td>{{sutta.volpage_info | sub("(?<![,;]) ", "&nbsp;") | sht_expansion }}
{%- if sutta.alt_volpage_info %} <span class='altVolPage'>{{sutta.alt_volpage_info|sub("(?<![,;]) ", "&nbsp;")}}</span>
{%- endif %}
</td>
<td>
{% if (result and result.query.ajax) or sutta.no_show_parallels %}
{%- if sutta.parallels -%}
<a href='/{{sutta.uid}}/'
 title='Correspondence details for {{sutta.acronym}}' class="details">{{sutta.parallels|length - sutta.parallels|selectattr("negated")|list|length}} ►</a>
{%- endif -%}
{%- else -%}
{%- for parallel in sutta.parallels -%}
{{sutta_acronym(parallel.sutta, show_alt=False)}}
{%- if parallel.partial -%}*{%- endif -%}
{% if not loop.last %}, {% else %} <a href='/{{sutta.uid}}/' 
 title='Correspondence details for {{sutta.acronym}}' class="details">►</a>
{% endif %}
{%- endfor %}
{%- endif -%}
</td>
<td>
{% for translation in sutta.translations -%}
<a href='{{translation.url}}' class='tran' {% if translation.abstract -%} title='{{translation.abstract}}'{% endif %}>{{translation.lang.iso_code}}</a>{% if not loop.last %} | {% endif %} 
{% endfor -%}
</td>
</tr>
{%- endmacro -%}

{# This macro should be called with the context.
   If either or both flags are set in the context
   then the extra footer info is included in the page #}
{% macro table_footer() %}
{% if citation or has_alt_acronym or has_alt_volpage %}
<tfoot><tr><td colspan="5">
{% if citation %}
    <div id="parallel-citation">
        <span class="label">Citation:</span>
        <input type="text" readonly value="{{ citation | e }}"><!--
        --><button title="Click to copy table data to clipboard" style="display: none">Cite</button>
    </div>
{% endif %}
{% if has_alt_acronym %}
    <p>[...] indicates alternative PTS or Taishō numbering.</p>
{% endif %}
{% if has_alt_volpage %}
    <p>&lt;...&gt; refers to PTS 1998 (Somaratne) edition of SN Vol I.</p>
{% endif %}
</td></tr></tfoot>
{% endif %}
{% endmacro %}


{# A conventional way of showing date/times on the site. #}
{% macro time_tag(t) %}
    <time datetime="{{ t | datetime('rfc3339')}}">
        {{ t | datetime }} {{ config.timezone }}
    </time>
{% endmacro %}
