{# This file contains all the Jinja macros for the project #}

{# Linkafy acronym if possible and replace spaces with non-breakers.
   Optionally show the alt_sutta_acronym #}
{% macro sutta_acronym(sutta, show_alt, brief=false) %}
{% set acronym=sutta.brief_acronym if brief else sutta.acronym %}
{%- if sutta.text_ref -%}{# TODO: Insert nbsp where needed #}
<a class="acro" href='{{sutta.text_ref.url}}' {%- if sutta.text_ref.title %} title='{{sutta.text_ref.abstract}}' {%- endif %}>
{{acronym|sub("(?<![,;]) ", "&nbsp;")}}
{%- else -%}
<a class="acro">{{acronym|sub("(?<![,;]) ", "&nbsp;")}}</a>
{%- endif -%}</a>
{%- if not brief and sutta.alt_acronym and show_alt %}
 <span class='altAcronym'>{{sutta.alt_acronym|sub("(?<![,;]) ", "&nbsp;")}}</span>
{% endif -%}
{% endmacro %}

{# sutta_row: A macro to display a sutta row #}
{% macro sutta_row(sutta, row_num) -%}
<tr>
<td>
{{sutta_acronym(sutta, show_alt=True)}}
</td>
<td>{{sutta.name}}</td>
<td>{{sutta.volpage_info | sub("(?<![,;]) ", "&nbsp;") | sht_expansion }}
{%- if sutta.alt_volpage_info %} <span class='altVolPage'>{{sutta.alt_volpage_info|sub("(?<![,;]) ", "&nbsp;")}}</span>
{%- endif %}
</td>
<td>
{% if (result and result.query.ajax) or sutta.parallel_group %}
{%- if sutta.parallels or sutta.parallel_group -%}
<a href='/ll/{{sutta.details_uid}}'
 title='Full details for {{sutta.acronym}}' class="details">{{sutta.parallels_count}} ▶</a>
{%- endif -%}
{%- else -%}
{%- for parallel in sutta.parallels -%}
{{sutta_acronym(parallel.sutta, show_alt=False)}}
{%- if parallel.partial -%}*{%- endif -%}
{% if not loop.last %}, {% else %} <a href='/ll/{{sutta.uid}}' 
 title='Full details for {{sutta.acronym}}' class="details">▶</a>
{% endif %}
{%- endfor %}
{%- endif -%}
</td>
<td>
{% if sutta.translations %}
<div class="translations">
{% for translation in sutta.translations -%}
{% set offsite = translation.url[0] != '/' %}
<a href='{{translation.url}}' class='tran' {% if translation.abstract -%} title='{{translation.abstract}}'{% endif %} {% if offsite %}target="_blank"{% endif %}>{{translation.lang.iso_code}}</a>
{% endfor -%}
</div>
{% endif %}
</td>
</tr>
{%- endmacro -%}

{# This macro should be called with the context.
   If either or both flags are set in the context
   then the extra footer info is included in the page #}
{% macro table_footer() %}
{% if citation or has_alt_acronym or has_alt_volpage %}
<tfoot><tr><td colspan="5">
{% if has_alt_acronym %}
    [...] indicates alternative PTS or Taishō numbering.<br>
{% endif %}
{% if has_alt_volpage %}
    &lt;...&gt; refers to PTS 1998 (Somaratne) edition of SN Vol I.
{% endif %}
{% if citation %}
    <div id="parallel-citation">
        <input type="text" readonly value="{{ citation | e }}"><!--
        --><button title="Click to copy table data to clipboard">Cite</button>
    </div>
{% endif %}
</td></tr></tfoot>
{% endif %}
{% endmacro %}


{# A conventional way of showing date/times on the site. #}
{% macro time_tag(t) %}
    <time datetime="{{ t | datetime('rfc3339')}}">
        {{ t | datetime }} {{ config.timezone }}
    </time>
{% endmacro %}

{% macro page_url(offset, limit) %}
{{base_query_url}}&offset={{offset}}&limit={{limit}}
{% endmacro %}


{% macro navlinks() %}
<table id="search-nav">
<tr>
{% if offset > 0 %}
<td><a class="search-nextprev" href="{{ page_url((offset - limit) | max(0), limit) }}">Prev</a>
{% endif %}
{% if (offset / limit <= 5) %}
{% set range_start = 0 %}
{% else %}
{% set range_start = offset // limit - 5 %}
{% endif %}
{% for i in range(range_start, (1 + total // limit) | min(range_start + 10)) %}
{% if offset >= (i * limit) and offset < (i + 1) * limit %}
<td><span class="search-page">{{i + 1}}</span>
{% else %}
<td><a class="search-page" href="{{ page_url(i * limit, limit) }}">{{i + 1}}</a>
{% endif %}
{% endfor %}
{% if offset + limit < total %}
<td><a class="search-nextprev" href="{{ page_url(offset + limit, limit) }}">Next</a>
{% endif %}
</tr>
</table>
{% endmacro %}
