{% for pitaka_menu in menu %}
<nav class="pitaka columns-{{ pitaka_menu|length }}" id="home-{{ pitaka_menu.pitaka.name|lower }}">
    <h3>{{ pitaka_menu.pitaka.name }}</h3>
    <div class="contents">
    {% for lang_menu in pitaka_menu %}
        <div class="column">
            <div class="language">
                <h2>{{ lang_menu.lang.name }}</h2>
                {% for sect_menu in lang_menu %}
                <ul class="sect">
                    {% if sect_menu.sect %}
                    <li><h3>{{ sect_menu.sect.name }}</h3></li>
                    {% endif %}
                    {% for division in sect_menu %}
                    {% if division.menu_gwn_ind %}
                    <li class="group-with-next">
                    {% else %}
                    <li>
                    {% endif %}
                    {% if division.has_suttas or division.text_ref %}
                        <a href="/{{ division.uid }}">{{ division.name }}</a>
                    {% else %}
                        <a title="/{{ division.uid }}" class="no-suttas">{{division.name}}</a>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</nav>
{% endfor %}
