{% extends "base.html" -%}
{%- block content -%}

<div id="forms">
<form target="/profiler">
    <input type="hidden" name="start" value="1">
    <button>Start</button>
</form>
<form target="/profiler">
    <input type="hidden" name="stop" value="1">
    <button>Stop</button>
</form>
<form target="/profiler">
    <input type="hidden" name="clear" value="1">
    <button>Clear</button>
</form>
<form target="/profiler">
    <input type="hidden" name="show" value="1">
    <button>Show</button>
</form>
</div>

{% if stats %}
<div style="overflow-x: scroll">
<table id="profiler-stats">
<thead>
<tr>
{% for field in stats.fields %}
<td>{{ field|e }}</td>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in stats.rows %}
<tr>
{% for value in row %}
<td>{{ value|e }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}


{%- endblock -%}

{% block foot_jq %}
{% if stats %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script>
    table = $('#profiler-stats').DataTable()
    table.column(9).visible(false);
    table.column(12).visible(false);
</script>
});
{% endif %}
{% endblock %}
