{% if not embed %}
<div id="sidebar">
    <script>
    {# This is inlined as we want it to run right here #}
    if (localStorage.getItem('sc.sidebar.pinned')) {
        document.getElementsByTagName('main')[0].classList.add('sidebar-pinned');
    } else {
        document.getElementById('sidebar').style.visibility = 'hidden';
    }
    if (localStorage.getItem('infomode.on')) {
        document.getElementsByTagName('body')[0].classList.add('infomode');
    }
    console.log('Main: ', document.getElementsByTagName('main'));
    setTimeout(function(){
        document.getElementById('sidebar').style.visibility = 'visible';
        {% if has_quotes %}
        document.getElementsByTagName('main')[0].style.visibility = 'visible';
        {% endif %}
        }, 500);
    
    {% if has_quotes %}
    document.getElementsByTagName('main')[0].style.visibility = 'hidden';
    {% endif %}
    </script>
      <div id="darkness"></div>
      <ul class='tabs'>
        <li><a href="#controls-tab">Controls</a></li>
        <li><a href="#navigation-tab">Navigation</a></li>
        <li><a href="#metadata-tab">Metadata</a></li>
      </ul>
      <div class="tab" id="controls-tab">
        <div class="inner-wrap">
            {% if lang_code == 'pi' %}
            <div id="pali-lookup-controls"> 
            </div>
            <div class="x6 button-row" id="translit-buttons">
                <a class="button" id="toRoman" title="Read Pali text in Roman script">kā</a>
                <a class="button" id="toSinhala" title="Read Pali text in Sinhala script">කා</a>
                <a class="button" id="toThai" title="Read Pali text in Thai script">กา</a>
                <a class="button" id="toMyanmar" title="Read Pali text in Burmese script">ကာ</a>
                <a class="button" id="toDevar" title="Read Pali text in Devanagari script">का</a>
                <a class="button" id="toSyllables" title="Read Pali text in Roman script, broken into syllables, with long syllables underlined">k-ā</a>
            </div>
            {% endif %}
            {% if lang_code == 'lzh' %}
            <div class="x1 button-row">
                <a class="button" id="lzh2en" title="Activate Chinese lookup">Chinese → English Lookup</a>
            </div>
            {% endif %}
            <div class="x1 button-row">
                <a class="button" id="text-info" title="View reference numbers, variant readings, etc.">Textual Information</a>
            </div>
            {% if lang_code == 'lzh' %}
            <div class="x1 button-row">
                <a class="button" id="t-line-by-line" title="View line-by-line as in CBETA">View line-by-line</a>
            </div>
            {% endif %}
            <div id="pin-sidebar">Keep Extended:<label><input type="checkbox" name="sidebar-pinned"> Sidebar</label><label><input type="checkbox" name="header-pinned"> Header</label></div>
            <script>
            document.getElementsByName('sidebar-pinned')[0].checked = localStorage.getItem('sc.sidebar.pinned') == "true";
            document.getElementsByName('header-pinned')[0].checked = localStorage.getItem('sc.headerMenu.pinned') == "true";
            </script>
            
            <div id="message-box"></div>
        </div>
      </div>
      <div class="tab" id="navigation-tab">
        <div class="inner-wrap">
            {% if discourse_results %}
            <div id="discourse-results-wrapper">
            </div>
            {% endif %}
            {% if imm(uid) %}
            <div class="x1 button-row">
                <a class="button" href="/{{ uid }}" id="text-details-button" title="Go to parallels and references">Textual Details ▶</a>
            </div>
            {% endif %}
            <div class="x1 button-row languages">
            <details>
                <summary style="float:none;" class="button">Languages</summary>
                <ul>
                    {% for text_ref in text_refs %}
                    {% set offsite = text_ref.url[0] != '/' %}
                    {% set classes =  (['offsite'] if offsite else []) %}
                    {% if text_ref.lang.uid == root_lang.uid %}
                        {% set classes = classes + ['root'] %}
                    {% endif %}
                    
                    {% if not offsite and lang_code == text_ref.lang.uid %}
                        {% set classes = classes + ['this'] %}
                    {% endif %}
                    
                    <li{% if classes %} class="{{ classes|join(' ') }}"{% endif %}>
                        <a href="{{ text_ref.url }}" title="{{ text_ref.abstract }}" {% if offsite %} target="_blank"{% endif %}>{{ text_ref.lang.name }}</a></li>
                    {% endfor %}
                    
                </ul>
            </details></div>
            <div class="x2 button-row">
                {% if prev_data %}
                    <a class="button" class="previous" title="{{ prev_data.name_striped }}" href="{{ prev_data.url }}">◀ {{ prev_data.uid|uid_to_acro }}</a>
                {% else %}
                    <a class="button empty"></a>
                {% endif %}
                
                {% if next_data %}
                    <a class="button" class="next" title="{{ next_data.name_striped }}" href="{{ next_data.url }}">{{ next_data.uid|uid_to_acro }} ▶</a>
                {% else %}
                    <a class="button empty"></a>
                {% endif %}
                </div>
                <div id="discourse"></div>
            </div>
      </div>
      <div class="tab" id="metadata-tab">
        <div class="inner-wrap">
        </div>
      </div>
      <!-- <div id="sidebar-dongle">≡</div> -->
</div>
{% endif %} {# /not embed #}
