{% extends "base.html" -%}

{% import 'macros.html' as macros with context %}
{%- block content -%}
<div id='onecol'>
<table>
<caption><div title="collection">{{division.collection.name}}</div>
<div title="division"><a href='/{{division.uid}}/full'>{{division.name}}</a> ({{division.acronym}})</div>
</caption>
<thead>
<tr>
<th>Identifier</th>
<th>Subdivision</th>
</tr>
</thead>
<tbody>
{% for subdivision in division.subdivisions -%}
<tr>
<td>{{subdivision.acronym}}</td>
<td><a href='/{{subdivision.uid}}'>{{subdivision.name}}</a></td>
</tr>
{%- endfor %}
{{macros.table_footer()}}
</tbody>
</table>
</div>
{%- endblock -%}
