{% extends "base.html" -%}

{% import 'macros.html' as macros with context %}
{%- block content -%}
<div id='onecol'>
<table>
<caption>Collection: <strong>{{division.collection.name}}</strong>
<br>Division: 
<strong>
<a href='/{{division.uid}}/full'>{{division.name}}</a> ({{division.acronym}})
</strong>
</caption>
<thead>
<tr>
<th>Identifier</th>
<th>Subdivision</th>
</tr>
</thead>
<tbody>
{% for subdivision in division.subdivisions -%}
<tr>
<td>{{subdivision.acronym}}</td>
<td><a href='/{{subdivision.uid}}'>{{subdivision.name}}</a></td>
</tr>
{%- endfor %}
{{macros.table_footer()}}
</tbody>
</table>
</div>
{%- endblock -%}
