{% macro show_parallels(parallels) %}
<ul>
{% for ll in parallels %}
{% set tr = ll.sutta.get_translation(lang) %}
<li class="sc-tr-info">
<a class="sc-text" target="_blank" href="{{base_url}}{{tr.url}}">{{tr.name}}</a>
(<a class="sc-acro" target="_blank" href="{{base_url}}/{{ll.uid}}">{{ll.sutta.acronym}}</a>, {{ ll.sutta.lang.name }}) 
</li>
{% endfor %}
</ul>
{% endmacro %}


<div class="sutta-info">
{% if translation %}
<p class="sc-head">{% if lang == 'en' %} Read {% endif %}
<a class="sc-text" target="_blank" href="{{base_url}}{{translation.url}}">
{{translation.name}}</a>
{% else %}
<p>{{sutta.name}}
{% endif %} 
(<a class="sc-acro" target="_blank" href="{{base_url}}/{{sutta.uid}}">{{sutta.acronym}}</a>) 
</p>
{% if full_parallels or partial_parallels %}
<div class="sc-extra-sutta-info">
{% if full_parallels %}
<p>You might also be interested in full parallels to this sutta:</p>
{{ show_parallels(full_parallels) }}
{% endif %}
{% if partial_parallels %}
<p>
{% if full_parallels %}
Or partial parallels:
{% else %}
You might also be interested in partial parallels to this sutta:
{% endif %}
</p>
{{ show_parallels(partial_parallels) }}
{% endif %}
</div>
{% endif %}
</div>
