{% extends "base.html" -%}
{%- block content -%}
<div id="sidebar" class="active" style="display:none">
      <ul class='tabs'>
        <li><a href="#controls-tab">Controls</a></li>
        <li><a href="#navigation-tab">Navigation</a></li>
        <li><a href="#metadata-tab">Metadata</a></li>
      </ul>
      <div class="tab" id="controls-tab">
        <div class="inner-wrap">
            <div id="textual-controls">
                {% if lang_code == 'pi' %}
                <div class="button-row">
                <select id="lookup-to-lang">
                        <option value="en" title="English">Pali → English</option>
                        <option value="es" title="Spanish">Pali → Spanish</option>
                </select>
                <button id="pali-lookup">Lookup</button>
                
                </div>
                <div class="button-row" id="translit-buttons">
                    <button id="toRoman">kā</button>
                    <button id="toSinhala">කා</button>
                    <button id="toThai">กา</button>
                    <button id="toMyanmar">ကာ</button>
                    <button id="toDevar">का</button>
                    <button id="toSyllables">k-ā</button>
                </div>
                {% endif %}
                {% if lang_code == 'zh' %}
                <div class="button-row">
                    <button id="zh2en">Chinese → English Lookup</button>
                </div>
                {% endif %}
                <div class="button-row">
                    <button id="text-info">Textual Information</button>
                </div>
                {# I'm using last-of-type keyed to div, so need a non-div
                    element after the buttons #}
                <aside id="message-box"></aside>
            </div>
        </div>
      </div>
      <div class="tab" id="navigation-tab">
        <div class="inner-wrap">
        <div id="textual-controls">
        <div id="text-details">
        <div class="button-row">
        <button id="text-info">Textual Details ▶</button>
        </div>
        </div>

            <div id="languages">
            <div class="button-row">
                <select id="language-select" name="Languages">
                <option value="" style="display:none">Languages ▼</option>
                        <option value="en" title="English">English ▶</option>
                        <option value="es" title="Spanish">Spanish ▶</option>
                        <option value="my" title="Burmese">Burmese ▶</option>
                        <option value="zh" title="Chinese">Chinese ▶</option>
                </select>
                                
                </div>
            </div>
            <div id="nextprev">
            <div class="button-row">
                {% if prev_uid %}
                    <button class="previous" href="{{ lang_code }}/{{ prev_uid }}">◀ {{imm.uid_to_acro(prev_uid)}}</button>
                {% endif %}
                <button class="top" href="#"> ▲ TOP</button>
                {% if next_uid %}
                    <button class="next" href="{{ lang_code }}/{{ next_uid }}">{{imm.uid_to_acro(next_uid)}} ▶</button>
                {% endif %}
                </div>
            </div>
        </div>
      </div>
      </div>
      <div class="tab" id="metadata-tab">
        <div class="inner-wrap">
        </div>
      </div>
      <div id="sidebar-dongle">≡</div>
</div>
{{text}}
{%- endblock -%}
