{% extends "base.html" -%}
{% import 'macros.html' as macros with context %}
{%- block content -%}
<div id="onecol">
<table id="vinaya_parallels">
<caption>
Details for <strong><a href="{{sutta.url}}">{{sutta.acronym}}</a> {{sutta.name}}</strong></caption>
<thead>
<tr>
<th>Identifier</th>
<th>Division</th>
<th>Vol/Page</th>
<th>Translations</th>
</tr>
</thead>
<tbody>
{% for parallel in parallels -%}
{% if parallel.negated %}
<tr class="negated-parallel">
<td>
{% if parallel.maybe %}
Gap in manuscript
{% else %}
No parallel
{% endif %}
</td>
<td>{{parallel.division.uid|uid_to_name}}</td>
<td colspan=3>
</td>
</tr>
{% else %}
{%- if loop.first -%}
<tr class='origin'>
{%- else -%}
<tr>
{%- endif %}
<td>
{{macros.sutta_acronym(parallel.sutta, show_alt=true)}}
{%- if parallel.partial -%}*{%- endif -%}
</td>
<td>{{ parallel.sutta.subdivision.division.uid|uid_to_name }}</td>
<td>{{parallel.sutta.volpage_info | sht_expansion }}
{%- if parallel.sutta.alt_volpage_info %} <span class='altVolPage'>{{parallel.sutta.alt_volpage_info|replace(" ", "&nbsp;")}}</span>
{%- endif -%}
{%- if parallel.footnote %}
<a class='note'><div class='tri'>&nbsp;►</div><span class='deets'>{{parallel.footnote}}</span></a>
{%- endif -%}
{%- if parallel.sutta.biblio_entry %}
<a class='bib'><div class='tri'>&nbsp;►</div><span class='deets'>{{parallel.sutta.biblio_entry.text}}</span></a>
{%- endif -%}
</td>
<td>
{% for translation in parallel.sutta.translations -%}
<a href='{{translation.url}}' class='tran' title='{{translation.abstract}}'>{{translation.lang.uid}}</a>{% if not loop.last %} | {% endif %} 
{% endfor -%}
</td>
{% endif %}
</tr>
{%- endfor %}

</tbody>
{{macros.table_footer()}}
</table>
</div>
{%- endblock -%}
