$button-gradiant-top-color: white;
$button-gradiant-bottom-color: $light-gray;
$button-hover-gradiant-top-color: white;
$button-hover-gradiant-bottom-color: $light-light-gray;
$button-active-gradiant-top-color: $light-light-gray;
$button-active-gradiant-bottom-color: white;
$button-disabled-background-color: $light-gray;
$button-box-shadow-color: rgba($medium-gray, 0.3);

@mixin button-background {
    @include vertical-linear-gradient($button-gradiant-top-color,
                                      $button-gradiant-bottom-color);
}

@mixin button-hover-background {
    @include vertical-linear-gradient($button-hover-gradiant-top-color,
                                      $button-hover-gradiant-bottom-color);
}

@mixin button-active-background {
    @include vertical-linear-gradient($button-active-gradiant-top-color,
                                      $button-active-gradiant-bottom-color);
}

@mixin button-disabled-background {
    background: $button-disabled-background-color;
}

button {
    @include button-background;
    box-shadow: 0 0 0.25em $button-box-shadow-color;
}

button:hover {
    @include button-hover-background;
}

button:active {
    @include button-active-background;
}

button[disabled=disabled] {
    @include button-disabled-background;
}
