$body-text-color: $dark-gray;
$body-background-color: $light-off-white;
$body-subheading-color: $medium-gray;

$body-font-size: 1em;

body {
    @include serif;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $body-text-color;
    background: $body-background-color;

    /* text-rendering: optimizeLegibility is not needed. But it is still cool.
     See http://aestheticallyloyal.com/public/optimize-legibility/ */
text-rendering: optimizeLegibility;
    /* "-webkit-font-smoothing: antialiased" is not needed either
    See http://stackoverflow.com/questions/11459746/css3-webfont-smoothing-and-antialiasing-in-firefox-and-opera

    Use kerning and ligatures if possible...
    See http://blog.fontdeck.com/post/15777165734/opentype-1 */

    -moz-font-feature-settings: "kern" 1,"liga" 1;
-webkit-font-feature-settings: "kern" 1,"liga" 1;
font-feature-settings: "kern" 1,"liga" 1;



   

    // Fonts look absolutely apalling in Opera, it is a known issue
    // that Opera only works well with a certain set of fonts. Opera
    // users generally force Opera to only use those fonts.
    // We are much better off letting Opera pick freely.
    //body class "badfonts" set by javascript.
    &.badfonts {
        font-family: serif;
    }
    
    overflow-x: hidden;
    @media #{$mobile} {
      line-height:1.4;
}
}

::selection {
background:#F7E63E;
color:$dark-saturated-purple;
}
::-webkit-selection {
background:#F7E63E;
color:$dark-saturated-purple;
}

::-moz-selection {
background:#F7E63E;
color:$dark-saturated-purple;
}
//
// Headings, paragraphs and lists
//

p {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0 0 0 1em;
    padding: 0;
}

p, ul {

    margin-bottom: 1em;
    @media #{$mobile} {
      margin-bottom: 0.7em;
}
}

h1 {
    margin: 0.25em 0 1em;
    font-size: 1.6em;
    line-height: 1em;
    font-weight: normal;
    color: $body-text-color;

    & > a, & > a:link, & > a:visited, & > a:hover, & > a:active {
        color: $body-text-color;
    }
}

h2, h3, h4, h5, h6 {
    color: $body-subheading-color;

    & > a, & > a:link, & > a:visited, & > a:hover, & > a:active {
        color: $body-subheading-color;
    }
}

h2 {
    margin: 0.3em 0 0.8em;
    font-size: 1.3em;
    font-weight: normal;
}

h3 {
    margin: -0.2em 0 1.3em;
    font-size: 1em;
    font-weight: bold;
}

blockquote {
    margin: 1.3em 1em 1.3em 1em;
}

//
// Manual Overrides
//

.hidden {
    display: none !important;
}

.noborder {
    border: none !important;
}

img{
    padding:1em;
    box-shadow:.0 0 1em rgba(0,0,0,0.1) inset,
              0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2);
               background:#fff;
               float:left;
}



    .currency-input {

    padding: 3px 6px;
    font-size: 120%;
    display:block;
    margin:0 auto;
    width:6em;
    font-family:'Source Sans Pro', sans-serif;
    background:white;
    border-radius:3px;
      box-shadow: 0px 0px 3px black inset;
      background:#fff;
      

}
.currency-input > input {
    margin-left: 0.25em;
    border: none;
    outline: none;
    width: 4em;

}

    .donate{
    text-align:center;
    margin:2em
}

 .home-announcement{
    max-width:40em;
    margin:5em auto;
    text-align:center;
    border-radius:3px;
    background:$pastel-red;
    padding:1em;
    border:1px solid $dark-pastel-red;
    }

    .donate-button{
    background:$dark-saturated-green; 
    font-family:'hetu_schetu_sc', 'Source Sans Pro', sans-serif;
    text-transform:lowercase;
    padding:0.5em 1em;
    border-radius:3px;
    color:white;
    box-shadow:1px 1px 3px rgba(0,0,0,0.3);
    border:1px solid $dark-pastel-red;
    margin:1em auto 2em;
    display:block;
    width:8em
    }

    .donate-button:hover{
    background:$saturated-green;
    box-shadow:1px 1px 5px rgba(200,200,200,1);
    }
      .donate-button:active{
    background:$bright-saturated-green;
    box-shadow:1px 1px 5px rgba(200,200,200,1);
    }

    .footer-donate{
  text-align:center;
    margin-bottom:1.5em;
    color:white;
 }
    .footer-donate-button{
    background:$dark-saturated-green; 
    padding:0.5em 1em;
    border-radius:3px;
     box-shadow:1px 1px 3px rgba(0,0,0,0.3);
    border:1px solid $dark-pastel-red;
   
    }
    .footer-donate-button:hover{
    background:$saturated-green;
    box-shadow:1px 1px 5px rgba(200,200,200,1);
    }
      .footer-donate-button:active{
    background:$bright-saturated-green;
    box-shadow:1px 1px 5px rgba(200,200,200,1);
    }


    .donate-button{
    background:$dark-saturated-green; 
    font-family:'hetu_schetu_sc', 'Source Sans Pro', sans-serif;
    text-transform:lowercase;
    padding:0.5em 1em;
    border-radius:3px;
    color:white;
    box-shadow:1px 1px 3px rgba(0,0,0,0.3);
    border:1px solid $dark-pastel-red;
    }

    .donate-button:hover{
    background:$saturated-green;
    box-shadow:1px 1px 5px rgba(200,200,200,1);
    }
      .donate-button:active{
    background:$bright-saturated-green;
    box-shadow:1px 1px 5px rgba(200,200,200,1);
    }
