$body-text-color: $dark-gray;
$body-background-color: $light-off-white;
$body-subheading-color: $medium-gray;

$body-font-size: 1em;

body {
    @include serif;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $body-text-color;
    background: $body-background-color;

    // "text-rendering: optimizeLegibility" is not needed
    // See http://aestheticallyloyal.com/public/optimize-legibility/

    // "-webkit-font-smoothing: antialiased" is not needed either
    // See http://stackoverflow.com/questions/11459746/css3-webfont-smoothing-and-antialiasing-in-firefox-and-opera

    // Use kerning and ligatures if possible...
    // See http://blog.fontdeck.com/post/15777165734/opentype-1
    @include font-feature-settings("kern" 1, "liga" 1, "dlig" 1);

    // Fonts look absolutely apalling in Opera, it is a known issue
    // that Opera only works well with a certain set of fonts. Opera
    // users generally force Opera to only use those fonts.
    // We are much better off letting Opera pick freely.
    //body class "badfonts" set by javascript.
    &.badfonts {
        font-family: serif;
    }
    
    overflow-x: hidden;
    @media #{$mobile} {
      line-height:1.4;
}
}

::selection {
background:#F7E63E;
color:$dark-saturated-purple;
}
::-webkit-selection {
background:#F7E63E;
color:$dark-saturated-purple;
}

::-moz-selection {
background:#F7E63E;
color:$dark-saturated-purple;
}
//
// Headings, paragraphs and lists
//

p {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0 0 0 1em;
    padding: 0;
}

p, ul {
    margin-bottom: 1.5em;
    @media #{$mobile} {
      margin-bottom: 0.7em;
}
}

h1 {
    margin: 0.25em 0 1em;
    font-size: 1.6em;
    line-height: 1em;
    font-weight: normal;
    color: $body-text-color;

    & > a, & > a:link, & > a:visited, & > a:hover, & > a:active {
        color: $body-text-color;
    }
}

h2, h3, h4, h5, h6 {
    color: $body-subheading-color;

    & > a, & > a:link, & > a:visited, & > a:hover, & > a:active {
        color: $body-subheading-color;
    }
}

h2 {
    margin: 0.3em 0 0.8em;
    font-size: 1.3em;
    font-weight: normal;
}

h3 {
    margin-bottom: -0.2em 0 1.3em;
    font-size: 1em;
    font-weight: bold;
}

blockquote {
    margin: 1.3em 1em 1.3em 1em;
}

//
// Manual Overrides
//

.hidden {
    display: none !important;
}

.noborder {
    border: none !important;
}
