$development-bar-text-color: $off-white;
$development-bar-background-color: $pastel-purple;
$development-bar-height: 2em;

.development-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: $development-bar-height;
    background-color: $development-bar-background-color;
    line-height: $development-bar-height;
    text-align: center;
    color: $development-bar-text-color;
    overflow: hidden;

    @media print {
        display: none;
    }

    a, a:visited {
        color: $development-bar-text-color;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        vertical-align: middle;
        width: 4em;
        height: 1em;
    }
}

.development-bar-push {
    width: 100%;
    height: $development-bar-height;

    @media print {
        display: none;
    }
}
