$footer-background-color: $light-pastel-green;
$footer-separator-color: $medium-gray;

$footer-font-size: 1em;
$mobile-footer-font-size: 1em;

#page-footer {
    width: 100%;
    height: $footer-height;
    overflow: hidden;
    background-color: $footer-background-color;

    @media #{$mobile} {
        height: $mobile-footer-height;
    }

    @media print {
        display: none;
    }

    & > footer {
        display: block;
        width: 100%;
        padding: 1.5em 0 0 0;
        @include sans-serif-small-caps;
        font-size: $footer-font-size;
        line-height: 2em;
        text-transform: lowercase;
        letter-spacing: 0.05em;
        text-align: center;
        white-space: nowrap;

        @media #{$mobile} {
            padding-top: 1em;
            font-size: $mobile-footer-font-size;
            line-height: 1.5em;
            letter-spacing: 0;
        }

        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;

            & > li {
                display: inline;
                margin: 0;
                padding: 0 0.2em 0 0.5em;
                border-left: 1px solid $footer-separator-color;

                &:first-child {
                    padding-left: 0;
                    border-left: none;
                }

                & > a:visited {
                    color: $link-color;
                }

                & > a:hover {
                    color: $link-hover-color;
                }

                & > a:active {
                    color: $link-active-color;
                }
            }
        }
    }
}
