$footer-background-color: $light-pastel-green;



#page-footer {
    width: 100%;
    height: $footer-height;
    overflow: hidden;
    background-color: $footer-background-color;
white-space:nowrap;
    @media #{$mobile} {
        height: $mobile-footer-height;
    }

    @media print {
        display: none;
    }

    & > footer {
       
        margin: 0 auto;
      max-width:18em;
       padding: 2em 0 0 0;
       clear: both;
        @include sans-serif-small-caps;
       text-transform: lowercase;
        letter-spacing: 0.03em;
        text-align: left;
        


        & > ul {
                        margin:0 0 0 2em;
            list-style: none;
            float:left;
            

            & > li {
              
                padding: 0 0 0.5em 0;
                
               


	& > a {
                    color: $dark-medium-gray;
                }
                & > a:visited {
                    color: $dark-medium-gray;
                }

                & > a:hover {
                    color: $link-hover-color;
                    
                }

                & > a:active {
                    color: $link-active-color;
                }
            }
        }
    }
}
.footer-left{text-align:right}