$header-background-color: $pastel-yellow;
$header-border-color: $dark-saturated-red;

$header-height: 54px;
$header-padding: 6px;
$header-border-width: 4px;

$tablet-header-height: 54px;
$tablet-header-padding: 6px;
$tablet-header-border-width: 4px;

$mobile-header-height: 68px;
$mobile-header-padding: 3px;
$mobile-header-border-width: 2px;

#page-header {
    position: relative;
    height: $header-height;
    padding: $header-padding;
    border-bottom: $header-border-width solid $header-border-color;
    background-color: $header-background-color;
    z-index: 100;

    @media #{$tablet} {
        height: $tablet-header-height;
        padding: $tablet-header-padding;
        border-bottom-width: $tablet-header-border-width;
    }

    @media #{$mobile} {
        height: $mobile-header-height;
        padding: $mobile-header-padding;
        border-bottom-width: $mobile-header-border-width;
    }

    @media print {
        display: none;
    }

    & > header {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: $page-max-width - ($header-padding * 2);
        height: 100%;
    }
}
