$header-background-color: $pastel-yellow;
$header-border-color: $dark-saturated-red;

$header-height: rem;
$header-padding: 6px;
$header-border-width: 4px;



header {
    background: $header-background-color;
    height: $header-height;
    line-height: 2em;
    border-bottom: $header-border-width solid $header-border-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    
    
    
    #title-group {
        position: relative;
        display: inline-block;
        padding: 0 1%;
        vertical-align: top;
        height: 2em;
       float: left;
    }
    nav:hover {
        background: white;
    }
    #wheel {
        color: white;
        font-size: 2.5em;
        display: inline-block;
        margin-top:2px;
    }

    #title {
        position: relative;
        top:-4px;
        font-weight: normal;
        display: inline;
        font-size: 1.5em;
        @include serif-small-caps;
        color: #005179;
    }
    
    #menu{
        position: absolute;
        width: 50%;
        display: inline-block;
        float: left;
    }
    
    nav {
        display:inline-block;
        width:30%;
        text-align:center;
        float:left;
        border-left:1px solid #B3AF8C;
        height:2em;
    }
    
    nav:last-child{
        border-right:1px solid #B3AF8C;
    }
    
    h3 {
        position: relative;
        @include sans-serif-small-caps;
        display:inline;
        font-weight: normal;
        font-size:1em;
        color:#585858;
        text-transform: lowercase;
        letter-spacing: 0.02em;
    }
    
 

    #page-header-search input {
    @include sans-serif;
        position: absolute;
        width:20%;
        padding: 0.3rem;
        top:0.2rem;
        height:1.0em;
        right:1%;
        border:none;
         border-radius: 3px;
         box-shadow:0 0 1px rgba(0,0,0,0.8)inset;
        background: white;
    }

    button{
        position: absolute;
        color:#585858;
        font-weight: bold;
        font-size: 1.2em;
        right:1.5%;
        text-indent:-0.2em;
        top:0.29em;
        line-height:0.9;
        background:none;
        border:none;
        box-shadow:none;
        width:1.1em;
        height:1.1em;
        border:2px solid rgba(0,0,0,0);
        -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    padding-top:2px;
 
    }

    button:hover{border:2px solid #585858;
    border-radius:50%;
    background:none;}

    #shadow{
position:relative;
height:1px;
width:100%;
    box-shadow:0 0 .5em rgba(118,118,118,1);
    z-index:1;
}

    @media screen and (max-width: 760px) {
      
        nav{	
            width: initial;
            padding: 0 0.3em;
        }
        #menu{
            width: initial;
        }
      }
      
      @media screen and (max-width: 610px){
        button{
            
            background:none;
         
            }
             #page-header-search input{
             display:none;
             }
        }
    @media #{$mobile} {
        #title {
            display:none;
        }	
    }
}


