$link-color:               $bright-cool-blue;
$link-visited-color:       $cool-blue;
$link-hover-color:         $dark-saturated-red;
$link-active-color:        $bright-saturated-red;
$link-active-shadow-color: $bright-saturated-yellow;
$link-offsite-color:       $medium-gray;

a {
    text-decoration: none;

    &:link {
        color: $link-color;
    }

    &:visited {
        color: $link-visited-color;
    }

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
        text-shadow: 0px 0px 0.5em $link-active-shadow-color;
    }

    // De-emphasize offsite translations
    &.tran[href^="http"] {
        color: $link-offsite-color;
        font-style: italic;
    }
}
