:link {
    text-decoration: none;

    color: get-color(link-color);

    &:visited {
        color: get-color(link-visited-color);
    }

    &:active {
        color: get-color(link-active-color);
    }
    
    &:hover {
        color: get-color(link-hover-color);
    }
    // De-emphasize offsite translations
    &[href^="http"] {
        &.tran {
            font-style: italic;
        }
        body.offline & {
            color: get-color(link-offline-color);
        }
    }
}
