.popup {
    position: absolute;
    background: lightgoldenrodyellow;
    z-index: 1;
    border-radius: 0.8em;
    padding: 0.2em;
    border: 2px palegoldenrod solid;
    transition: visibility 0s ease 0.15s,opacity 0.3s ease;
    transition-delay:1ms;
    box-shadow:3px 2px 5px rgba(136, 136, 136, 0.3);
    max-width: 27em;
}

table.fallback {
    border: 2px crimson solid;
}

table.info {
    border: 2px lightskyblue solid;
}

table.info tr {
    font-size: 80%;
}

tr td {
    border-top: 2px palegoldenrod solid;
    margin: 0.2em;
}

tr:first-of-type td {
    border-top: none;
}

.ideograph a {
    text-decoration: none;
}

.ideograph {
    white-space: nowrap;
    font-size: 1.2em;
}

td.meaning{

}

.current_lookup {
    background: yellow;
    padding: 0.1em;
    margin: -0.1em;
}

button#zh2en {
    position: fixed;
    right: 0;
}

body {
    max-width: 40em;
    margin: auto;
}